<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "surveys", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "surveys" %>
  <script src='http://www.google.com/jsapi'></script>
  <%= csrf_meta_tags %>
</head>
<body id="surveys">
<!--Body content (BEGIN)-->
<div class="container">
  <div class="row">
    <header class="span3">
      <%= yield %>
    </header>
  </div>
</div>
<!--Body content (END)-->
</body>
</html>

