<div>
    <%= form_for [@group, @message] do |f| %>
    <% if @group %>
    	<%= f.text_field :subject, :placeholder => 'Subject', :class => 'span8 input-xlarge startfocus' %><br />
    	<%= f.text_area :content, :rows => '25', :class => 'span8 simple_editor' %>
    <% else %>
    	<%= f.text_field :subject, :placeholder => 'Subject', :class => 'span11 input-xlarge startfocus' %><br />
    	<%= f.text_area :content, :rows => '25', :class => 'span11 simple_editor' %>
    <% end %>
    
    <%= f.submit "Update discussion topic", :class => 'btn' %> or <%= link_to 'cancel', '#', :class => 'close_form' %>
    <% end %>
</div>