<tr>
	<td>
		<% unless message.archived %>
			<h3 class="pull-left"><i class="icon-comment"></i></h3>
		<% else %>
			<h3 class="pull-left"><i class="icon-inbox"></i></h3>
		<% end %>
	</td>
	<td>
		<% if @page %>
			<strong><%= link_to " " + message.subject, message_path(message, page: @page.id) %></strong> - 
		<% else %>
			<strong><%= link_to " " + message.subject, message %></strong> - 
		<% end %>
		<%= truncate(strip_tags(message.content), :length => 210, :separator => ' ', :omission => '...').gsub("&nbsp;", " ") %>
		<%= raw("<strong>Moderators: </strong>") + message.moderators.map { |m| m.person.name }.to_sentence if message.moderators.count > 0 %>
	</td>
	<td class="span3"><strong><%= link_to message.owner.name, message.owner %></strong>
		<% if message.tags.pluck(:name).present? %><br>
          <span class="label label-inverse" style="margin-left: 0px;"> 
          	<%= message.tags.pluck(:name).to_sentence.upcase %>
      	  </span>
        <% end %>
     </td>
	<td class="span1">
		<h5 style="color: grey;">
		<% unless message.archived %>
			<% if message.last_activity_time == Time.now.to_date %>
				<%= l message.last_activity_time, :format => :time %>
			<% else %>
				<%= l message.last_activity_time.to_date, :format => :short %>
			<% end %>
		<% else %>
			Archived
		<% end %>
		</h5>
	</td>
	<td class="span1">
		<% if message.impressionist_count(:filter=>:user_id) > 0 %>
		<span class="badge badge-inverse pull-right"><%= link_to message.impressionist_count(:filter=>:user_id).to_s + " Views", message_path(message), :style => 'color:white;' %></span>
		<% end %>
		<% if message.comments.count > 0 %>
		<br />
		<span class="badge badge-inverse pull-right"><%= link_to message.comments.count.to_s + " Comments", message_path(message) + '#comments', :style => 'color:white;' %></span>
		<% end %>
	</td>
</tr>
	
