<% if params[:tag_name] %>
	<%= link_to page_path(@page) do %>
		<h2 class="btn"><i class="icon-circle-arrow-left"></i> Back to <%= @page.title %> </h2>
	<% end %>
	<%= link_to messages_path do %>
		<h2 class="btn"><i class="icon-bullhorn"></i> See Unrelated Discussions </h2>
	<% end %>
<% end %>
<% if @messages.count > 0 %>
	<div id="message_content_border">
	  <div id="message_content_box">
		  	<% if can? :create, Message %>
				<%= link_to 'Start a new discussion', new_message_path, :class => 'btn pull-right' %>
			<% end %>
			<% if params[:tag_name] %>
				<h1 class="ribbon-left">Active Related Discussions</h1>
			<% else %>
				<h1 class="ribbon-left">Active Discussions</h1>
			<% end %>
			

			<table class="table messages">
				<%= render @messages.reverse %>
			</table>

		</div>
	</div>
<% end %>
<% if @archived_messages.count > 0 %>
	<div id="message_content_border">
	  <div id="message_content_box">
	  	<% if @archived_messages %>

	  		<% if params[:tag_name] %>
	  			<h2 class="ribbon-left">Archived Related Discussions</h2>
			<% else %>
				<h2 class="ribbon-left">Archived Discussions</h2>
			<% end %>
			

			<table class="table messages">
				<%= render @archived_messages.reverse %>
			</table>
			<% end %>
		</div>
	</div>
<% end %>
	
