<div id="message_content_border">
  <div id="message_content" style="padding-top: 75px;">
		<h1 class="ribbon-left">Discussions</h1>

		<table class="table messages">
			<% @messages.reverse.each do |message| %>
		  <tr>
		    <td>
		  		<strong><%= link_to message.subject, message %></strong> - 
		  		<%= truncate(strip_tags(message.content), :length => 210, :separator => ' ', :omission => '...') %>
			  </td>
		    <td class="span2"><strong><%= message.owner.name %></strong></td>
		    <td class="span1"><%= message.last_activity_time.to_date.to_s(:short) %></td>
		    <td class="span1"><span class="badge badge-inverse"><%= message.comments.count %></span></td>
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Message', new_message_path, :class => 'btn' %>
	</div>
</div>
	
