<% content_for :adminbar do %>
	<ul>
		<li>
	      <%= link_to edit_polymorphic_path([@group, @message])  do %>
	      <i class="icon-edit"></i><br><p>Edit <br>message</p>
	      <% end %>
	    </li>
		<li>
	       <% if @message.archived == true %>
		  	<%= link_to unarchive_message_path(@message) do %>
		  		<i class="icon-inbox"></i> <p>Unarchive</p>
		  	<% end %>
		  <% else %>
		  	<%= link_to archive_message_path(@message) do %>
		  		<i class="icon-inbox"></i> <p>Archive</p>
		  	<% end %>
		<% end %>
	    </li>
		<li>
	      <%= link_to polymorphic_path([@group, @message]), method: 'delete', :confirm => "Are you sure?" do %>
	      	<i class="icon-trash"></i><br><p>Delete <br>message</p>
	      <% end %>
	    </li>
		<li>
		<%= link_to "#modal-settings", 'data-toggle' => "modal" do %>
			<i class="icon-cog"></i><br /><p>Message <br>Settings</p>
		<% end %>
		</li>
	</ul>
<% end %>

<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-settings">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="Hero">
    		<%= form_for @message, { :remote => true } do |f| %>
          <b>tag: </b>
          <%= select_tag('message[tag_list]', options_for_select(@all_tags, :selected => @tag), :include_blank => true, :class => 'submittable') %>
        <% end %>
      </div>  
	  </div>	
	
		<div class="modal-footer">
		  <%= button_to 'Back to page', @message %>
		</div>
	</div>	
<% end %>

<ul class="pager">
  	<% if @page %>
  		<li class=""><%= link_to raw("&larr; Related Discussions"), tagged_messages_path(@tag, page: @page.id) %></li>
  		<li class=""><%= link_to raw("&larr; Back to #{@page.title}"), page_path(@page) %></li>
  	<% else %>
  		<% unless @group %>
    		<li class="previous"><%= link_to raw("&larr; Back to Discussions"), messages_url %></li>
    	<% end %>
    <% end %>
</ul>

<div id="message_content_border">
  <div id="message_content_box">
  	<h1 class="pull-right" style="color: grey">
  	  <%= @message.published_at.to_date.to_s(:short) %>
  	</h1>
  	<h1 id="comments"><%= @message.subject %></h1>
    <hr />
	<%= raw @message.content %>
	<br /><br />
    <% if browser.ie8? || browser.ie7? %>
      <h1><i class="icon-comment"></i> Comments:</h1>
    <% else %>
	    <h1 class="ribbon-left">Comments:</h1>
    <% end %>
	<%= render :partial => 'shared/comment_hidden_form' if can? :comment_on, @message %>
    <%= render :partial => 'shared/comment', :collection => @message.comments.reverse %>
  </div>
</div>