	<ul class="pager">
	  <li class="previous">
	    <%= link_to raw("&larr; Back to Messages"), messages_url %>
	  </li>
	</ul>
<div id="message_content_border">
  <div id="message_content_box">
  	<h1 class="pull-right" style="color: grey">
  	  <%= @message.published_at.to_date.to_s(:short) %>
  	</h1>
  	<h1 id="comments"><%= @message.subject %></h1>
    <hr />
	<% if can? :manage, @message %>
		<div class="btn-group pull-right">
		  <%= link_to raw('<i class="icon-pencil"></i>'), edit_message_url(@message), :class => 'btn' %>
		  <%= link_to raw('<i class="icon-remove"></i>'), @message, :method => 'delete', :class => 'btn', :confirm => "Are you sure?" %>
		</div>
	<% end %>
	<%= raw @message.content %>
	<br /><br />
	 <h1 class="ribbon-left">Comments:</h1>
	<%= render :partial => 'shared/comment_hidden_form' %>
    <%= render :partial => 'shared/comment', :collection => @message.comments.reverse %>
  </div>
</div>