	<ul class="pager">
	  <li class="previous">
	    <%= link_to raw("&larr; Back to Messages"), messages_url %>
	  </li>
	</ul>
<div id="message_content_border">
  <div id="message_content_box">
	 <h1 class="ribbon-left">Discussion Topic:</h1>
  	<h1 class="pull-right" style="color: grey">
  	  <%= @message.published_at.to_date.to_s(:short) %>
  	</h1>
  	<h1><%= @message.subject %></h1>
    <hr />
	<% if can? :manage, @message %>
		<div class="btn-group pull-right">
		  <%= link_to raw('<i class="icon-pencil"></i>'), edit_message_url(@message), :class => 'btn' %>
		  <%= link_to raw('<i class="icon-remove"></i>'), @message, :method => 'delete', :class => 'btn', :confirm => "Are you sure?" %>
		</div>
	<% end %>
	<h3><%= raw @message.content %></h3>
	<br />
	 <h1 class="ribbon-left">Comments:</h1>
    <hr />
    <div class="hidden_form">
    <a href="#" class="toggle_form">Add a comment to the discussion</a>
    <%= form_for [@message, Comment.new], :html => {:class => 'hide'} do |f| %>
    <h2>Add a comment</h2>
    <%= f.text_area :content, :rows => '5', :class => 'span11 simple_editor' %>
    <%= f.submit nil, :class => 'btn' %> or <%= link_to 'cancel', '#', :class => 'close_form' %>
    <% end %>
    </div>
    <hr />
    <% @message.comments.reverse.each do |comment| %>
    <blockquote>
      <%= link_to raw('&times'), message_comment_path(@message.id, comment.id), :class => 'close hide pull-right', :method => :delete, :confirm => "Are you sure?" if can? :manage, comment %>
      <p><%= raw comment.content %></p>
      <small><%= comment.author.name %>, <%= comment.author.company.name %></small>
    </blockquote>
    <% end %>
  </div>
</div>