<% unless post.level == 'committee' && params[:action] == 'index' && cannot?(:read, post)%> 
  <div class="page <%= "watermark-draft" unless post.published? %>">
    <article id="post-<%= post.id %>">
        
        <% if post.level == 'pro' && params[:action] == 'index' %>
          <h1 class="ribbon-right ribbon-info"><%= post.level.capitalize %></h1>
        <% end %>
        <% if post.level == 'committee' && params[:action] == 'index' %>
          <h1 class="ribbon-right ribbon-info ribbon-member"><%= 'Member' %></h1>
        <% end %>

        <div class="btn-toolbar pull-right">
          <% if can?(:edit, post) && params[:action] == 'show' %>
            <div class="btn-group">
              <%= link_to "/editor" + request.path, class: 'btn', id: "edit_link", data: {save_url: mercury_update_blog_post_path(post)} do %>
                <i class="icon-pencil"></i> Edit Post
              <% end %>
            </div>
          <% end %>
          <% if can?(:publish, post) && params[:action] == 'show' %>
            <%= publish_toggle(post) %>
            
            <% unless params[:mercury_frame] %>
              <div class="editor_selector">
                <%= form_for post, { :remote => true } do |f| %>
                  <% editors = @editors.all.map { |editor| [editor.name, editor.id] } %>
                  <b>Assign this post to: </b>
                  <%= select_tag('post[author_id]', options_for_select(editors, :selected => post.author.id), :include_blank => true, :class => 'submittable') %>
                <% end %>
              </div>
            <% end %>
            
            <div id="post_level_selector", class="control-group radio inline" >
              <%= form_for post, { :remote => true, :class => 'radio inline' } do |f| %>
                <%= f.radio_button :level, "public", :class => 'submittable' %><%= f.label :level, 'Public' %>
                <%= f.radio_button :level, "basic", :class => 'submittable' %><%= f.label :level, 'Basic' %>
                <%= f.radio_button :level, "pro", :class => 'submittable' %><%= f.label :level, 'Pro' %>
                <%= f.radio_button :level, "committee", :class => 'submittable' %><%= f.label :level, 'Member' %>
              <% end %>
            </div>
          <% end %>

        </div>
    
        <h1 class="post_title">
          <% if params[:action] == 'show' %>
            <div id="post_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= post.title.html_safe %></div>
          <% else %>
            <%= link_to post.title.html_safe, blog_post_path(post)  %>
          <% end %>
          <span class="post_date"><%= short_date(post) %></span>
        </h1>
        
        <h3 id="post_author">by <%= post.author.try(:name) %></h3>

        <% if params[:action] == 'index' && (post_counter > 0 || cannot?(:read, post))  %>
          <div id="post_preview">
            <%= truncate_html(post.body, :seperator => ' ', :length => 700, :omission => ' ...') %>
          </div>
        <% else %>
          <div id="post_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= post.body.html_safe unless params[:action] == 'draft' %></div>
        <% end %>

        <div class="post-footer">
          <hr class="hr-small-margin">
            <p class="pull-right"><span class="post-footer-heading">Published: </span><strong><%= t post.published_at.to_s(:long) if post.published_at.present? %></strong></p><p><span class="post-footer-heading">Updated: </span><strong><%= time_ago_in_words post.updated_at %> ago</strong></p>
          <hr class="hr-small-margin hr-dark">
        </div>
        <br />


      <% if can? :edit, post %>
        <div id="post_management_controls" class="pull-right">
      	 <%= link_to "email this", blog_post_path(post) %> | <%= link_to "claim this post", claim_blog_post_path(post) %> | <%= link_to "archive this post", blog_post_path(post), :method => 'delete', :confirm => "Are you sure?" %>
      	</div>
      <% end %>
      <% if false %>
        <% if params[:action] == 'show' %>
            <h1 class="ribbon-left">Comments:</h1>
            <%= render :partial => 'shared/comment_hidden_form' %>
            <%= render :partial => 'shared/comment', :collection => @post.comments.reverse %>
        <% end %>
      <% end %> 
    </article>
  </div>
<% end %>

<% if params[:action] == 'show' && post.author && post.author.respond_to?(:bio) && post.author.bio.present? %>
  <div id="about_author" class="">
    <div class="thumbnail pull-left" style="background-color: white; margin-right: 15px;">
      <%= avatar_for post.author %>
      <h5><%= post.author.name %></h5>
      <p><%= post.author.company.name %></p>
    </div>
    <h3>About the author</h3>
    <p><%= post.author.bio %></p>
    <div style="clear: both"></div> 
  </div>
<% end %>
