<article id="post-<%= post.id %>">
  <h2 class="post_title">
    <% if params[:action] == 'show' %>
      <span id="post_title" class="mercury-region" data-type="editable"><%= post.title.html_safe %></span>
    <% else %>
      <%= link_to post.title.html_safe, blog_post_path(post)  %>
    <% end %>
    <span class="post_date">
      <% if post.created_at.to_date == Time.now.to_date %>
  			<%= l post.created_at, :format => :time %>
  		<% else %>
  			<%= l post.created_at.to_date, :format => :short %>
  		<% end %>
		</span>
		<% if params[:action] == 'show' %>
  		<% if can? :edit, post %>
    		<%= link_to "/editor" + request.path, class: 'btn', rel: 'tooltip', title: 'Edit Post', id: "edit_link", data: {save_url: mercury_update_blog_post_path(post)} do %>
        	<i class="icon-pencil"></i> Edit Post
      	<% end %>
      <% end %>
  		<% if can? :destroy, post %>
      	<%= link_to blog_post_path(post), :method => 'delete', :class => 'btn btn-danger', :confirm => "Are you sure?" do %>
      	  <i class="icon-remove icon-white"></i> Delete Post
      	<% end %>
      <% end %>
  	<% end %>
	</h2>
  <% if post.author %><p><strong>by <%= post.author.name %></strong></p><% end %>
  <p class="post_body"><div id="post_body" class="mercury-region" data-type="editable"><%= post.body.html_safe %></div></p>
  <br><br>
  <% if params[:action] == 'show' && post.author && post.author.bio %>
    <div class="well">
      <div class="thumbnail pull-left" style="background-color: white; margin-right: 15px;">
        <%= avatar_for post.author %>
          <h5><%= post.author.name %></h5>
          <p><%= post.author.company.name %></p>
        </div>
        <h3>About the author</h3>
        <p><%= post.author.bio %></p>
       <div style="clear: both"></div> 
  </div>
  <% end %>
</article>