<article id="post-<%= post.id %>">
  <h2 class="post_title">
    <% if params[:action] == 'show' %>
      <span id="post_title" class="mercury-region" data-type="editable"><%= post.title.html_safe %></span>
    <% else %>
      <%= link_to post.title.html_safe, blog_post_path(post)  %>
    <% end %>
    <span class="post_date">
      <% if post.created_at.to_date == Time.now.to_date %>
  			<%= l post.created_at, :format => :time %>
  		<% else %>
  			<%= l post.created_at.to_date, :format => :short %>
  		<% end %>
		</span>
	</h2>
  <% if post.author %><p><strong>by <%= post.author.name %></strong></p><% end %>
  <p class="post_body"><div id="post_body" class="mercury-region" data-type="editable"><%= post.body.html_safe %></div></p>
  <br><br>
  <% if params[:action] == 'show' && post.author %>
    <div class="well">
      <div class="thumbnail pull-left" style="background-color: white; margin-right: 15px;">
        <%= avatar_for post.author %>
          <h5><%= post.author.name %></h5>
          <p><%= post.author.company.name %></p>
        </div>
        <h3>About the author</h3>
        <p>Jim helped grow a boutique energy utility PR firm, Potomac Communications Group, and then was recruited to help lead and develop the energy and environment accounts in the Public Affairs practice at Ogilvy Public Relations Worldwide ultimately as Senior Vice President.
          <br><br>
       He launched Pierobon &amp; Partners LLC in 2006 to integrate his offerings with his growing network of fellow marketing and communications pros throughout the U.S. He and his colleagues have served clients such as the U.S. Nuclear Regulatory Commission, Committee ...</p>
       <button class="btn pull-right">Go to profile</button>
       <div style="clear: both"></div> 
  </div>
  <% end %>
</article>