  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name = "viewport" content = "user-scalable=no, width=device-width">

<div id="warning_message" style="margin-bottom: 20px;">
  <%= render 'shared/browser_warning' %>
</div>

<div class="span4 offset4">
  <center><%= image_tag "ccro_long.png", :width => '250', style: 'padding-top: 20px;' %></center><br />
  
  <div id="notices">
  	<% flash.each do |key, msg| %>
  	  <div id="notice_<%= key %>" class="alert alert-<%= key %>">
        <a class="close" data-dismiss="alert">×</a>
        <strong><%=  key.to_s.capitalize %>:</strong> <%= msg %>
      </div>
  	<% end %>
  </div>
  
  <%= form_tag sessions_path, :class => "well" do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, nil, :placeholder => "your@email.com", :autocapitalize => "off", type: 'email' %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="field">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </div>
    <div class="actions"><%= submit_tag "Log In", :class => "btn" %> <%= link_to 'register', new_person_path %> | <%= link_to 'forgot password', forgot_password_path %></div>
  <% end%>
</div>

<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>