<div id="password-reset" class="new">
	<div class="offset1">
		<table>
			<tr>
        <td valign="top"><%= image_tag "ccro_short.png", :width => 250, :id => 'logo_short' %></td>
		<td valign="top" class="span5">
      		<h2>Forgot Password</h2>
      		<br />
      		<%= form_tag forgot_password_path, :class => 'form-inline', :method => :post do %>
      		   Your Email: <%= text_field_tag :email, params[:email], :placeholder => 'User Account Email' %>
      		  <p><br></p>
            <%= submit_tag "Reset Password", :class => 'btn' %>
      		<% end %>
			<div id="notices">
				<% flash.each do |key, msg| %>
				  <div id="notice_<%= key %>" class="alert alert-<%= key %>">
			      <a class="close" data-dismiss="alert">×</a>
			      <strong><%=  key.to_s.capitalize %>:</strong> <%= msg %>
			    </div>
				<% end %>
			</div>
			
        </td>
      </tr>
    </table>
	</div>
</div>