<% if @company && can?(:manage, @company) %>
<div class="pull-right"><%= button_to(new_person_path, :class => 'btn') do %><i class="icon-plus"></i> New Person<% end %></div>
<br /><br />
<% end %>
 <% if current_user && current_user.admin? %>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name <%= link_to(people_path(:sort => 'name')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Level <%= link_to(people_path(:sort => 'level')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Company <%= link_to(people_path(:sort => 'company')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Email <%= link_to(people_path(:sort => 'email')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Mobile <%= link_to(people_path(:sort => 'mobile_phone')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Browser <%= link_to(people_path(:sort => 'mobile_phone')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= status_icon(person.highrise_id.present?) %> <%= link_to person.name, person %> <% if person.primary_contact? %><span class="label pull-right">Primary</span><% end %><% if person.billing_contact? %><span class="label pull-right">Billing</span><% end %><%= content_tag(:span, person.role, :class => "label label-important pull-right") if person.role %></td>
      <td><%= person.level if person.level %></td>
      <td><%= link_to person.company.name, person.company if person.company %></td>
      <td><%= status_icon(person.verified?) %> <%= person.email %> <%= link_to('resend email', resend_activation_person_path(person)) unless person.verified? %></td>
      <td><%= status_icon(person.mobile_phone.present?) %> <%= raw("<span class=\"badge badge-inverse\">PIN: #{person.pin_code}</span>") + " " + number_to_phone(person.mobile_phone)  %> <%= link_to('send instructions', send_mobile_activation_person_path(person)) unless person.mobile_phone.present? %></td>
      <td><%= last_browser_info_for_person(person)  %></td>
      <td>
        <div class="btn-group">
          <%= button_to 'Edit', edit_person_path(person) %>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'View in Highrise', highrise_url(person) unless person.highrise_id.blank? %></li>
            <% unless person.highrise_id.blank? %>
				<li class="divider"></li>
			<% end %>
            <li><%= link_to 'Login as user', su_person_path(person) if can? :su, person %></li>
            <li><%= link_to 'Delete', person, confirm: 'Are you sure?', method: :delete %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>

<content>

  <% @people.each do |person| %>
    <% if person.level == "company_member" || person.level == "leadership" || person.name == "Bob Anderson" %>
      <div class="well pull-left" style="height:110px; width:40%; margin-left:30px;">
            <%= avatar_for(person, :class => 'pull-left', style: 'width: 100px; padding-right:10px') %>
            <h2 style="padding"><%= link_to person.name, person %></h2>
            <strong><%= person.company.name %></strong><br>
            <%= person.email %>
      </div>
    <% end %>
  <% end %>
</content>

<% if false %>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name <%= link_to(people_path(:sort => 'name')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Company <%= link_to(people_path(:sort => 'company')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Email <%= link_to(people_path(:sort => 'email')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <% if person.level == "committee" || person.level == "admin" %>
      <tr>
        <td><span class="badge badge"><%= person.groups.count %></span> <%= link_to person.name, person %></td>
        <td><%= link_to person.company.name, person.company if person.company %></td>
        <td><%= person.email %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<br>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name <%= link_to(people_path(:sort => 'name')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Company <%= link_to(people_path(:sort => 'company')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
    <th>Email <%= link_to(people_path(:sort => 'email')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <% unless person.level == "committee" || person.level == "admin" %>
      <tr>
        <td><span class="badge badge"><%= person.groups.count %></span> <%= link_to person.name, person %></td>
        <td><%= link_to person.company.name, person.company if person.company %></td>
        <td><%= person.email %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% end %>
<% end %>
