<%= javascript_tag "var companies = #{ @companies.to_json };" %>
<div class="row">
	<div class="well span8 offset2">
    <% if current_user && current_user.admin? %>
      <h2>Who would you like to create an account for?</h2>
    <% else %>
      <h2>Tell us who you are</h2>
    <% end %>
  <%= javascript_tag "var companies = #{ @companies.to_json };" %>

  <%= form_for(@person, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend></legend>
      <div class="control-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_name %>
        </div>
      </div>  
      <div class="control-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
      </div>
      <% if current_user && current_user.admin? %>
        <div class="well">
          <h4 style="margin-left:120px;">This area is available to Admins only</h4><br>
          <div class="control-group">
            <%= f.label :job_title, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :job_title %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :company_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :company_name, :value => (@person.company.name if @person.company), :placeholder => 'Company Name', :autocomplete => 'off', :class => 'typeahead' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
        <%= f.text_field :email %>
        <% if current_user && current_user.admin? %>
        <p class="help-block">This will be their login username.</p>
        <% else %>
        <p class="help-block">This will be your login username.</p>
        <% end %>
        </div>
      </div>

      <div class="control-group">

        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          
          <%= f.password_field :password %><br /><br />
          <%= f.password_field :password_confirmation %>
          <p class="help-block">Enter password and confirm by entering again.</p>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <%= f.submit "Sign In", :class => 'btn' %> or <%= link_to 'back', :back %>
    </div>

  <% end %>
	</div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('.typeahead').typeahead({source: companies});
    console.log(companies);
    $('.typeahead, ul.typeahead.dropdown > a').bind('keyup change focus blur mouseup', function() {
      if(jQuery.inArray($(this).val(), companies) != -1) {
        $(this).closest('.control-group').addClass('success').removeClass('error').children('p.help-block').text("Company found.")
      } else {
        $(this).closest('.control-group').addClass('error').removeClass('success').children('p.help-block').text("Company will be created.")
      }
      if($(this).val() == "") {
        $(this).closest('.control-group').removeClass('error').removeClass('success').children('p.help-block').text("Contact support if you can't find your company listed.")
      }
    });
    });
</script>ß
