<ul class="breadcrumb">
  <li><a href="#">Directory</a> <span class="divider">/</span></li>
  <li><a href="/people">People</a> <span class="divider">/</span></li>
  <li class="active"><%= link_to @person.name, @person %></li>
</ul>
 	<ul class="thumbnails">
     <li class="span2">
       <a href="#" class="thumbnail">
         <%= avatar_for @person %>
       </a>
     </li>
   </ul>
<p>
	
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Company:</b>
  <%= @person.company.name if @person.company %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>
<p>
  <b>Verifed:</b>
  <%= @person.verified %>
</p>
<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> | <%= link_to 'Subscriptions', person_subscriptions_path(@person) %> | 
<%= link_to 'Back', people_path %>
