    <% attachment = Attachment.find(result.id) %>
    <% highlights = Array.new %>
    <% highlights << result.highlight.description if result.highlight.try(:description) %>
    <% highlights << result.highlight.content if result.highlight.try(:content) %>
    <tr>
        <td>
          <% if can? :edit, attachment %>
            <h3><%= link_to result.title, attachment, :target => '_blank' %> <%= content_tag(:span, attachment.tag_list, :class => 'label label-inverse') if attachment.tag_list.present? %></h3>
            <% elsif can? :read, attachment %>
            <h3><%= link_to result.title, attachment, :target => '_blank' %> <%= content_tag(:span, attachment.tag_list, :class => 'label label-inverse') if attachment.tag_list.present? %></h3>
            <% else %>
            <h3><%= result.title %> <%= content_tag(:span, attachment.tag_list, :class => 'label label-inverse') if attachment.tag_list.present? %></h3>
            <% end %>
          <%= if attachment.thumbnail.present? 
              link_to attachment, :target => '_blank' do 
                image_tag(attachment.thumbnail, class: 'pull-left', style: 'border: 1px solid lightgrey; padding: 2px; margin: 3px;')  
              end
            end %>
            <h4></h4>
            <p><%= raw highlights.take(4).join(" ... ") %></p>
        </td>
        <td width="250">
           <%= star_rating((result._score / (max_score / 4) + 1).round, 5) %>
            <% if attachment.published.present? %>
            Published: <%= attachment.published %><br />
            <% end %>
            <% if attachment.author.present? %>
            Source: <%= attachment.author.name %><br />
            <% end %>
            Size: <%= number_to_human_size attachment.file_size %><br />
            <% if attachment.owner.present? %>
            <% if can? :read, attachment.owner %> 
            In group: <%= link_to attachment.owner.name, attachment.owner %><br />
            <% else %>
            In group: <%= attachment.owner.name %><br />
            <% end %>
            <% end %>
            <i class="icon-eye-open" <%= raw 'style="color:lightgrey;"' unless can? :read, attachment %>></i> 
            <i class="icon-comment" <%= raw 'style="color:lightgrey;"' unless (attachment.commentable? && can?(:comment_on, attachment)) %>></i> 
            <i class="icon-print" <%= raw 'style="color:lightgrey;"' unless (attachment.downloadable? && can?(:download, attachment)) %>></i>
<!--             <span class="label label-important">Full Members</span><br />
        <span class="label label-important">Participating Members</span><br />
        <span class="label label-important">Subscribers</span><br /> -->
        </p>
        <% if can? :edit, attachment %>
          <span class="link-group">
            <%= link_to 'Edit', edit_polymorphic_path([@group, attachment]) %> | 
            <%= link_to 'Delete', polymorphic_path([@group, attachment]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, attachment %>
          </span>
        <% end %>
      </td>
    </tr>