<div class="row">
	<div class="well span8 offset2">
	<h1>CCRO User Registration</h1>
  <%= javascript_tag "var companies = #{ @companies.to_json };" %>

  <%= form_tag signups_path, :html => {:class => 'form-horizontal'} do %>

    <fieldset>
      <legend>User Information</legend>
      <div class="control-group">
        <%= label_tag 'Password', :class => 'control-label' %>
        <div class="controls">
          <%= password_field_tag :password %><br /><br />
          <%= password_field_tag :password_confirmation %>
          <p class="help-block">Enter password and confirm by entering again.</p>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <%= submit_tag nil, :class => 'btn' %> or <%= link_to 'back', :back %>
    </div>

  <% end %>
	</div>
</div>

