<% if params[:action] == 'show'%>

  <div>
    <article id="group-<%= group.id %>">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Name:</b>
        <%= @group.name %>
      </p>

      People
      <ul>
        <% @group.memberships.each do |membership| %>
        <li>
          <%= sticker_for membership.person %>
        </li>
        <% end %>
      </ul>

      <%= link_to 'Edit', edit_group_path(@group) %> |
      <%= link_to 'Back', groups_path %>
    </article>
  </div>

<% end %>
