<% if params[:action] == 'show'%>

  <div>
    <article id="group-<%= group.id %>">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Name:</b>
        <%= @group.name %>
      </p>

      People
      <ul>
        <% @group.memberships.each do |membership| %>
        <li>
          <%= sticker_for membership.person %>
        </li>
        <% end %>
      </ul>

      <%= link_to 'Edit', edit_group_path(@group) %> |
      <%= link_to 'Back', groups_path %>
    </article>
  </div>

  <% content_for :aside do %>
    <% if current_user.level == 'admin' %>
      <div class="well">
        <ul class="nav nav-list">
          <li><%= link_to 'New Document For this Group', new_group_document_path(@group) %></li>
          <li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %>New Page For this Group<% end %></li>
          <li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %>New Article For this Group<% end %></li>
          <li><%= link_to 'New Discussion For this Group', new_group_message_path(@group) %></li>
        </ul>
      </div>
    <% end %>

    <% if @pages.length > 0 || @articles.length > 0 || @messages.length > 0 %>
      <div class="well">
        <ul class="nav nav-list">

          <% if @pages.length > 0 %>
            <% @pages.each do |p| %>
              <li><%= link_to p.title.html_safe, page_path(p) %></li>
            <% end %>
          <% end %>

          <% if @group_document.length > 0 %>
            <li class="nav-header"><%= 'Working Group Documents' %></li>
            <% @group_document.each do |d| %>
              <li><%= link_to d.title.html_safe, document_path(d) %></li>
            <% end %>
          <% end %>
          
          <% if @articles.length > 0 %>
            <li class="nav-header"> Working Group Articles </li>
            <% @articles.each do |a| %>
              <li><%= link_to a.title.html_safe, page_path(a) %></li>
            <% end %>
          <% end %>
          
          <% if @messages.length > 0 %>
            <li class="nav-header"> Working Group Discussions </li>
            <% @messages.each do |m| %>
              <li><%= link_to m.subject.html_safe, messages_path(m) %></li>
            <% end %>
          <% end %>  
        </ul>
      </div>
    <% end %>


    <% if @smart_list.length > 0 %>
      <div class="well">
        <ul class="nav nav-list">
          <li class="nav-header"> Working Group Members </li> 
          <% @smart_list.each do |person| %>
            <%= sticker_for person %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
