
<% if params[:action] == 'show'%>
  <div>
    <article id="group-<%= group.id %>">
      <p id="notice"><%= notice %></p>
		  <div class="accordion" id="accordion1">
		  	<% @group_resources.each do |i| %>

		  		<% if i.class == Message %>
				  	<div class="accordion-group">
					    <div class="accordion-heading">
					    	<% this_href = '#message' + i.id.to_s %>
					    	<% this_id = 'message' + i.id.to_s %>
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=<%= this_href %> >
					      	<% if i.created_at == i.updated_at %>
					      		<% author = Person.find(i.author_id)%>
					      		<span class="label label-warning">DISCUSSION</span> "<%= i.subject %>" was created by: <%= author.name %> 
					        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      	<% else %>
					      		<span class="label label-warning">DISCUSSION</span> "<%= i.subject%>" has been updated 
					        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      	<% end %>
					      </a>
					    </div>
					    <div id=<%= this_id %> class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%= i.content.html_safe %>
					        <br><%= link_to "Go to this Discussion", polymorphic_path([@group, i]) %>
					      </div>
					    </div>
				  	</div>
				  <% end %>

		  		<% if i.class == Post %>
				  	<div class="accordion-group">
					    <div class="accordion-heading">
					    	<% this_href = '#post' + i.id.to_s %>
					    	<% this_id = 'post' + i.id.to_s %>
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=<%= this_href %>>
					      	<% time_shift = i.created_at + 37000 %>
					      	<% if i.updated_at < time_shift %>
					      		<% author = Person.find(i.author_id)%>
					      		<span class="label label-info">UPDATE</span> "<%= i.title %>" was created by: <%= author.name %> 
					        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      	<% else %>
					      		<% updator = Person.find(i.locker_id) if i.locker_id %>
					      		<% if updator %>
						      		<span class="label label-info">UPDATE</span> "<%= i.title %>" was updated by: <%= updator.name %> 
						        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					        	<% else %>
					        		<span class="label label-info">UPDATE</span> "<%= i.title %>" has been updated
						        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					        	<% end %>
					      	<% end %>
					      </a>
					    </div>
					    <div id=<%= this_id %> class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%=raw i.body.split('[---MORE---]').first + " ..." %><b><%= link_to 'continued', polymorphic_path([@group, i])  %></b>
					      </div>
					    </div>
				  	</div>
				  <% end %>

				  <% if i.class == Page %>
				  	<div class="accordion-group">
					    <div class="accordion-heading">
					    	<% this_href = '#page' + i.id.to_s %>
					    	<% this_id = 'page' + i.id.to_s %>
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=<%= this_href %>>
					      	<% time_shift = i.created_at + 75000 %>
					      	<% if i.updated_at < time_shift %>
					      		<% author = Person.find(i.author_id)%>
					      		<span class="label label-success">PAGE</span> "<%= i.title%>" was created by: <%= author.name %>
					        	<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      	<% else %>
					      		<% updator = Person.find(i.locker_id) if i.locker_id %>
					      		<% if updator %>
					      			<span class="label label-success">PAGE</span> "<%= i.title%>" was updated by: <%= updator.name %>
					        		<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					        	<% else %>
					        		<span class="label label-success">PAGE</span> "<%= i.title%>" has been updated
					        		<div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					        	<% end %>
				        	<% end %>
					      </a>
					    </div>
					    <div id=<%= this_id %> class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%= i.body.html_safe %>
					      </div>
					    </div>
				  	</div>
				  <% end %>

				  <% if i.class == Attachment %>
				  	<div class="accordion-group">
					    <div class="accordion-heading">
					    	<% this_href = '#attachment' + i.id.to_s %>
					    	<% this_id = 'attachment' + i.id.to_s %>
					    	<% author = Person.find(i.author_id)%>
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=<%= this_href %>>
					        <span class="label label-important">DOCUMENT</span> "<%= i.title%>" was created by: <%= author.name %>
					        <div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      </a>
					    </div>
					    <div id=<%= this_id %> class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%= i.description %>
					        <br><%= link_to "Work on this Document", polymorphic_path([@group, i]) %>
					      </div>
					    </div>
				  	</div>
				  <% end %>

				  <% if i.class == Comment %>
				  	<div class="accordion-group">
					    <div class="accordion-heading">
					    	<% this_href = '#comment' + i.id.to_s %>
					    	<% this_id = 'comment' + i.id.to_s %>
					    	<% author = Person.where(id: i.author_id).first %>
					    	<% message = Message.where(id: i.commentable_id).first %>
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href=<%= this_href %> >
					        <span class="label label">COMMENT</span> From: <%= author.name %> on "<%= message.subject %>"
					        <div class="pull-right"><%= time_ago_in_words(i.updated_at) %> ago</div>
					      </a>
					    </div>
					    <div id=<%= this_id %> class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%= i.content.html_safe %>
					        <br><%= link_to "See this whole Discussion", polymorphic_path([@group, message]) %>
					      </div>
					    </div>
				  	</div>
				  <% end %>
				<% end %>
			</div>
    </article>
  </div>
<% end %>

