    <% if current_user && current_user.level == 'admin' %>
      <div class="well">
        <ul class="nav nav-list">
          <li><%= link_to 'New Document For this Group', new_group_document_path(@group) %></li>
          <li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %>New Page For this Group<% end %></li>
          <li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %>New Article For this Group<% end %></li>
          <li><%= link_to 'New Discussion For this Group', new_group_message_path(@group) %></li>
        </ul>
      </div>
    <% end %>

    <% if @pages && @pages.length > 0 || @articles && @articles.length > 0 || @messages && @messages.length > 0 || @group_document && @group_document.length > 0 %>
      <div class="well">
        <ul class="nav nav-list">

          <% if @pages && @pages.length > 0 %>
            <li class="nav-header"><%= 'Working Group Pages' %></li>
            <% @pages.each do |p| %>
              <li><%= link_to p.title.html_safe, group_page_path(@group, p) %></li>
            <% end %>
          <% end %>

          <% if @group_document && @group_document.length > 0 %>
            <li class="nav-header"><%= 'Working Group Documents' %></li>
            <% @group_document.each do |d| %>
              <li><%= link_to d.title.html_safe, document_path(d) %></li>
            <% end %>
          <% end %>


          <% if false%>
          
            <% if @articles && @articles.length > 0 %>
              <li class="nav-header"> Working Group Articles </li>
              <% @articles.each do |a| %>
                <li><%= link_to a.title.html_safe, polymorphic_path([@group, a]) %></li>
              <% end %>
            <% end %>

          <% end %>
          
          <% if @messages && @messages.length > 0 %>
            <li class="nav-header"> Working Group Discussions </li>
            <% @messages.each do |m| %>
              <li><%= link_to m.subject.html_safe, message_path(m) %></li>
            <% end %>
          <% end %>  
        </ul>
      </div>
      <div class="well">
        <%= link_to 'Group News and Updates', group_posts_path(@group), class: 'btn' %>
      </div>
    <% end %>


    <% if @smart_list && @smart_list.length > 0 %>
      <div class="well">
        <ul class="nav nav-list">
          <li class="nav-header"> Working Group Members </li> 
          <% @smart_list.each do |person| %>
            <%= sticker_for person %>
          <% end %>
        </ul>
      </div>
    <% end %>