<% if @billboards %>
  <% @billboards.each do |billboard| %>
    <% if billboard.location == "group sidebar top" && (billboard.group_id == @group.id || billboard.group_id.nil?) %>
      <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
        <%= billboard.body.html_safe %>
        <% if current_user && current_user.admin? %>
          <div id="edit_billboard<%= billboard.id %>", class="hide billboard_edit_buton" style="text-align:center" >
            <%= link_to "Edit this billboard", edit_billboard_path(billboard), class: "btn btn-info", style: "width:80%; margin-top:10px;" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="well">
  <% if @group.people.include? current_user %>
  <div class="accordion" id="accordion1">
    <div class="accordion-group">
      <div class="accordion-heading" style="position: relative;">
        <% if browser.ie8? || browser.ie7? %>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#group_phone_info" >
              <span class="label label-inverse">Conference Line</span> 
              <br>
              <%= number_to_phone @group.conf_phone %>
          <% else %>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#group_phone_info" >
              <span class="label label-inverse">Conference Line</span> <%= number_to_phone @group.conf_phone %>
          <% end %>
          <br><div style="margin-top:10px;, margin-right:20%;"><small>Get your PIN</small></div>
        </a>
      </div>
      <div id="group_phone_info" class="accordion-body collapse">
        <div class="accordion-inner">
          <% if current_user %>
            <% if current_user.verified %>
            <p><%= current_user.name %>, your personal pin is: <%= current_user.pin_code %>.</p>
            <p>You have already validated the phone number: <%= number_to_phone current_user.mobile_phone %></p>
            <p>You will no longer be asked for your pin code when calling in on CCRO conferences from the validated number.<p>
            <% else %>
            <%= current_user.name %>, your personal pin is: <%= current_user.pin_code %>. Your personal pin code is your password for all conference calls. For ease of use you can validate your phone by texting your pin code to 281-815-4177. Once this is done you will no longer be asked for your pin code when calling in on CCRO conferences.
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <% if current_user && current_user.committee? %>
      <%= link_to 'Join This Working Group', join_group_path(@group), class: 'btn btn-info btn-large', style: 'margin-bottom: 20px; margin-left:0; padding-left: 25%; padding-right: 25%;' %>
    <% end %>
  <% end %>

  <ul class="nav nav-list">
    <li class="nav-header"><%= 'Working Group Resources' %></li>
    
    <% if @group.overview_page %>
      <% pages_length = @pages.length - 1 %>
      <% if @page && @page.id == @group.overview_page %>
        <li style="background-color: #E6E6E6;", class="active"><%= link_to Page.find_by_id(@group.overview_page).title, Page.find_by_id(@group.overview_page) %></li>
      <% else %>
        <li><%= link_to Page.find_by_id(@group.overview_page).title, Page.find_by_id(@group.overview_page)if @group.overview_page %></li>
      <% end %>
    <% else %>
      <% pages_length = @pages.length %>
    <% end %>

    <% if @articles && @total_articles.length > 0 %>
      <% unless @article || @page || @message || params[:controller] == 'attachments' %>
        <li style="background-color: #E6E6E6;", class="active"><span class="badge pull-left" style="margin-top: 4px; margin-right: 5px;"><%= @total_articles.length %></span> <%= link_to group_posts_path(@group) do %> Blog posts <i class="icon-arrow-left"></i></li><% end %>
      <% else %>
        <li><span class="badge pull-left" style="margin-top: 4px; margin-right: 5px;"><%= @total_articles.length %></span> <%= link_to " Blog posts", group_posts_path(@group) %></li>
      <% end %>
    <% end %>

    <% if @group.attachments && @attachments.length > 0 %>
      <% if params[:controller] == 'attachments' %>
        <li style="background-color: #E6E6E6;", class="active"><span class="badge pull-left" style="margin-top: 4px; margin-right: 5px;"><%= @attachments.length %></span> <%= link_to group_attachments_path(@group) do %> Uploaded Files <i class="icon-arrow-left"></i></li><% end %>
      <% else %>
        <li><span class="badge pull-left" style="margin-top: 4px; margin-right: 5px;"><%= @attachments.length %></span> <%= link_to " Uploaded Files", group_attachments_path(@group) %></li>
      <% end %>
    <% end %>
    



    <% if @pages && pages_length > 0 %>
      </br>
      <li class="divider"></li>
      <li class="nav-header">Articles </li>
      <% @pages.each do |p| %>
          
         <% unless p.id == @group.overview_page %>
            <% if @page && p.title == @page.title %>
              <li style="background-color: #E6E6E6;", class="active"><%= link_to group_page_path(@group, p) do %><%= p.title + " " %><i class="icon-arrow-left"></i></li><% end %>
            <% else %>
              <% if can? :read, Page.find_by_id(p.id) %>
                <li><%= link_to p.title.html_safe, group_page_path(@group, p) %>
              <% else %>
                <li><%= p.title.html_safe %> </li>
              <% end %>
            <% end %>
          <% end %>  
          
        </li>
      <% end %>
    <% end %>

    <% if @group_document && @group_document.length > 0 %>
      </br>
      <li class="divider"></li>
      <li class="nav-header"><%= 'Documents' %></li>
      <% @group_document.each do |d| %>
        <li><%= link_to d.title.html_safe, document_path(d) %></li>
      <% end %>
    <% end %>
    
    <% if @messages && @messages.length > 0 %>
      </br>
      <li class="divider"></li>
      <li class="nav-header">Discussions </li>
      <% @messages.each do |m| %>
        <% if @message && m.subject == @message.subject %>
          <li style="background-color: #E6E6E6;", class="active"><%= link_to group_message_path(@group, m) do %><%= m.subject + " " %><i class="icon-arrow-left"></i></li><% end %>
        <% else %>
          <% if can? :read, Message.find_by_id(m.id) %>
            <li><%= link_to m.subject.html_safe, polymorphic_path([@group, m]) %></li>
          <% else %>
            <li><%= m.subject.html_safe %></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if false %>

      <% @these_attachments = @group.attachments.where(archived: 'false') if @attachments %>
      <% if @attachments && @these_attachments.length > 0 %>
        <li class="nav-header"> Files and Attachments </li>
        
        <% @these_attachments.limit(3).each do |m| %>
            <li><%= link_to strip_tags(m.title), polymorphic_path([@group, m]), target: "_blank" %></li>
        <% end %>
        <% if @these_attachments.length > 3 %>
          <li><i><%= link_to "See all #{@these_attachments.length} uploads" , group_attachments_path(@group) %></i></li>
        <% end %>
      <% end %>

      <% if @articles && @articles.length > 0 %>
        <li class="nav-header"> News and Update Items </li>
        <% @articles.each do |m| %>
          <% if @article && m.id == @article.id %>
            <li style="background-color: #E6E6E6;", class="active"><%= link_to group_posts_path(@group, m) do %><%= strip_tags m.title + " " %><i class="icon-arrow-left"></i></li><% end %>
          <% else %>
            <li><%= link_to strip_tags(m.title), polymorphic_path([@group, m]) %></li>
          <% end %>
        <% end %>
        <% if @total_articles.length > 3 %>
          <li><i><%= link_to "See all #{@total_articles.length} articles" , @group %></i></li>
        <% end %>
      <% end %>

    <% end %>
  </ul>
</div>

<% if @billboards %>
  <% @billboards.each do |billboard| %>
    <% if billboard.location == "group sidebar after first menu" && (billboard.group_id == @group.id || billboard.group_id.nil?) %>
      <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
        <%= billboard.body.html_safe %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% @co_chairs = @group.memberships.where(fuction: 'chair').map { |membership| membership.person unless membership.person.nil? } %>
<% @coordinators = @group.memberships.where(fuction: 'coordinator').map { |membership| membership.person unless membership.person.nil? } %>
<% @group_memberships = @group.memberships.all.map { |membership| membership.person unless membership.person.nil? } %>
<% if (@co_chairs && @co_chairs.length > 0) || (@coordinators && @coordinators.length > 0) %>
  <div class="well">
    <ul class="nav nav-list" style="padding-left:0px;">
      <% if @co_chairs && (@co_chairs.length > 0 && @co_chairs.length < 2) %>
        <li class="nav-header"><%= 'Group Chair' %></li>
      <% elsif @co_chairs && @co_chairs.length > 1 %>
        <li class="nav-header"><%= 'Group Co-chairs' %></li>
      <% end %>
      <% if @co_chairs && (@co_chairs.length > 0) %>
        <% @co_chairs.each do |person| %>
          <% unless person.nil? %>
            <%= link_to person do %>
              <div style="width:108%; margin-bottom:5px;"> 
                <li><%= sticker_for(person) %></il>
              </div>
            <% end %>
          <% end%>
        <% end %>
      <% end %>
      <% if @coordinators && (@coordinators.length > 0 && @coordinators.length < 2) %>
        <li class="nav-header"><%= 'Group Coordinator' %></li>
      <% elsif @coordinators && @coordinators.length > 1 %>
        <li class="nav-header"><%= 'Group Coordinators' %></li>
      <% end %>
      <% if @coordinators && (@coordinators.length > 0) %>
        <% @coordinators.each do |person| %>
          <% unless person.nil? %>
            <%= link_to person do %>
              <div style="width:108%; margin-bottom:5px;">
                <li><%= sticker_for(person)%></il>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <li style="text-align:center; padding-top:10px;"><%= link_to "See all #{@group.memberships.length} participants", group_memberships_path(@group) %></li>
    </ul>
  </div>
<% elsif @group_memberships.length > 0 %>
  <div class="well">
    <ul class="nav nav-list" style="padding-left:0px;">
      <% if @group_memberships && (@group_memberships.length > 0 && @group_memberships.length < 2) %>
        <li class="nav-header"><%= 'Participant' %></li>
      <% elsif @group_memberships && @group_memberships.length > 1 %>
        <li class="nav-header"><%= 'Participants' %></li>
      <% end %>
      <% if @group_memberships && (@group_memberships.length > 0) %>
        <% @group_memberships.each do |person| %>
          <% unless person.nil? %>
            <%= link_to person do %>
              <div style="width:108%; margin-bottom:5px;"> 
                <li><%= sticker_for(person) %></il>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <li style="text-align:center; padding-top:10px;"><%= link_to "See all #{@group.memberships.length} participants", group_memberships_path(@group) %></li>
    </ul>
  </div>
<% end %>

<% if @billboards %>
  <% @billboards.each do |billboard| %>
    <% if billboard.location == "group sidebar after last menu" && (billboard.group_id == @group.id || billboard.group_id.nil?) %>
      <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
        <%= billboard.body.html_safe %>
      </div>
    <% end %>
  <% end %>
<% end %>

<span class="btn" style="width:90%; margin-bottom: 20px; margin-left: 0px; padding-right:15px;"><%= link_to 'Group Activity', show_activity_group_path(@group) %></span>

<% if current_user && current_user.admin? %>
  <script>
    $(".billboard").mouseenter(function (event) {
      $('.billboard_edit_buton').removeClass('hide');
    });
    $(".billboard_edit_buton").mouseenter(function (event) {
      $('.billboard_edit_buton').removeClass('hide');
    });
    $(".billboard").mouseleave(function (event) {
      $('.billboard_edit_buton').addClass('hide');
    });
  </script>
<% end %>