<div class="well">
  <% if @group.people.include? current_user %>
  <div class="accordion" id="accordion1">
    <div class="accordion-group">
      <div class="accordion-heading" style="position: relative;">
        <% if browser.ie8? || browser.ie7? %>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#group_phone_info" >
              <span class="label label-inverse">Conference Line</span> 
              <br>
              <%= number_to_phone @group.conf_phone %>
          <% else %>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#group_phone_info" >
              <span class="label label-inverse">Conference Line</span> <%= number_to_phone @group.conf_phone %>
          <% end %>
          <br><div style="margin-top:10px;, margin-right:20%;"><small>Get your PIN</small></div>
        </a>
      </div>
      <div id="group_phone_info" class="accordion-body collapse">
        <div class="accordion-inner">
          <% if current_user %>
            <% if current_user.verified %>
            <p><%= current_user.name %>, your personal pin is: <%= current_user.pin_code %>.</p>
            <p>You have already validated the phone number: <%= number_to_phone current_user.mobile_phone %></p>
            <p>You will no longer be asked for your pin code when calling in on CCRO conferences from the validated number.<p>
            <% else %>
            <%= current_user.name %>, your personal pin is: <%= current_user.pin_code %>. Your personal pin code is your password for all conference calls. For ease of use you can validate your phone by texting your pin code to 281-815-4177. Once this is done you will no longer be asked for your pin code when calling in on CCRO conferences.
            <% end %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <% if current_user && current_user.committee? %>
      <%= link_to 'Join This Working Group', join_group_path(@group), class: 'btn btn-info btn-large', style: 'margin-bottom: 20px; margin-left:0; padding-left: 25%; padding-right: 25%;' %>
    <% end %>
  <% end %>
  <ul class="nav nav-list">
    <li class="nav-header"><%= 'Working Group Information' %></li>
    <% unless @article || @page || @message || params[:controller] == 'attachments' %>
      <li style="background-color: #E6E6E6;", class="active"><%= link_to @group do %>Group News and Updates <i class="icon-arrow-left"></i></li><% end %>
    <% else %>
      <li><%= link_to "Group News and Updates", @group %></li>
    <% end %>

    <% if @pages && @pages.length > 0 %>
      <% @pages.each do |p| %>
          <% if can? :read, p %>
            <% if @page && p.title == @page.title %>
              <li style="background-color: #E6E6E6;", class="active"><%= link_to group_page_path(@group, p) do %><%= p.title + " " %><i class="icon-arrow-left"></i></li><% end %>
            <% else %>
              <li><%= link_to p.title.html_safe, group_page_path(@group, p) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  
    <% if @group.attachments && @group.attachments.length > 0 %>
      <% if params[:controller] == 'attachments' %>
        <li style="background-color: #E6E6E6;", class="active"><%= link_to group_attachments_path(@group) do %>Files<i class="icon-arrow-left"></i></li><% end %>
      <% else %>
        <li><%= link_to "Files", group_attachments_path(@group) %></li>
      <% end %>
    <% end %>

    <% if @group_document && @group_document.length > 0 %>
      <li class="nav-header"><%= 'Working Group Documents' %></li>
      <% @group_document.each do |d| %>
        <li><%= link_to d.title.html_safe, document_path(d) %></li>
      <% end %>
    <% end %>

    
    <% if @messages && @messages.length > 0 %>
      <li class="nav-header"> Working Group Discussions </li>
      <% @messages.each do |m| %>
        <% if @message && m.subject == @message.subject %>
          <li style="background-color: #E6E6E6;", class="active"><%= link_to group_message_path(@group, m) do %><%= m.subject + " " %><i class="icon-arrow-left"></i></li><% end %>
        <% else %>
          <li><%= link_to m.subject.html_safe, polymorphic_path([@group, m]) %></li>
        <% end %>
      <% end %>
    <% end %>

    <% @these_attachments = @group.attachments.where(archived: 'false') if @attachments %>
    <% if @attachments && @these_attachments.length > 0 %>
      <li class="nav-header"> Files and Attachments </li>
      
      <% @these_attachments.limit(3).each do |m| %>
          <li><%= link_to strip_tags(m.title), polymorphic_path([@group, m]) %></li>
      <% end %>
      <% if @these_attachments.length > 3 %>
        <li><i><%= link_to "See all #{@these_attachments.length} uploads" , group_attachments_path(@group) %></i></li>
      <% end %>
    <% end %>

    <% if @articles && @articles.length > 0 %>
      <li class="nav-header"> News and Update Items </li>
      <% @articles.each do |m| %>
        <% if @article && m.id == @article.id %>
          <li style="background-color: #E6E6E6;", class="active"><%= link_to group_posts_path(@group, m) do %><%= strip_tags m.title + " " %><i class="icon-arrow-left"></i></li><% end %>
        <% else %>
          <li><%= link_to strip_tags(m.title), polymorphic_path([@group, m]) %></li>
        <% end %>
      <% end %>
      <% if @total_articles.length > 3 %>
        <li><i><%= link_to "See all #{@total_articles.length} articles" , @group %></i></li>
      <% end %>
    <% end %>
  </ul>
</div>

<% @co_chairs = @group.memberships.where(fuction: 'chair').map { |membership| membership.person } %>
<% @coordinators = @group.memberships.where(fuction: 'coordinator').map { |membership| membership.person } %>
<% @group_memberships = @group.memberships.all.map { |membership| membership.person } %>
<% if (@co_chairs && @co_chairs.length > 0) || (@coordinators && @coordinators.length > 0) %>
  <div class="well">
    <ul class="nav nav-list" style="padding-left:0px;">
      <% if @co_chairs && (@co_chairs.length > 0 && @co_chairs.length < 2) %>
        <li class="nav-header"><%= 'Group Chair' %></li>
      <% elsif @co_chairs && @co_chairs.length > 1 %>
        <li class="nav-header"><%= 'Group Co-chairs' %></li>
      <% end %>
      <% if @co_chairs && (@co_chairs.length > 0) %>
        <% @co_chairs.each do |person| %>
          <%= link_to person do %> 
            <li><%= sticker_for(person) %></il>
          <% end %>
        <% end %>
      <% end %>
      <% if @coordinators && (@coordinators.length > 0 && @coordinators.length < 2) %>
        <li class="nav-header"><%= 'Group Coordinator' %></li>
      <% elsif @coordinators && @coordinators.length > 1 %>
        <li class="nav-header"><%= 'Group Coordinators' %></li>
      <% end %>
      <% if @coordinators && (@coordinators.length > 0) %>
        <% @coordinators.each do |person| %>
          <%= link_to person do %> 
            <li><%= sticker_for(person) %></il>
          <% end %>
        <% end %>
      <% end %>
      <li style="text-align:center; padding-top:10px;"><%= link_to "See all #{@group.memberships.length} participants", group_memberships_path(@group) %></li>
    </ul>
  </div>
<% elsif @group_memberships.length > 0 %>
  <div class="well">
    <ul class="nav nav-list" style="padding-left:0px;">
      <% if @group_memberships && (@group_memberships.length > 0 && @group_memberships.length < 2) %>
        <li class="nav-header"><%= 'Participant' %></li>
      <% elsif @group_memberships && @group_memberships.length > 1 %>
        <li class="nav-header"><%= 'Participants' %></li>
      <% end %>
      <% if @group_memberships && (@group_memberships.length > 0) %>
        <% @group_memberships.each do |person| %>
          <%= link_to person do %> 
            <li><%= sticker_for(person) %></il>
          <% end %>
        <% end %>
      <% end %>
      <li style="text-align:center; padding-top:10px;"><%= link_to "See all #{@group.memberships.length} participants", group_memberships_path(@group) %></li>
    </ul>
  </div>
<% end %>

<span class="btn" style="width:90%; margin-bottom: 20px; margin-left: 0px; padding-right:15px;"><%= link_to 'Group Activity', show_activity_group_path(@group) %></span>