<% content_for :adminbar do %>
	<ul>
		<li>
	    <%= link_to group_path(@group), method: 'delete', :confirm => "Are you sure?" do %>
	    	<i class="icon-trash"></i><br><p>Delete <br>group</p>
	    <% end %>
	  </li>
		<li><%= link_to "#modal-share_link", 'data-toggle' => "modal" do %><i class="icon-link"></i><br /><p>Share <br>group</p><% end %></li>
		<li><%= link_to "#modal-settings", 'data-toggle' => "modal" do %><i class="icon-cog"></i><br /><p>group <br>Settings</p><% end %></li>
	</ul>
<% end %>

<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-settings">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>group Settings</h3>
    </div>
    <div class="modal-body center">
			<table cellpadding="10">
			</table>
    </div>
    <div class="modal-footer">
       <%= button_to 'Back to group', @group %>
    </div>
  </div>
<% end %>

<%= render @group %>
