<% content_for :adminbar do %>
	<ul>
		<li>
	    <%= link_to group_path(@group), method: 'delete', :confirm => "Are you sure?" do %>
	    	<i class="icon-trash"></i><br><p>Delete <br>group</p>
	    <% end %>
	  </li>
		<li><%= link_to "#modal-settings", 'data-toggle' => "modal" do %><i class="icon-cog"></i><br /><p>group <br>Settings</p><% end %></li>
	</ul>
<% end %>

<%= render @group %>

<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-new-post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Post</h3>
    </div>
    <div class="modal-body center">
    <%= form_for [@group, Post.new] do |f| %>
      <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New post title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  </div>
    <div class="modal-footer">
      <%= f.submit "Create new draft", :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<% end %>