<div id="adminbar">
  <%= yield :adminbar %>
	<ul class="pull-right">
		<li><%= link_to posts_path do %><i class="icon-bullhorn"></i><br><p>Blog</p><% end %></li>
		<li><%= link_to pages_path do %><i class="icon-book"></i><br><p>Pages</p><% end %></li>
		<li><%= link_to polling_sessions_path do %><i class="icon-signal"></i><br><p>Polls</p><% end %></li>
		<li><%= link_to tags_path do %><i class="icon-tags"></i><br><p>Tags Tool</p><% end %></li>
		<li>
      <%= link_to people_path do %>
      <i class="icon-user"></i><br><p>Users</p>
      <% end %>
    </li>
	</ul>
</div>