<% if current_user %>
	<div class="clearfix"></div>
    <footer>
        <div class="row">
            <div class="span6">
                <div style="text-align: center; padding: 10px;" class="well">
                    Committee of Chief Risk Officers (CCRO) is an independent non-profit corporation of member companies.&nbsp;
                </div>
            </div>
            <div class="span6" style="text-align: right;">
                <!--<a href="/application/jobs"><b>We're Hiring!</b></a>&nbsp;&nbsp;&nbsp;&nbsp; --><a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="#">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a>
            </div>
        </div>
    </footer>  
    </div>

  <div class="modal hide fade" id="modal-window">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>Loading...</h3>
    </div>
    <div class="modal-body center">
        <%= image_tag "loading.gif" %>
    </div>
    <div class="modal-footer">&nbsp;</div>
  </div>

  <div class="modal hide fade" id="modal-current_user">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3><%= current_user.name %></h3>
    </div>
    <div class="modal-body center">
	<table cellpadding="10">
		<tr>
			<td>
      <ul class="thumbnails">
        <li class="span2">
          <a href="#" class="thumbnail">
            <%= avatar_for current_user %>
          </a>
        </li>
      </ul>
	  </td>
	  <td valign="top">
      <p>Company: <%= current_user.company.name if current_user.company %><br />
      Role: <%= current_user.role.capitalize if current_user.role %><br />
      Email: <%= mail_to current_user.email %><br />
      Access Token: <%= raw '&bull;' * current_user.access_token.length %> <%= clippy(current_user.access_token) %></p>
	  </td>
	  </tr>
	  </table>
    </div>
    <div class="modal-footer">
      <%= button_to 'Logout', logout_path, :class => 'btn-danger' %>
      <%= button_to 'View Company', current_user.company if current_user.company %>
      <%= button_to 'View Profile', current_user %>
    </div>
  </div>

  <% if @post %>
    <div class="modal hide fade" id="modal-share_link">
      <div class="modal-header">
        <h1><%= @post.title.html_safe %></h1>
      </div>
      <div class="modal-body center">
        <h2>Share this post:</h2>
        <p><%= shared_post_url(@post.viewing_token)%> <%= clippy(shared_post_url(@post.viewing_token)) %></p>
        <h2>Share by email:</h2>
        <%= form_tag share_post_path(@post), method: 'post', class: 'form-inline' do %>
          <% standard_subject = "#{current_user.name} has shared a CCRO article with you titled \"#{strip_tags(@post.title).strip}\"" %>
          <% standard_body = 
          "Hello,
          
          #{current_user.name} has shared a CCRO article with you titled \"#{strip_tags(@post.title).strip}\"

          #{strip_tags(raw @post.body.split('[---MORE---]').first).strip}
          
          continued here: #{post_url}"%>
          <h4>subject</h4>
          <%= text_area_tag 'my_subject', standard_subject,  rows: 1, style: 'width: 95%; important!' %><br><br>
          <h4>body</h4>
          <%= text_area_tag 'short_message', standard_body, rows: 5, style: 'width: 95%; important!' %><br><br>
          <h4>intended recipient/s</h4>
          <%= text_field_tag 'email_list', nil, rows: 1, style: 'width: 80%; important!' %>
          <%= submit_tag 'Send', class: 'btn' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @document %>
    <div class="modal hide fade" id="modal-share_link">
      <div class="modal-header">
        <h1><%= @document.title.html_safe %></h1>
      </div>
      <div class="modal-body center">
        <h2>Share this document:</h2>
        <p><%= shared_document_url(@document.viewing_token)%> <%= clippy(shared_document_url(@document.viewing_token)) %></p>
       </div>
    </div>
  <% end %>
<% end %>
