  <% @about_pages = Page.where(published: true).tagged_with("about").sort! { |a,b| a.position <=> b.position } %>
  <% if current_user %>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <% if params[:action] == 'show' && params[:controller] == 'surveys' && @survey.company_survey == true %>
          <div id="logo" class="span2 pull-left" style="margin-top:8px; margin-bottom:5px; margin-left: 0px;">
            <%= link_to image_tag(asset_path('ccro_long.png')), root_path %> 
          </div>
        <% else %>
          <% if current_user.level == 'basic' %>
            <%= link_to "CCRO", posts_path, class: "brand", style: "color: white;" %>
          <% elsif current_user.level == 'pro'%>
            <%= link_to "CCRO Pro", posts_path, class: "brand", style: "color: white;" %>
          <% elsif current_user.level == 'participant'%>
           <%= link_to "CCRO Participant", posts_path, class: "brand", style: "color: white;" %>
          <% elsif current_user.level == 'committee'%>
           <%= link_to "CCRO Member", posts_path, class: "brand", style: "color: white;" %>
          <% elsif current_user.level == 'admin' %>
            <% if false %>
              <%= link_to posts_path, class: "brand", style: "color: white;" do %>
                  CCRO Admin <i class="icon-caret-down icon-white"></i>
              <% end %>
            <% end %>

            <!-- Here is the admin dropdown menu -->
            <ul class="nav pull-left">
              <li class="divider-vertical"></li>  
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle brand" data-toggle="dropdown" style="color:white;">
                      CCRO Admin <i class="icon-caret-down icon-white"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <% if params[:action] == 'edit'%>
                      <% if @post %>
                        <li><%= link_to 'Save post edits', "javascript:document.getElementById(\"edit_post_#{@post.id}\").submit();" %></li>
                        <li><%= link_to "Cancel post edits", cancel_post_path(@post) %></li>
                        <li class="divider"></li>
                      <% elsif @page %>
                        <li><%= link_to 'Save page edits', "javascript:document.getElementById(\"edit_page_#{@page.id}\").submit();" %></li>
                        <li><%= link_to "Cancel page edits", cancel_page_path(@page) %></li>
                        <li class="divider"></li>
                      <% end %>
                    <% end %>
                    <li><%= link_to "Home", :root %></li>
                     <li><%= link_to 'change Back to my account', su_person_path(session[:user_id]) if session[:su_user_id] %></li>
                     <% if current_user and current_user.admin? %>
                      <li class="divider"></li>
                      
                      <% if @page %>
                        <li><a href="#"><strong>Admin options for the page: <%= @page.title.html_safe %></strong></a></li>
                        <% if @group %>
                          <li><%= link_to edit_group_page_path(@group, @page) do %><i class="icon-file"></i> Edit this page<% end %></li>
                        <% else %>
                          <li><%= link_to edit_page_path(@page) do %><i class="icon-file"></i> Edit this page<% end %></li>
                        <% end %>
                        <li><%= link_to "#modal-share-page", 'data-toggle' => "modal" do %><i class="icon-file"></i> Share page <% end %></li>
                        <li><%= link_to "#modal-page-settings", 'data-toggle' => "modal" do %><i class="icon-file"></i> Page settings<% end %></li>
                        <li><%= link_to duplicate_page_path(@page) do %><i class="icon-file"></i> Duplicate this page<% end %></li>
                        <li><%= link_to polymorphic_path([@group, @page]), method: 'delete', :confirm => "Are you sure?" do %><i class="icon-file"></i> Delete this page<% end %></li>


                        <li class="divider"></li>
                      <% end %>

                      <% if @post %>
                        <li><a href="#"><strong>Admin options for the post: <%= @post.title.html_safe %></strong></a></li>
                        <% if @group %>
                          <li><%= link_to edit_group_post_path(@group, @post) do %><i class="icon-list-alt"></i> Edit this post<% end %></li>
                        <% else %>
                          <li><%= link_to edit_post_path(@post) do %><i class="icon-list-alt"></i> Edit this post<% end %></li>
                        <% end %>
                        <li><%= link_to "#modal-share-post", 'data-toggle' => "modal" do %><i class="icon-list-alt"></i> Share post<% end %></li>
                        <li><%= link_to "#modal-post-settings", 'data-toggle' => "modal" do %><i class="icon-list-alt"></i> Post settings<% end %></li>
                        <li><%= link_to duplicate_post_path(@post) do %><i class="icon-list-alt"></i> Duplicate this post<% end %></li>
                        <li><%= link_to polymorphic_path([@group, @post]), method: 'delete', :confirm => "Are you sure?" do %><i class="icon-list-alt"></i> Delete this post<% end %></li>

                        <li class="divider"></li>
                      <% end %>

                      <% if @message %>
                        <li><a href="#"><strong>Admin options for the discussion: <%= @message.subject.html_safe %></strong></a></li>
                        <% if @group %>
                          <li><%= link_to edit_group_message_path(@group, @message) do %><i class="icon-comment"></i> Edit this discussion<% end %></li>
                        <% else %>
                          <li><%= link_to edit_message_path(@message) do %><i class="icon-comment"></i> Edit this discussion<% end %></li>
                        <% end %>
                        <li><%= link_to "#modal-message-settings", 'data-toggle' => "modal" do %><i class="icon-comment"></i> Discussion settings<% end %></li>
                        <li><%= link_to archive_message_path(@message) do %><i class="icon-comment"></i> Archive this discussion<% end %></li>

                        <li class="divider"></li>
                      <% end %>

                      <% if @group %>
                        <li><a href="#"><strong>Admin options for the working group: <%= @group.name.html_safe %> </strong></a></li>
                        <li><%= link_to "#modal-new-group-post", 'data-toggle' => "modal" do %><i class="icon-group"></i> New post for this group<% end %></li>
                        <li><%= link_to "#modal-new-group-page", 'data-toggle' => "modal" do %><i class="icon-group"></i> New page for this group<% end %></li>
                        <li><%= link_to new_group_attachment_path(@group) do %><i class="icon-group"></i> New file upload for this group<% end %></li>
                        <li><%= link_to new_group_message_path(@group) do %><i class="icon-group"></i> New discussion for this group<% end %></li>
                        <li><%= link_to edit_group_path(@group) do %><i class="icon-group"></i> Manage this group<% end %></li>
                        <li class="divider"></li>
                        <li><%= link_to group_posts_path(@group) do %><i class="icon-group"></i> Group posts<% end %></li>
                        <li><%= link_to group_pages_path(@group) do %><i class="icon-group"></i> Group pages<% end %></li>
                        <li><%= link_to group_messages_path(@group) do %><i class="icon-group"></i> Group discussions<% end %></li>

                        <li class="divider"></li>
                      <% end %>

                      
                      <li class="dropdown-submenu">
                        <%= link_to pages_path do %>
                          <i class="icon-file"></i> Pages
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %>New page<% end %></li>
                          <li class="divider"></li>
                          <li><%= link_to "All pages", pages_path %></li>
                          <li><%= link_to "Active pages", active_pages_path %></li>
                          <li><%= link_to "My draft pages", my_draft_pages_path %></li>
                          <li><%= link_to "Draft pages", draft_pages_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to posts_path do %>
                          <i class="icon-list-alt"></i> Posts
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %>New post<% end %></li>
                          <li class="divider"></li>
                          <li><%= link_to "All posts", posts_path %></li>
                          <li><%= link_to "Submitted posts", submitted_posts_path %></li>
                          <li><%= link_to "My draft posts", my_draft_posts_path %></li>
                          <li><%= link_to "Draft posts", draft_posts_path %></li>
                          <li><%= link_to "Archived posts", archive_posts_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to groups_path do %>
                          <i class="icon-group"></i> Groups
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to "#modal-new-group", 'data-toggle' => "modal" do %>New group<% end %></li>
                          <li class="divider"></li>
                          <li><%= link_to "Active groups", groups_path %></li>
                          <li><%= link_to "Inactive groups", groups_path(anchor: 'inactive_groups') %></li>
                          <li><%= link_to "Archived groups", archived_groups_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to billboards_path do %>
                          <i class="icon-desktop"></i> Billboards
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to "New Billboard", new_billboard_path %></li>
                          <li class="divider"></li>
                          <li><%= link_to "Active Billboards", billboards_path %></li>
                          <li><%= link_to "Inactive Billboards", billboards_path(anchor: 'inactive_billboards') %></li>
                          <li><%= link_to "Archived Billboards", archived_billboards_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to attachments_path do %>
                          <i class="icon-folder-close"></i> Files
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to new_attachment_path do %> New file upload <% end %></li>
                          <li class="divider"></li> 
                          <li><%= link_to "Working group files", report_attachments_path %></li>
                          <li><%= link_to "File permissions report", report_attachments_path(anchor: 'file_permissions') %></li>
                          <li><%= link_to "All files", attachments_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to surveys_path do %>
                          <i class="icon-list-ul"></i> Surveys
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to "#modal-new-survey", 'data-toggle' => "modal" do %>New survey<% end %></li>
                          <li class="divider"></li>
                          <li><%= link_to "All surveys", surveys_path %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <%= link_to '#' do %>
                          <i class="icon-wrench"></i> Other tools
                        <% end %>
                        <ul class="dropdown-menu">
                          <li><%= link_to new_person_path do %><i class="icon-user"></i> New person <% end %></li>
                          <li><%= link_to messages_path do %><i class="icon-comment"></i> Discussions <% end %></li>
                          <li><%= link_to tags_path do %><i class="icon-tags"></i> Tag maker <% end %></li>
                        </ul>
                      </li>
                    <% end %>  
                  </ul>
                </li>
              </li>
            </ul>

          <% else %>
              <%= link_to "CCRO", posts_path, class: "brand", style: "color: white;" %>
          <% end %>
        <% end %>



        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
            <% unless params[:action] == 'show' && params[:controller] == 'surveys' %>
            <ul class="nav">
              <!-- Research Center Dropdown -->
              <li <%= 'class=active' if params[:controller] == 'articles' || params[:controller] == 'groups' || params[:controller] == 'discussions' || params[:controller] == 'documents' || params[:controller] == 'groups' || params[:controller] == 'posts' || (params[:controller] == 'reports' && params[:action] == 'dashboard') %>><a href="/pages/23-about-ccro-working-groups"><i class="icon-book icon-white"></i> Resource Center</a></li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-calendar icon-white"></i></i> Events</i></a>
                <ul class="dropdown-menu">
                    <li style="padding-right:0px;"><%= link_to "Upcoming Events", "/pages/47" %></li>
                    <li style="padding-right:0px;"><%= link_to "Past events", "/pages/22" %></li>
                </ul>
              </li>

              <li <%= 'class=active' if params[:controller] == 'companies' || params[:controller] == 'people' %>><a href="<%= (current_user.admin?) ? '/people' : '/people' %>"><i class="icon-user icon-white"></i> Directory</a></li>
              
              
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bullhorn icon-white"></i> About The CCRO</i></a>
                <ul class="dropdown-menu">
                  <% @about_pages.each do |p| %>
                    <li style="padding-right:0px;"><%= link_to p.title, p %></li>
                  <% end %>
                  <li><%= link_to "CCRO on LinkedIn", 'http://www.linkedin.com/groups?home=&gid=2130494&trk=anet_ug_hm', target: "_blank" %></li>
                </ul>
              </li>
            </ul>
            <% else %>

              <ul class="nav">
              <!-- Do Survey only nav bar stuff here -->
                
              </ul>

              
            <% end %>
         </div>
         <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Profile", current_user %></li>
              <li><a href="#">Dial-in PIN: <strong><%= current_user.pin_code %></strong></a></li>
              <li class="divider"></li>
              <% if @page %>
                <li><%= link_to "#modal-share-page", 'data-toggle' => "modal" do %><i class="icon-envelope-alt"></i> Share page: <%= @page.title %> <% end %></li>
                <li class="divider"></li>
              <% end %>
              <% if @post %>
                <li><%= link_to "#modal-share-post", 'data-toggle' => "modal" do %><i class="icon-envelope-alt"></i> Share post: <%= @post.title %>  <% end %></li>
                <li class="divider"></li>
              <% end %>
              <% if current_user.memberships %>
                  <li><a href="#"><strong>Jump to:</strong></a></li>
                <% current_user.memberships.each do |membership| %>
                  <li><%= link_to(membership.group.name, membership.group) if membership.group %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <% if session[:su_user_id] %>
                <li><%= link_to 'change Back to my account', su_person_path(session[:user_id]) if session[:su_user_id] %></li>
              <% else %>
                <li><%= link_to "Logout", logout_path %></li>
              <% end %>
              
              <% unless current_user && current_user.admin? %>
                <% if @post && (can? :publish, @post) %>
                  <% if params[:action] == 'edit' %>
                    <li class="divider"></li>
                    <li><%= link_to 'Save post edits', "javascript:document.getElementById(\"edit_post_#{@post.id}\").submit();" %></li>
                    <li><%= link_to "Cancel post edits", cancel_post_path(@post) %></li>
                    
                  <% else %>
                    <li class="divider"></li>
                    <li><a href="#"><strong>Leadership options for the post: <%= @post.title.html_safe %></strong></a></li>
                    <% if @group %>
                      <li><%= link_to edit_group_post_path(@group, @post) do %><i class="icon-list-alt"></i> Edit this post<% end %></li>
                    <% else %>
                      <li><%= link_to edit_post_path(@post) do %><i class="icon-list-alt"></i> Edit this post<% end %></li>
                    <% end %>
                    <li><%= link_to "#modal-share-post", 'data-toggle' => "modal" do %><i class="icon-list-alt"></i> Share post<% end %></li>
                    <li><%= link_to "#modal-post-settings", 'data-toggle' => "modal" do %><i class="icon-list-alt"></i> Post settings<% end %></li>
                    <li><%= link_to polymorphic_path([@group, @post]), method: 'delete', :confirm => "Are you sure?" do %><i class="icon-list-alt"></i> Delete this post<% end %></li>
                    
                  <% end %>
                <% end %>

                <% if @message && (can? :publish, @message) %>

                  <li><a href="#"><strong>Leadership options for the discussion: <%= @message.subject.html_safe %></strong></a></li>
                  <% if @group %>
                    <li><%= link_to edit_group_message_path(@group, @message) do %><i class="icon-comment"></i> Edit this discussion<% end %></li>
                  <% else %>
                    <li><%= link_to edit_message_path(@message) do %><i class="icon-comment"></i> Edit this discussion<% end %></li>
                  <% end %>
                  <li><%= link_to "#modal-message-settings", 'data-toggle' => "modal" do %><i class="icon-comment"></i> Discussion settings<% end %></li>
                  <li><%= link_to archive_message_path(@message) do %><i class="icon-comment"></i> Archive this discussion<% end %></li>
                <% end %>

                <% if @group && (can? :create_in, @group) %>
                  <li class="divider"></li>
                  <li><a href="#"><strong>Group leadership options for the working group: <%= @group.name.html_safe %> </strong></a></li>
                  <li><%= link_to "#modal-new-group-post", 'data-toggle' => "modal" do %><i class="icon-group"></i> New post for this group<% end %></li>
                  <% if false %>
                    <li><%= link_to "#modal-new-group-page", 'data-toggle' => "modal" do %><i class="icon-group"></i> New page for this group<% end %></li>
                  <% end %>
                  <li><%= link_to new_group_attachment_path(@group) do %><i class="icon-group"></i> New file for this group<% end %></li>
                  <li><%= link_to new_group_message_path(@group) do %><i class="icon-group"></i> New discussion for this group<% end %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <%= render 'shared/subnav' %>


<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-search">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>CCRO Search</h3>
      </div>
    <div class="modal-body">
      <div class="well" style="text-align:center;">
      <form action="/search" class="">
        <input type="text" class="search-query" name="q" placeholder="Search">
      </form>
    </div>
    </div>
  </div>

  <% if @post && @post.id %>
    <div class="modal hide fade" id="modal-share-post">
      <div class="modal-header">
        <h1><%= @post.title.html_safe if @post.title %></h1>
      </div>
      <div class="modal-body center">
        <%= form_tag share_post_path(@post), method: 'post', class: 'form-inline' do %>
          <% standard_subject = "#{current_user.name} has shared a CCRO article with you titled \"#{strip_tags(@post.title).strip}\"" %>
          <% standard_body = "none" %>
          <h4 style="padding-bottom:5px;">Email Subject</h4>
          <%= text_area_tag 'my_subject', standard_subject,  rows: 3, style: 'width: 95%; important!' %><br><br>
          <h4 style="padding-bottom:5px;">Short message</h4>
          <%= text_area_tag 'short_message', standard_body, :class => "redactor",  rows: 5, style: 'width: 95%; important! height: 100px; important!' %>

            <div class="control-group radio">
              
              <% if current_user && current_user.admin? %>
                <br><br>
                <h4 style="padding-right:5px;">Test Email <%= check_box_tag('test', 'yes', checked: "true") %>: <%= current_user.email %> </h4>
              <% end %>
              <% if @post.owner_type == 'Group' %>
                <% if current_user && current_user.admin? || current_user && @group.leadership.include?(current_user) %>
                  <h4 style="padding-right:5px;">Working Group Email <%= check_box_tag('working_group', 'yes') %></h4>
                  <h4 style="padding-right:5px;">Working Group Leadership Email <%= check_box_tag('working_group_leadership', 'yes') %></h4>
                <% end %>
              <% end %>
              <% if current_user && current_user.admin? %>
                <h4 style="padding-right:5px;">Leadership level <%= check_box_tag('leadership', 'yes') %></h4>
                <h4 style="padding-right:5px;">Company level <%= check_box_tag('company', 'yes') %></h4>
                <h4 style="padding-right:5px;">Individual level <%= check_box_tag('individual', 'yes') %></h4>
                <h4 style="padding-right:5px;">Basic level <%= check_box_tag('basic', 'yes') %></h4>
                <h4 style="padding-right:5px;">Contacts <%= check_box_tag('contacts', 'yes') %></h4>
              <% end %>
            </div>
          
          <% if current_user && current_user.admin? %>
          <br>
          <h4 style="padding-right:5px; margin-bottom:5px;">Intended Recipient/s <%= radio_button_tag('email_who', 'my_list') %></h4>
          <% elsif current_user %>
            Add email address/es below to share this post, separate multiple addresses with commas. 
            <h4 style="padding-right:5px; margin-bottom:5px;">Intended Recipient/s <%= radio_button_tag('email_who', 'my_list', checked: 'true') %></h4>
          <% end %>
          <%= text_field_tag 'email_list', nil, rows: 1, style: 'width: 80%; important!' %>
          <%= submit_tag 'Send', class: 'btn' %>
        <% end %>
      </div>
    </div>

    <div class="modal hide fade" id="modal-post-settings">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Article Settings</h3>
      </div>
      <div class="modal-body center">
        <table cellpadding="10">
          <tr>
            <td>
              <% if current_user && current_user.admin? && params[:action] == 'show' %>
              
                <div class="control-group radio inline" >
                  <b>Level</b>
                  <%= form_for @post, { :remote => true, :class => 'radio inline' } do |f| %>
                    <%= f.radio_button :level, "public", :class => 'submittable' %><%= f.label :level, 'Public' %>
                    <%= f.radio_button :level, "basic", :class => 'submittable' %><%= f.label :level, 'Basic' %>
                    <%= f.radio_button :level, "pro", :class => 'submittable' %><%= f.label :level, 'Pro' %>
                    <%= f.radio_button :level, "subscriber", :class => 'submittable' %><%= f.label :level, 'Subscriber' %>
                    <%= f.radio_button :level, "individual_member", :class => 'submittable' %><%= f.label :level, 'Individual Member' %>
                    <%= f.radio_button :level, "company_member", :class => 'submittable' %><%= f.label :level, 'Company Member' %>
                    <%= f.radio_button :level, "leadership", :class => 'submittable' %><%= f.label :level, 'Leadership' %>
                  <% end %>
                  <b>Commenting</b>
                  <%= form_for @post, { :remote => true, :class => 'radio inline' } do |f| %>
                    <%= f.radio_button :commenting_enabled, true, :class => 'submittable' %><%= f.label :commenting_enabled, 'Yes' %>
                    <%= f.radio_button :commenting_enabled, false, :class => 'submittable' %><%= f.label :commenting_enabled, 'No' %>
                  <% end %>
                </div>
              <% end %>
            </td>
            <td valign="top">
              <% if current_user && current_user.admin? && params[:action] == 'show' %>
                    
                <% unless params[:mercury_frame] %>
                  <div >
                    <%= form_for [@group, @post], { :remote => true } do |f| %>
                      <% editors = @editors.each.map { |editor| [editor.name, editor.id] } %>
                      <b>Assign this post to: </b>
                      <% if @post.author.nil? %>
                        <%= select_tag('post[author_id]', options_for_select(editors), :include_blank => true, :class => 'submittable') %>
                      <% else %>
                        <%= select_tag('post[author_id]', options_for_select(editors, :selected => @post.author.id), :include_blank => true, :class => 'submittable') %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

              <% if @post.submitted %>
                <p><small>Submited for publication by: <%= link_to Person.find(@post.submitted_by).name, Person.find(@post.submitted_by) %></small></p>
              <% end %>

              <% if current_user && current_user.admin? %>
                <%= publish_toggle(@post) %>
              <% else %>
                <% if @post.owner.class == Group %>
                <%= submit_toggle(@post) %>
                <% end %>
              <% end %>
              <br>
              <%= form_for @post, { :remote => true, :class => 'checkbox inline' } do |f| %>
                <p><%= f.check_box :hidden, :class => 'submittable' %> Hidden</p>
              <% end %>  
            </td>
          </tr>
          <tr>
            <% if current_user && current_user.admin? && params[:action] == 'show' %>
              <td class="Hero">
                <%= form_for @post, { :remote => true } do |f| %>
                  <b>tag: </b>
                  <%= select_tag('post[tag_list]', options_for_select(@all_tags, :selected => @tag), :include_blank => true, :class => 'submittable') %>
                <% end %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
         <%= button_to 'Back to Post', polymorphic_path([@group, @post]) %>
      </div>
    </div>
  <% end %>

  <% if @page && @page.id %>
    <div class="modal hide fade" id="modal-page-settings">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="pull-left" style="padding-right:10px;">Page Settings</h3> <%= page_publish_toggle(@page) %>
      </div>
      <div class="modal-body center">
      <table cellpadding="10" width="100%">
      <tr>
        <td valign="top" width="50%">
          <% if can?(:publish, @page) && params[:action] == 'show' %> 
            <% unless params[:mercury_frame] %>
              <div >
                <%= form_for @page, { :remote => true } do |f| %>
                  <% editors = @editors.each.map { |editor| [editor.name, editor.id] } %>
                    <b>Assign this page to: </b>
                  <% if @page.author.nil? %>
                  <%= select_tag('page[author_id]', options_for_select(editors), :include_blank => true, :class => 'submittable') %>
                  <% else %>
                  <%= select_tag('page[author_id]', options_for_select(editors, :selected => @page.author.id), :include_blank => true, :class => 'submittable') %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </td>

        <td>
          <%= form_for @page, { :remote => true } do |f| %>
            <b>Category tag: </b>
            <%= select_tag('page[tag_list]', options_for_select(@all_tags, :selected => @tag), :include_blank => true, :class => 'submittable') %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          <% if can?(:publish, @page) && params[:action] == 'show' %>  
            <div class="control-group radio inline" >
              <b>Level</b>
              <%= form_for @page, { :remote => true, :class => 'radio inline' } do |f| %>
                <%= f.radio_button :level, "public", :class => 'submittable' %><%= f.label :level, 'Public' %>
                <%= f.radio_button :level, "basic", :class => 'submittable' %><%= f.label :level, 'Basic' %>
                <%= f.radio_button :level, "pro", :class => 'submittable' %><%= f.label :level, 'Pro' %>
                <%= f.radio_button :level, "subscriber", :class => 'submittable' %><%= f.label :level, 'Subscriber' %>
                <%= f.radio_button :level, "individual_member", :class => 'submittable' %><%= f.label :level, 'Individual Member' %>
                <%= f.radio_button :level, "company_member", :class => 'submittable' %><%= f.label :level, 'Company Member' %>
                <%= f.radio_button :level, "leadership", :class => 'submittable' %><%= f.label :level, 'Leadership' %>
              <% end %>
              <b>Commenting</b>
              <%= form_for @page, { :remote => true, :class => 'radio inline' } do |f| %>
                <%= f.radio_button :commenting_enabled, true, :class => 'submittable' %><%= f.label :commenting_enabled, 'Yes' %>
                <%= f.radio_button :commenting_enabled, false, :class => 'submittable' %><%= f.label :commenting_enabled, 'No' %>
              <% end %>
            </div>
          <% end %>
        </td>
        <td>
          <% if @group %>
            <%= link_to 'Set as overview page', set_as_overview_group_path(@group, page: @page)%>
          <% else %>
            <div class="control-group checkbox inline" >
              <div id="stretch_button">
              <b>Stretch mode</b>
              <%= form_for @page, { :remote => true, :class => 'checkbox inline' } do |f| %>
                <%= f.check_box :stretch, :class => 'submittable' %><%= f.label :stretch %>
              <% end %>
              </div>

              <div id="widget">
                <b>Side Bar Widget</b>
                <%= form_for @page, { :remote => true, :class => 'checkbox inline' } do |f| %>
                  <%= f.check_box :pages_enabled, :class => 'submittable' %><%= f.label :pages_enabled %>
                  <%= f.check_box :articles_enabled, :class => 'submittable' %><%= f.label :articles_enabled %>
                  <%= f.check_box :discussions_enabled, :class => 'submittable' %><%= f.label :discussions_enabled %>
                  <%= f.check_box :smart_lists_enabled, :class => 'submittable' %><%= f.label :smart_lists_enabled %>
                <% end %>
              </div>
            </div>
          <% end %>
        </td>  
      </tr>

      </table>
      </div>
      <div class="modal-footer">
         <%= button_to 'Back to page', @page %>
      </div>
    </div>

    <div class="modal hide fade" id="modal-share-page">
      <div class="modal-header">
        <h1><%= @page.title.html_safe if @page.title %></h1>
      </div>
      <div class="modal-body center">
        <h2>Share by email:</h2>
        <%= form_tag share_page_path(@page), method: 'post', class: 'form-inline' do %>
          <% standard_subject = "#{current_user.name} has shared a CCRO article with you titled \"#{strip_tags(@page.title).strip}\"" %>
          <% standard_body = "none" %>
          <h4 style="padding-bottom:5px;">Email Subject</h4>
          <%= text_area_tag 'my_subject', standard_subject,  rows: 3, style: 'width: 95%; important!' %><br><br>
          <h4 style="padding-bottom:5px;">Short message</h4>
          <%= text_area_tag 'short_message', standard_body, :class => "redactor",  rows: 5, style: 'width: 95%; important! height: 100px; important!' %><br><br>
            
              <div class="control-group radio">
                 <div class="control-group radio">
              
              <% if current_user && current_user.admin? %>
                <br><br>
                <h4 style="padding-right:5px;">Test Email <%= check_box_tag('test', 'yes', checked: "true") %>: <%= current_user.email %> </h4>
              <% end %>
              <% if @page.owner_type == 'Group' && (current_user && current_user.admin? || current_user && @group.leadership.include?(current_user)) %>
                <h4 style="padding-right:5px;">Working Group Email <%= check_box_tag('working_group', 'yes') %></h4>
                <h4 style="padding-right:5px;">Working Group Leadership Email <%= check_box_tag('working_group_leadership', 'yes') %></h4>
              <% end %>
              <% if current_user && current_user.admin? %>
                <h4 style="padding-right:5px;">Leadership level <%= check_box_tag('leadership', 'yes') %></h4>
                <h4 style="padding-right:5px;">Company level <%= check_box_tag('company', 'yes') %></h4>
                <h4 style="padding-right:5px;">Individual level <%= check_box_tag('individual', 'yes') %></h4>
                <h4 style="padding-right:5px;">Basic level <%= check_box_tag('basic', 'yes') %></h4>
                <h4 style="padding-right:5px;">Contacts <%= check_box_tag('contacts', 'yes') %></h4>
              <% end %>
            </div>
          
          <% if current_user && current_user.admin? %>
          <br>
          <h4 style="padding-right:5px; margin-bottom:5px;">Intended Recipient/s <%= radio_button_tag('email_who', 'my_list') %></h4>
          <% elsif current_user %>
            Add email address/es below to share this post, separate multiple addresses with commas. 
            <h4 style="padding-right:5px; margin-bottom:5px;">Intended Recipient/s <%= radio_button_tag('email_who', 'my_list', checked: 'true') %>
          <% end %>
          <%= text_field_tag 'email_list', nil, rows: 1, style: 'width: 80%; important!' %>
          <%= submit_tag 'Send', class: 'btn' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @message %>
    <div class="modal hide fade" id="modal-message-settings">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="Hero">
          <%= form_for @message, { :remote => true } do |f| %>
            <b>tag: </b>
            <%= select_tag('message[tag_list]', options_for_select(@all_tags, :selected => @tag), :include_blank => true, :class => 'submittable') %>
          <% end %>
        </div>  
      </div>  
    
      <div class="modal-footer">
        <%= button_to 'Back to page', @message %>
      </div>
    </div>  
  <% end %>

  <div class="modal hide fade" id="modal-new-page">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Page</h3>
    </div>
    <div class="modal-body center">
    <%= form_for Page.new do |f| %>
      <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= f.hidden_field :position, :value => 1 %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Create new draft", :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="modal hide fade" id="modal-new-post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Post</h3>
    </div>
    <div class="modal-body center">
    <%= form_for [@group, Post.new] do |f| %>
      <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New post title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
    <div class="modal-footer">
      <%= f.submit "Create new draft", :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="modal hide fade" id="modal-new-group">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Group</h3>
    </div>
    <div class="modal-body center">
      <%= form_for Group.new do |f| %>
      <%= f.text_field :name, :class => "input-xlarge focused pull-left", :placeholder => "New group name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
    <div class="modal-footer">
      <%= f.submit "Create new Group", :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <div class="modal hide fade" id="modal-new-survey">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Survey</h3>
    </div>
    <div class="modal-body center">
      <%= form_for Survey.new do |f| %>
      <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New group name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    </div>
    <div class="modal-footer">
      <%= f.submit "Create new Survey", :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>

  <% if @group %>
    <div class="modal hide fade" id="modal-new-group-page">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>New Page for: <%= @group.name %></h3>
      </div>
      <div class="modal-body center">
      <%= form_for [@group, Page.new] do |f| %>
        <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= f.hidden_field :position, :value => 1 %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create new draft", :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>

    <div class="modal hide fade" id="modal-new-group-post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>New Post For: <%= @group.name %></h3>
        </div>
        <div class="modal-body center">
        <%= form_for [@group, Post.new] do |f| %>
          <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New post title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </div>
      <div class="modal-footer">
        <%= f.submit "Create new draft", :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  <% end %>

<% end %>

<% end %>
