<% @about_pages = Page.where(published: true).tagged_with("about").sort! { |a,b| a.position <=> b.position } %>
<% @group_pages = Page.where(published: true).tagged_with("groups").sort! { |a,b| a.position <=> b.position } %>

<header class="fatty <%='collapse' if params[:action] == 'show' || ['drafts', 'my_drafts'].include?(params[:filter]) %> " style="overflow:visible;;">
  <div id='fatty_basket' class="container">
    <div id='fatty_nav'class="row">

      <div id="logo" class="span3">
        <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300', :id => 'header_logo'), root_path %> 
      </div>
      <div class="span4" style="margin-left: 0px; width: 460px; position: relative; z-index: 1000;">
        <ul id="nav_links">
          <li padding-left: 10px;><%= link_to 'Home', posts_path %></li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <% @about_pages.each do |p| %>
                <li style="padding-right:0px;"><%= link_to p.title, p %></li>
              <% end %>
            </ul>
          </li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">File Library<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li style="padding-right:0px;"><%= link_to 'Local File Library', attachments_path %></li>
              <li style="padding-right:0px;"><%= link_to 'Store', 'http://www.amazon.com/gp/browse.html?ie=UTF8&marketplaceID=ATVPDKIKX0DER&me=A3OWOTQ4UZUTOZ' %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">CCRO Working Groups<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <% @group_pages.each do |p| %>
                <li style="padding-right:0px;"><%= link_to p.title, p %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

      <div id="login_tools" class="span5" style="width: 410px;">  
        <%= form_tag  :sessions, :class => "pull-right form-inline" do %>
          <%= hidden_field_tag :remember_me, '1' %>
          <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
          <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
          <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
        <% end %>
      </div> 
      <div id="login-subtext" class="pull-right">
        <%= link_to 'register', new_person_path %> | <%= link_to 'forgot password', forgot_password_path %>
     </div> 
    </div>
    <% if params[:controller] == 'posts' && params[:action] == 'index'%>
      <div id="header_expanded" class="row">
        <div id="promo_video" class="span8">
          <img id="video" src="https://s3.amazonaws.com/ccro_static/empty_office.png" width="770" height="432" frameborder="0" >
        </div>
        <div id="header_promo" class="span4">
          <h1>Committee of Chief Risk Officers:</h1>
          <p>Advancing Best Practices for Energy Companies</p>
          <p>
            <% unless params[:controller] == 'signups' %>  
              <%= link_to 'Learn more', signups_path, class: "btn btn-primary btn-large" %>
            <% end %> 
          </p>
        </div>
      </div>
    <% end %>
  </div>
</header>
