
<% @about_pages = Page.where(published: true).tagged_with("about").sort! { |a,b| a.position <=> b.position } %>
<% @group_pages = Page.where(published: true).tagged_with("groups").sort! { |a,b| a.position <=> b.position } %>

<% if browser.ie8? || browser.ie7? %>
  <div style="overflow:visible; margin-bottom:20px;">
    <div class="navbar">
      <div class="navbar-inner"  style="padding-top:10px; padding-bottom:0px;">
        <div id="logo" class="span3" style="margin-top:5px; margin-bottom:5px; margin-left:75px;">
          <%= link_to image_tag(asset_path('ccro_long.png')), root_path %> 
        </div>
        <ul class="nav" style="margin-left:20px;">
          <li padding-left: 10px;><%= link_to 'Home', posts_path %></li>
            
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <% @about_pages.each do |p| %>
                <li style="padding-right:0px;"><%= link_to p.title, p %></li>
              <% end %>
            </ul>
          </li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">File Library<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li style="padding-right:0px;"><%= link_to 'Local File Library', attachments_path %></li>
              <li style="padding-right:0px;"><%= link_to 'Store', 'http://www.amazon.com/gp/browse.html?ie=UTF8&marketplaceID=ATVPDKIKX0DER&me=A3OWOTQ4UZUTOZ' %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">CCRO Working Groups<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
              <% @group_pages.each do |p| %>
                <li style="padding-right:0px;"><%= link_to p.title, p %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <div id="login_tools" class="span5" style="width: 410px;">  
          <%= form_tag  :sessions, :class => "pull-right form-inline" do %>
            <%= hidden_field_tag :remember_me, '1' %>
            email: <%= text_field_tag :email, '', :class => "input-small", style: "margin-right:10px;", :placeholder => "Email" %>
            password: <%= password_field_tag :password, '', :class => "input-small", :placeholder => "Password" %>
            <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
            <p style="float:right; padding-right:50px;"><%= link_to 'register', new_person_path %> | <%= link_to 'forgot password', forgot_password_path %></p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% else %>
  <header class="fatty <%='collapse' if params[:action] == 'show' || ['drafts', 'my_drafts'].include?(params[:filter]) %> " style="overflow:visible;;">
    <div id='fatty_basket' class="container">
      <div id='fatty_nav'class="row">

        <div id="logo" class="span3">
          <%= link_to image_tag(asset_path('ccro_long.png'), :width => '400', :id => 'header_logo'), root_path %> 
        </div>
        
      </div>
      <% if params[:controller] == 'posts' && params[:action] == 'index'%>
        <div id="header_expanded" class="row">
          <div id="promo_video" class="span8">
            <img id="video" src="https://s3.amazonaws.com/ccro_static/empty_office.png" width="770" height="432" frameborder="0" >
          </div>
          <div id="header_promo" class="span4">
            <h1>Committee of Chief Risk Officers:</h1>
            <p>Advancing Best Practices for Energy Companies</p>
            <p>
              <% unless params[:controller] == 'signups' %>  
                <%= link_to 'Learn more', signups_path, class: "btn btn-primary btn-large" %>
              <% end %> 
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </header>
<% end %>
