<% @group_pages = Page.where(published: true).tagged_with("groups").sort! { |a,b| a.position <=> b.position } %>

<% if browser.ie7? %>

<div class="subnav subnav-fixed" style="padding-top:40px;">
  <div class="subnav-inner">
    <div class="container">
    <ul class="nav nav-pills">

      <% if params[:controller] == 'people' || params[:controller] == 'companies' || params[:controller] == 'subscriptions' %>
        <div class="navbar-text pull-left">
          Directory: 
        </div>
        <li class="divider-vertical"></li>
        <li <%= 'class=active' if params[:controller] == 'people' %>><a href="/people">People</a></li>
        <li <%= 'class=active' if params[:controller] == 'companies' %>><a href="/companies">Companies</a></li>
      <% end %>

      <% if params[:controller] == 'articles' || params[:controller] == 'groups' || params[:controller] == 'tags' || params[:controller] == 'messages' || params[:controller] == 'documents' || params[:controller] == 'posts' || params[:controller] == 'pages' || (params[:controller] == 'reports' && params[:action] == 'dashboard') || params[:controller] == 'attachments' || params[:controller] == 'static' || params[:controller] == 'exceptions' || params[:controller] == 'memberships'%>
        <div class="navbar-text pull-left">
          Resource Center: 
        </div>
        <li class="divider-vertical"></li>
        <li <%= 'class=active' if params[:controller] == 'posts' %>><%= link_to 'Articles', posts_path %>
        <li <%= 'class=active' if params[:controller] == 'messages' %>><a href="/discussions">Discussions</a></li>
        <li class="dropdown" <%= 'class=active' if params[:controller] == 'working_groups' %>>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">CCRO Working Groups<i class="icon-caret-down"></i></a>
          <ul class="dropdown-menu">
            <% @group_pages.each do |p| %>
              <li style="padding-right:0px;"><%= link_to p.title, p %></li>
            <% end %>
          </ul>
        </li>
        
        <!-- <li <%= 'class=active' if params[:controller] == 'documents' %>><a href="/documents">Documents</a></li> -->
        <li <%= 'class=active' if params[:controller] == 'attachments' %>><a href="/files">File Library</a></li>
      <% end %>
      <% if false %>
        <form class="subnav-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      <% end %>
    </ul>
    </div>
  </div>
  </div>


<% else %>

<div class="subnav subnav-fixed" style="margin-top:40px\9;">
  <div class="subnav-inner">
    <div class="container">
    <ul class="nav nav-pills">

      <% if params[:controller] == 'people' || params[:controller] == 'companies' || params[:controller] == 'subscriptions' %>
        <div class="navbar-text pull-left">
          Directory: 
        </div>
        <li class="divider-vertical"></li>
        <li <%= 'class=active' if params[:controller] == 'people' %>><a href="/people">People</a></li>
        <li <%= 'class=active' if params[:controller] == 'companies' %>><a href="/companies">Companies</a></li>
      <% end %>

      <% if params[:controller] == 'articles' || params[:controller] == 'groups' || params[:controller] == 'tags' || params[:controller] == 'messages' || params[:controller] == 'documents' || params[:controller] == 'posts' || params[:controller] == 'pages' || (params[:controller] == 'reports' && params[:action] == 'dashboard') || params[:controller] == 'attachments' || params[:controller] == 'static' || params[:controller] == 'exceptions' || params[:controller] == 'memberships'%>
        <div class="navbar-text pull-left">
          Resource Center: 
        </div>
        <li class="divider-vertical"></li>
        <li <%= 'class=active' if params[:controller] == 'posts' %>><%= link_to 'Articles', posts_path %>
        <li <%= 'class=active' if params[:controller] == 'messages' %>><a href="/discussions">Discussions</a></li>
        <li class="dropdown" <%= 'class=active' if params[:controller] == 'working_groups' %>>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">CCRO Working Groups<i class="icon-caret-down"></i></a>
          <ul class="dropdown-menu">
            <% @group_pages.each do |p| %>
              <li style="padding-right:0px;"><%= link_to p.title, p %></li>
            <% end %>
          </ul>
        </li>
        
        <!-- <li <%= 'class=active' if params[:controller] == 'documents' %>><a href="/documents">Documents</a></li> -->
        <li <%= 'class=active' if params[:controller] == 'attachments' %>><a href="/files">File Library</a></li>
      <% end %>
      <% if false %>
        <form class="subnav-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      <% end %>
    </ul>
    </div>
  </div>
  </div>

  <% end %>
