<div class="attachment" style="clear:both; padding-bottom: 20px;">
  <hr>
  <%= file_icon attachment.extension, nil, :class => 'pull-left' %>
  <p style="margin-left: 40px; color: lightgrey;">
    <strong>
      <% if can? :read, attachment %>
        <%= link_to attachment.title, polymorphic_path([@group, attachment]), target: "_blank" %>
      <% else %>
        <%= attachment.title %> <i class="icon-lock"></i>
      <% end %>
    </strong>
     - <%= attachment.description %>
    <% if attachment.owner && attachment.owner_type == "Group"%> 
      <br><small><stong><%= link_to "From Working Group: #{attachment.owner.name}", attachment.owner %></strong></small>
    <% end %>
    <br><small>File Size: <%= number_to_human_size attachment.file_size %> <br>
    Uploaded: <%= time_ago_in_words attachment.try(:created_at) %> ago by <%= attachment.author.try(:name) || "Unknown Source" %></small> 
    <br><br>
    <% if can? :edit, attachment %>
      <span class="link-group">
          <%= link_to 'Edit', edit_polymorphic_path([@group, attachment]), class: "edit_link", "data-original-title" => "Viewing level: #{attachment.level}<br>
                                                                                                                         Comment level: #{attachment.comment_level}<br>
                                                                                                                         Download level: #{attachment.download_level}",trigger: "hover" if can? :edit, attachment %> | 
          <%= link_to 'Delete', polymorphic_path([@group, attachment]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, attachment %>
      </span>
    <% end %>
  </p>
</div>

<script>
$('.edit_link').tooltip('hide')
</script>

