<%= form_for([@group, @attachment], :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @attachment.file.present? %>
  <fieldset>
    <legend>Current File</fieldset>
    <div class="control-group">
      <%= f.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= link_to @attachment.file.file.url %>
      </div>
    </div> 
    <div class="control-group">
      <%= f.label :crocodoc_uuid, :class => 'control-label' %>
      <div class="controls">
        <%= @attachment.crocodoc_uuid %>
      </div>
    </div> 
  </fieldset>
  <% end %>
  <fieldset>
    <legend><%= (@attachment.file.present?) ? 'Replace' : 'Upload' %> File</legend>
    <div class="control-group">
      <%= f.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :file %>
      <%= f.hidden_field :file_cache %>     
        <p class="help-block">Upload a file as a *.doc, *.pdf, *.xls, or *.ppt.</p>
      </div>
    </div>
  </fieldset>
    <fieldset>
    <legend>Optional Metadata</legend>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div> 
    <%= f.fields_for :options, @attachment.options do |options| %>
    <div class="control-group">
      <%= options.label :downloadable, :class => 'control-label' %>
      <div class="controls">
        <%= options.check_box :downloadable %>
      </div>
    </div>  
    <div class="control-group">
      <%= options.label :commentable, :class => 'control-label' %>
      <div class="controls">
        <%= options.check_box :commentable  %>
      </div>
    </div>
    <% end %>  
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
      <%= f.text_area :description, :class => 'span6', :rows => '8' %>
      <p class="help-block">The description will show on the file listing under the title.</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Level for File</legend>
    <div class="control-group">
      <div class="control-group radio inline" >
        <%= f.radio_button :level, "public" %><%= f.label :level, 'Public' %>
        <%= f.radio_button :level, "basic" %><%= f.label :level, 'Basic' %>
        <%= f.radio_button :level, "pro" %><%= f.label :level, 'Pro' %>
        <%= f.radio_button :level, "individual_subscriber" %><%= f.label :level, 'Individual Subscriber' %>
        <%= f.radio_button :level, "individual_member" %><%= f.label :level, 'Individual Member' %>
        <%= f.radio_button :level, "company_member" %><%= f.label :level, 'Company Member' %>
        <%= f.radio_button :level, "leadership" %><%= f.label :level, 'Leadership' %>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit nil, :class => 'btn' %> or <%= link_to 'back', :back %>
  </div>
  
<% end %>