<% content_for :adminbar do %>
  <ul>
    <li>
        <%= link_to new_polymorphic_path([@group, Attachment.new]) do %>
        <i class="icon-upload"></i><br><p>Upload File<br>page</p>
        <% end %>
      </li>
  </ul>
<% end %>

<div class="row-fluid">
  <div id="content" class="span12" style="padding: 20px;"> 
    <h2 class="pull-left"><%= @group ? "Working Group File Library" : 'CCRO File Library' %> </h2>
    <form action="<%= polymorphic_path([@group, :attachments], :action => 'search') %>" class="form-search pull-right">
      <input type="text" name="q" class="input-medium search-query" placeholder="<%= params[:q] %>">
      <button type="submit" class="btn">Search</button>
    </form>
    <br  style="clear:both;">
    <%= render @attachments %>
    <br />
 </div>
</div>

