<h1>CCRO Working Group Files</h1>

<br>

<% @groups.each do |g| %>
  <% if (g.respond_to? 'name') && g.name? %>
    <table class="table table-bordered">
      <tr>
        <td>
          <h2><%= link_to g.name, group_attachments_path(g) %></h2>
        </td>
      </tr>
      <tr>
        <td>
          <table class="table">
            <% @group_attachments.each do |a| %>
              <% if a.owner_id == g.id %>
              <tr>
                <td class="span5"><%= link_to a.title, attachments_path(a) %></td>
                <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                           Comment level: #{a.comment_level}<br>
                                                                                                                           Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
            <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
              </tr>
              <% end %>
            <% end %>
          </table>

        </td>
      </tr>
    </table>
  <% end %>
<% end %>
<br>
<br>

<h1>CCRO File Permission Report</h1>

<br>


<table class="table table-bordered">
  <tr>
    <th><h2>Viewing Levels</h2></th>
    <th><h2>Commenting Levels</h2></th>
    <th><h2>Downloading Levels</h2></th>
  </tr>
  <tr>
    <td>
      <h3>Public</h3>
      
      <table class="table">
        <% @viewing_level_public.each do |a| %>
          <tr>
            <td class="span5"><%= link_to "#{a.title}", a %></td>
            <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Public</h3>
      
      <table class="table">
        <% @comment_level_public.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>

        <% end %>
      </table>
    </td>
    <td>
      <h3>Public</h3>
      
      <table class="table">
        <% @download_level_public.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Basic</h3>
      
      <table class="table">
        <% @viewing_level_basic.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Basic</h3>
      
      <table class="table">
        <% @comment_level_basic.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Basic</h3>
      
      <table class="table">
        <% @download_level_basic.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Pro</h3>
      
      <table class="table">
        <% @viewing_level_pro.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Pro</h3>
      
      <table class="table">
        <% @comment_level_pro.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Pro</h3>
      
      <table class="table">
        <% @download_level_pro.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Subscriber</h3>
      
      <table class="table">
        <% @viewing_level_subscriber.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Subscriber</h3>
      
      <table class="table">
        <% @comment_level_subscriber.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Subscriber</h3>
      
      <table class="table">
        <% @download_level_subscriber.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Individual Member</h3>
      
      <table class="table">
        <% @viewing_level_individual_member.each do |a| %>
          <tr>
            <td class="span5"><%= link_to "#{a.title}", a %></td>
            <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Individual Member</h3>
      
      <table class="table">
        <% @comment_level_individual_member.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Individual Member</h3>
      
      <table class="table">
        <% @download_level_individual_member.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Company Member</h3>
      
      <table class="table">
        <% @viewing_level_company_member.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Company Member</h3>
      
      <table class="table">
        <% @comment_level_company_member.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Company Member</h3>
      
      <table class="table">
        <% @download_level_company_member.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Leadership</h3>
      
      <table class="table">
        <% @viewing_level_leadership.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Leadership</h3>
      
      <table class="table">
        <% @comment_level_leadership.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h3>Leadership</h3>
      
      <table class="table">
        <% @download_level_leadership.each do |a| %>
        <tr>
          <td class="span5"><%= link_to "#{a.title}", a %></td>
          <td class="span1"><%= link_to 'Edit', edit_polymorphic_path([@group, a]), class: "edit_link", "data-original-title" => "Viewing level: #{a.level}<br>
                                                                                                                         Comment level: #{a.comment_level}<br>
                                                                                                                         Download level: #{a.download_level}",trigger: "hover" if can? :edit, a %></td>
          <td class="span1"><%= link_to 'Delete', polymorphic_path([@group, a]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, a %></td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
<br>
<br>


<% content_for :adminbar do %>
  <ul>
    <li>
      <%= link_to new_polymorphic_path([@group, Attachment.new]) do %>
        <i class="icon-upload"></i><br><p>Upload File<br>page</p>
      <% end %>
    </li>
    <li>
      <%= link_to attachments_path do %>
        <i class="icon-external-link"></i><br><p>File<br>Library</p>
      <% end %>
    </li>
  </ul>
<% end %>

<script>
$('.edit_link').tooltip('hide')
</script>










