
     <div class="row-fluid">
        <div id="content" class="span12" style="padding: 20px;">

            <ul class="breadcrumb pull-left">
              <li>
                <a href="/files">File Library</a> <span class="divider">/</span>
              </li>
              <li>
                <a href="#">Search</a> <span class="divider">/</span>
              </li>
              <li class="active">
                <a href="#">Files containing "<%= params[:q] %>"</a>
              </li>
            </ul>
    <form action="<%= polymorphic_path([@group, :attachments], :action => 'search') %>" class="form-search pull-right">
      <input type="text" name="q" class="input-medium search-query" placeholder="<%= params[:q] %>">
      <button type="submit" class="btn">Search</button>
    </form>


<table class="table table-striped table-bordered table-condensed">
    <% @results.each do |result| %>
    <% attachment = Attachment.find(result.id) %>
    <% highlights = Array.new %>
    <% highlights << result.highlight.description if result.highlight.try(:description) %>
    <% highlights << result.highlight.content if result.highlight.try(:content) %>
    <tr>
        <td>
          <%= if attachment.thumbnail.present? 
              link_to attachment, :target => '_blank' do 
                image_tag(attachment.thumbnail, class: 'pull-left', style: 'border: 1px solid lightgrey; padding: 2px; margin: 3px;')  
              end
            end %>
          <% if can? :edit, attachment %>
            <h3><%= link_to result.title, attachment, :target => '_blank' %></h3>
            <% elsif current_user %>
            <h3><%= link_to result.title, attachment, :target => '_blank' %></h3>
            <% else %>
            <h3><%= result.title %></h3>
            <% end %>
            <h4></h4>
            <p><%= raw highlights.join(" ...<br><br>... ") %></p>
        </td>
        <td width="250">
           <%= star_rating((result._score / (@results.max_score / 4) + 1).round, 5) %>
            <% if attachment.published.present? %>
            Published: <%= attachment.published %><br />
            <% end %>
            Size: <%= number_to_human_size attachment.file_size %><br />
<!--             <span class="label label-important">Full Members</span><br />
        <span class="label label-important">Participating Members</span><br />
        <span class="label label-important">Subscribers</span><br /> -->
        </p>
        <% if can? :edit, attachment %>
          <span class="link-group">
            <%= link_to 'Edit', edit_polymorphic_path([@group, attachment]) %> | 
            <%= link_to 'Delete', polymorphic_path([@group, attachment]), :method => 'delete', :confirm => "Are you sure you want to delete?" if can? :destroy, attachment %>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
</table>
<!--Body content-->
</div>
</div>

<script>
$('.levels').tooltip('hide')
</script>