<% content_for :adminbar do %>
  <ul>
    <li><%= link_to new_smart_list_path do %><i class="icon-asterisk"></i><br><p>New List</p><% end %></li>
  </ul>
<% end %>

<div class="container span4">
  <h1>Smart Lists</h1>
  <br>
  <table class="table table-bordered">
    <tr>
      <th class="span1">Name</th>
      <th class="span1"></th>
      <th class="span1"></th>
      <th class="span1"></th>
    </tr>

  <% @smart_lists.each do |smart_list| %>
    <tr>
      <td><%= smart_list.name %></td>
      <td><%= link_to 'Show', smart_list %></td>
      <td><%= link_to 'Edit', edit_smart_list_path(smart_list) %></td>
      <td><%= link_to 'Destroy', smart_list, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Smart list', new_smart_list_path %>
</div>