
<% if can?(:edit, page) && params[:action] == 'show' %>
  <% if page.locked? && ['show', 'edit'].include?(params[:action]) %>
    <% if page.locker == current_user %>
      <span class="label">You are currently the editor of this page.</span>
    <% else %>
      <span class="label label-<%= (is_editing?) ? 'important' : 'warning'  %>">Warning: Page is currently being edited by <%= page.locker.name %></span>
    <% end %>
    <br><br>
  <% end %>
<% end %>
<div class="page <%= "watermark-draft" unless page.published? %>">
  <article id="page-<%= page.id %>">
      
      <% if page.level == 'basic' && params[:action] == 'index' %>
        <h1 class="ribbon-right ribbon-info ribbon-basic"><i class="icon-key icon-white icon-medium"></i> <%= page.level.capitalize %></h1>
      <% elsif page.level == 'pro' && params[:action] == 'index' %>
        <h1 class="ribbon-right ribbon-info"><i class="icon-key icon-white icon-medium"></i> <%= page.level.capitalize %></h1>
      <% elsif page.level == 'committee' && params[:action] == 'index' %>
        <h1 class="ribbon-right ribbon-info ribbon-member"><i class="icon-key icon-white icon-medium"></i> <%= page.level.capitalize %></h1>
      <% end %>
  
      <h1 class="page_title">
        <% if params[:action] == 'show' || ( params[:action]  == 'index' && params[:filter] == 'archive') %>
          <div id="page_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= page.title.html_safe %></div>
        <% else %>
          <%= link_to page.title.html_safe, page_path(page)  %>
        <% end %>
        <div class="page_date"><%= short_date(page) %></div>
      </h1>
      
      <h3 id="page_author">by <%= page.author.try(:name) %></h3>
      
      <% if params[:filter] == 'drafts' %>
          <% if params[:action] == 'index' && (page_counter >= 0 || cannot?(:read, page))  %>
            <div id="page_preview" class='drafts'>
              <%=raw page.body.split('[---MORE---]').first + " ..." %><b><%= link_to 'continued', page %></b>
            </div>
          <% else %>
            <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= page.body.html_safe unless params[:action] == 'draft' %></div>
          <% end %>
      <% else %>
          <% if params[:action] == 'index' && (page_counter > 0 || cannot?(:read, page))  %>
            <div id="page_preview">
              <%=raw page.body.split('[---MORE---]').first + " ..." %><b><%= link_to 'continued', page %></b>
            </div>
          <% else %>
            <% if is_editing? %>
              <div id="page_body" class="mercury-region" data-mercury="full" contentEditable><%= page.body.html_safe unless params[:action] == 'draft' %></div>
            <% else %>
              <div id="page_body" class="mercury-region" data-mercury="full"><%= page.body.gsub('[---MORE---]', '').html_safe unless params[:action] == 'draft' %></div>
            <% end %>
          <% end %>
      <% end %>
        

      <div class="page-footer">
        <hr class="hr-small-margin">
          <p class="pull-right">
            <span class="page-footer-heading">Updated: </span>
            <strong><%= time_ago_in_words page.updated_at %> ago</strong>
          </p>
          <p>
            <span class="page-footer-heading">Categories: </span>
            <strong><%= (page.tags.pluck(:name).present?) ? page.tags.pluck(:name).to_sentence : "None" %> </strong>
          </p>
        <hr class="hr-small-margin hr-dark">
      </div>
      <br />
    <div class="row">
      <% if can?(:edit, page) && (params[:action] == 'show' || (params[:action] == 'index' && params[:filter] != 'archive') ) %>
        <div id="page_management_controls" class="pull-right">
      	 <% if @page %><a data-toggle="modal" href="#modal-share_link">share</a> | <% end %><%= link_to "duplicate", duplicate_page_path(page) %> | <%= link_to "claim ", claim_page_path(page) %> | <%= link_to "archive", page_path(page), :method => 'delete', :confirm => "Are you sure?" %>
      	</div>
      <% end %>
      <% if ( params[:action]  == 'index' && params[:filter] == 'archive' ) %>
          <%= link_to restore_page_path(page), class: 'btn pull-right' do %>
              <i class="icon-magic"></i> Restore Page
            <% end %>
        <% end %>
    </div>
    
      <% if params[:action] == 'show' && page.commenting_enabled == true %>
          <h1 class="ribbon-left">Comments:</h1>
          <%= render :partial => 'shared/comment_hidden_form' %>
          <%= render :partial => 'shared/comment', :collection => page.comments.reverse %>
      <% end %>
  
  </article>
</div>


<% if params[:action] == 'show' && page.author && page.author.respond_to?(:bio) && page.author.bio.present? %>
  <div id="about_author" class="">
    <div class="thumbnail pull-left" style="background-color: white; margin-right: 15px;">
      <%= avatar_for page.author %>
      <h5><%= page.author.name %></h5>
      <p><%= page.author.company.name %></p>
    </div>
    <h3>About the author</h3>
    <p><%= page.author.bio %></p>
    <div style="clear: both"></div> 
  </div>
  <% end %>
