<% if params[:action] == 'show' || params[:action] == 'edit' %>
  <% content_for :pages_header_image do %>
    <% unless page.published? %>
      <h2 style="color: red;"> This page is a draft </h2>
    <% end %>
    <% if can?(:edit, page) && params[:action] == 'show' %>
      <% if page.locked? && ['show', 'edit'].include?(params[:action]) %>
        <% if page.locker == current_user %>
          <span class="label">You are currently the editor of this page.</span>
        <% else %>
          <span class="label label-<%= (is_editing?) ? 'important' : 'warning'  %>">Warning: Page is currently being edited by <%= page.locker.name %></span>
        <% end %>
        <br><br>
      <% end %>
    <% end %>

    <div id="pages_header_image" style="background-color: #222;"class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
      <% if page.header_picture.present? %>
        <%= page.header_picture.gsub('&nbsp;', '').gsub('&nb', '').gsub('<br>', '').gsub('<div>', '').gsub('</div>', '').html_safe %>
      <% end %>
    </div> 
  <% end %>
<% end %>

  <%= form_for @page do |f| %>

<div>
  <article id="page-<%= page.id %>">
    <h1 class="page_title">
      <% if params[:action] == 'show' || ( params[:action]  == 'index' && params[:filter] == 'archive') || params[:action] == 'edit' %>
        <div id="page_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;">
          <% if is_editing? %>
            <% if current_user && current_user.admin? %>
              <%= f.text_area :header_picture, :class => "redactor", :rows => 20, :cols => 80 %>
            <% end %>
            <%= f.text_area :title, :class => "redactor", :rows => 20, :cols => 80 %>
          <% else %>
            <%= page.title.html_safe if page.title %>
          <% end %>
        </div>
      <% else %>
        <%= link_to page.title.html_safe, page_path(page)  %>
      <% end %>
    </h1>
    
    <% if params[:filter] == 'drafts' %>
        <% if params[:action] == 'index' && (page_counter >= 0 || cannot?(:read, page))  %>
          <div id="page_preview" class='drafts'>
            <br>
          </div>
        <% else %>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
    <% else %>
      <% if is_editing? %>
        <div id="page_body">
          <%= f.text_area :body, :class => "redactor", id: "redactor_body", :rows => 100, :cols => 80 %>
        </div>
      <% else %>
        <% unless params[:action] == 'index'%>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
      <% end %>  
    <% end %>
      
    <% if params[:action] == 'index' %>
      <div class="page-footer">
        <hr class="hr-small-margin">
          <p class="pull-right">
            <span class="page-footer-heading">Updated: </span>
            <strong><%= time_ago_in_words page.updated_at %> ago</strong>
          </p>
          <p>
            <span class="page-footer-heading">Category: </span>
            <strong><%= (page.tags.pluck(:name).present?) ? page.tags.pluck(:name).to_sentence : "None" %> </strong>
          </p>
        <hr class="hr-small-margin hr-dark">
      </div>
      <br />
    <% end %>
  
    <% if params[:action] == 'show' && page.commenting_enabled == true %>
        <% if browser.ie8? || browser.ie7? %>
          <h1><i class="icon-comment"></i> Comments:</h1>
        <% else %>
          <h1 class="ribbon-left" style="margin-left: -20px;">Comments:</h1>
        <% end %>
        <%= render :partial => 'shared/comment_hidden_form' %>
        <%= render :partial => 'shared/comment', :collection => page.comments.reverse %>
    <% end %>
  </article>
</div>

    <% f.submit "Save", :class => "btn" %>
    <% end %>


<% content_for :aside do %>
  <% unless params[:action] == 'edit' %>

    <% if @billboards %>
      <% @billboards.each do |billboard| %>
        <% if billboard.location == "page sidebar top"%>
          <div class="billboard page-sidebar-after-menu" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
            <%= billboard.body.html_safe %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @tag && (@category && @category.length > 1 && page.pages_enabled == true || @articles && @articles.length > 0 && page.articles_enabled == true || @messages && @messages.length > 0 && page.discussions_enabled == true) %>
      <div class="well">
        <ul class="nav nav-list">
          
          <% if @category && @category.length > 1 && page.pages_enabled == true %>
            <li class="nav-header"><%= 'Related Articles' %></li>
            <% @category.each do |p| %>
              <% if p.title == page.title.html_safe %>
                <li style="background-color: #E6E6E6;", class="active"><%= link_to page_path(p) do %>
                  <%= p.title + " " %><i class="icon-arrow-left"></i>
                <% end %></li>
              <% else %>
                <li><%= link_to strip_tags(p.title), page_path(p) %></li>
              <% end %>
            <% end %>
          <% end %>  
          
          <% if @articles && @articles.length > 0 && page.articles_enabled == true || @messages && @messages.length > 0 && page.discussions_enabled == true %>
            <li class="nav-header"> Other resources </li>
          <% end %>
          
          <% if @articles.length > 0 && page.articles_enabled == true%>
            <li class="btn-group">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  </span><i class="icon-share-alt"></i>Related News and Updates
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <%= link_to tagged_posts_path(@tag, page: page.id) do %>
                      <i class="icon-share-alt"></i> All Related News and Updates
                    <% end %>
                  </li>
                  <% @articles.each do |a| %>
                    <li><%= link_to strip_tags(a.title), post_path(a, page: page.id) %></li>
                  <% end %>
                </ul>
              </li>
            </li>
          <% end %>
          
          <% if @messages.length > 0 && page.discussions_enabled == true %>
            <li class="btn-group">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  </span><i class="icon-share-alt"></i>Related Discussions
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <%= link_to tagged_messages_path(@tag, page: page.id) do %>
                      <i class="icon-share-alt"></i> All Related Discussions
                    <% end %>
                  </li>
                  <% @messages.each do |a| %>
                    <li>
                      <% if a.archived == false %>
                        <%= link_to message_path(a, page: page.id) do %>
                          <i class="icon-comment"></i><%= strip_tags(a.subject) %>
                        <% end %>
                      <% else %>
                        <%= link_to message_path(a) do %>
                          <i class="icon-inbox"></i><%= strip_tags(a.subject) %>
                        <% end %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </li>
          <% end %>

        </ul>
      </div>

      <% if @smart_list.length > 0 && page.smart_lists_enabled == true %>
        <div class="well">
          <ul class="nav nav-list">
            <li class="nav-header"> Related people </li> 
            <% @smart_list.each do |person| %>
              <%= sticker_for person %>
            <% end %>
          </ul>
        </div>
      <% end %>

    <% end %>

    <% if @billboards %>
        <% @billboards.each do |billboard| %>
          <% if billboard.location == "page sidebar after menu"%>
            <div class="billboard page-sidebar-after-menu" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
              <%= billboard.body.html_safe %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      
  <% end %>
<% end %>


