<% content_for :pages_header_image do %>
  <% unless page.published? %>
    <h2 style="color: red;"> This page is a draft </h2>
  <% end %>
  <% if can?(:edit, page) && params[:action] == 'show' %>
    <% if page.locked? && ['show', 'edit'].include?(params[:action]) %>
      <% if page.locker == current_user %>
        <span class="label">You are currently the editor of this page.</span>
      <% else %>
        <span class="label label-<%= (is_editing?) ? 'important' : 'warning'  %>">Warning: Page is currently being edited by <%= page.locker.name %></span>
      <% end %>
      <br><br>
    <% end %>
  <% end %>

  <% if params[:action] == 'show'%>
    <div id="pages_header_image" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
      <%= page.header_picture.html_safe %>
    </div>
  <% end %>
<% end %>

<div>
  <article id="page-<%= page.id %>">
    <h1 class="page_title">
      <% if params[:action] == 'show' || ( params[:action]  == 'index' && params[:filter] == 'archive') %>
        <div id="page_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
          <%= page.title.html_safe %>
        </div>
      <% else %>
        <%= link_to page.title.html_safe, page_path(page)  %>
      <% end %>
    </h1>
    
    <% if params[:filter] == 'drafts' %>
        <% if params[:action] == 'index' && (page_counter >= 0 || cannot?(:read, page))  %>
          <div id="page_preview" class='drafts'>
            <br>
          </div>
        <% else %>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
    <% else %>
      <% if is_editing? %>
        <div id="page_body" class="mercury-region" data-mercury="full" contentEditable>
          <%= page.body.html_safe unless params[:action] == 'draft' %>
        </div>
      <% else %>
        <% unless params[:action] == 'index'%>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
      <% end %>  
    <% end %>
      
    <% if params[:action] == 'index' %>
      <div class="page-footer">
        <hr class="hr-small-margin">
          <p class="pull-right">
            <span class="page-footer-heading">Updated: </span>
            <strong><%= time_ago_in_words page.updated_at %> ago</strong>
          </p>
          <p>
            <span class="page-footer-heading">Categories: </span>
            <strong><%= (page.tags.pluck(:name).present?) ? page.tags.pluck(:name).to_sentence : "None" %> </strong>
          </p>
        <hr class="hr-small-margin hr-dark">
      </div>
      <br />
    <% end %>
  
    <% if params[:action] == 'show' && page.commenting_enabled == true %>
        <h1 class="ribbon-left">Comments:</h1>
        <%= render :partial => 'shared/comment_hidden_form' %>
        <%= render :partial => 'shared/comment', :collection => page.comments.reverse %>
    <% end %>
  </article>
</div>

<% content_for :aside do %>
  <% if can? :create, Post %>
    <ul class="nav nav-tabs nav-stacked">
      <li><%= link_to 'Drafts', draft_pages_path() %></li>
      <li><%= link_to 'My Drafts', my_draft_pages_path() %></li>
      <li><%= link_to 'Archived Posts', archive_pages_path() %></li>
      <li><%= link_to 'All Pages', pages_path() %></li>
    </ul>
  <% end %>

  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Summit Application', "/posts/97-ccro-risk-networking-summit-application" %></li>
    <li><%= link_to 'Summit Agenda', "/posts/90-risk-networking-summit-2012-nbsp-draft-agenda" %></li>
    <li><%= link_to 'Summit Agenda as PDF', "https://s3.amazonaws.com/ccro_static/summit/CCRO-Summit-Agenda.pdf" %></li>
    <li><%= link_to 'Summit Information', tagged_posts_path('summit') %></li>
  </ul>

<% end %>
