<% if params[:action] == 'show'%>
  <% content_for :pages_header_image do %>
    <% unless page.published? %>
      <h2 style="color: red;"> This page is a draft </h2>
    <% end %>
    <% if can?(:edit, page) && params[:action] == 'show' %>
      <% if page.locked? && ['show', 'edit'].include?(params[:action]) %>
        <% if page.locker == current_user %>
          <span class="label">You are currently the editor of this page.</span>
        <% else %>
          <span class="label label-<%= (is_editing?) ? 'important' : 'warning'  %>">Warning: Page is currently being edited by <%= page.locker.name %></span>
        <% end %>
        <br><br>
      <% end %>
    <% end %>

    <div id="pages_header_image" style="background-color: #222;"class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
      <% if page.header_picture.present? %>
        <%= page.header_picture.gsub('&nbsp;', '').gsub('&nb', '').gsub('<br>', '').gsub('<div>', '').gsub('</div>', '').html_safe %>
      <% end %>
    </div> 
  <% end %>
<% end %>

<div>
  <article id="page-<%= page.id %>">
    <h1 class="page_title">
      <% if params[:action] == 'show' || ( params[:action]  == 'index' && params[:filter] == 'archive') %>
        <div id="page_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
          <%= page.title.html_safe %>
        </div>
      <% else %>
        <%= link_to page.title.html_safe, page_path(page)  %>
      <% end %>
    </h1>
    
    <% if params[:filter] == 'drafts' %>
        <% if params[:action] == 'index' && (page_counter >= 0 || cannot?(:read, page))  %>
          <div id="page_preview" class='drafts'>
            <br>
          </div>
        <% else %>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
    <% else %>
      <% if is_editing? %>
        <div id="page_body" class="mercury-region" data-mercury="full" contentEditable>
          <%= page.body.html_safe unless params[:action] == 'draft' %>
        </div>
      <% else %>
        <% unless params[:action] == 'index'%>
          <div id="page_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>>
            <%= page.body.html_safe unless params[:action] == 'draft' %>
          </div>
        <% end %>
      <% end %>  
    <% end %>
      
    <% if params[:action] == 'index' %>
      <div class="page-footer">
        <hr class="hr-small-margin">
          <p class="pull-right">
            <span class="page-footer-heading">Updated: </span>
            <strong><%= time_ago_in_words page.updated_at %> ago</strong>
          </p>
          <p>
            <span class="page-footer-heading">Category: </span>
            <strong><%= (page.tags.pluck(:name).present?) ? page.tags.pluck(:name).to_sentence : "None" %> </strong>
          </p>
        <hr class="hr-small-margin hr-dark">
      </div>
      <br />
    <% end %>
  
    <% if params[:action] == 'show' && page.commenting_enabled == true %>
        <h1 class="ribbon-left">Comments:</h1>
        <%= render :partial => 'shared/comment_hidden_form' %>
        <%= render :partial => 'shared/comment', :collection => page.comments.reverse %>
    <% end %>
  </article>
</div>

<% content_for :aside do %>
  <% if @tag && (@category.length > 1 && page.pages_enabled == true || @articles.length > 0 && page.articles_enabled == true || @messages.length > 0 && page.discussions_enabled == true) %>
    <div class="well">
      <ul class="nav nav-list">
        
        <% if @category.length > 1 && page.pages_enabled == true %>
          <li class="nav-header"><%= @tag.upcase + ' Pages' %></li>
          <% @category.each do |p| %>
            <% if p.title == page.title.html_safe %>
              <li style="background-color: #E6E6E6;", class="active"><%= link_to page_path(p) do %>
                <%= p.title + " " %><i class="icon-arrow-left"></i>
              <% end %></li>
            <% else %>
              <li><%= link_to p.title.html_safe, page_path(p) %></li>
            <% end %>
          <% end %>
        <% end %>  
        
        <% if @articles.length > 0 && page.articles_enabled == true || @messages.length > 0 && page.discussions_enabled == true %>
          <li class="nav-header"> Other resources </li>
        <% end %>
        
        <% if @articles.length > 0 && page.articles_enabled == true%>
          <li class="btn-group">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                </span><i class="icon-share-alt"></i>Related Articles
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <%= link_to tagged_posts_path(@tag, page: page.id) do %>
                    <i class="icon-share-alt"></i> All Related Articles
                  <% end %>
                </li>
                <% @articles.each do |a| %>
                  <li><%= link_to a.title.html_safe, post_path(a, page: page.id) %></li>
                <% end %>
              </ul>
            </li>
          </li>
        <% end %>
        
        <% if @messages.length > 0 && page.discussions_enabled == true %>
          <li class="btn-group">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                </span><i class="icon-share-alt"></i>Related Discussions
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <%= link_to tagged_messages_path(@tag, page: page.id) do %>
                    <i class="icon-share-alt"></i> All Related Discussions
                  <% end %>
                </li>
                <% @messages.each do |a| %>
                  <li>
                    <% if a.archived == false %>
                      <%= link_to message_path(a, page: page.id) do %>
                        <i class="icon-comment"></i><%= a.subject.html_safe %>
                      <% end %>
                    <% else %>
                      <%= link_to message_path(a) do %>
                        <i class="icon-inbox"></i><%= a.subject.html_safe %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </li>
        <% end %>  
      </ul>
    </div>


    <% if @smart_list && page.smart_lists_enabled == true %>
      <div class="well">
        <ul class="nav nav-list"> 
          <% @smart_list.each do |list| %>
            <li class="nav-header"><%= list.name if list.name.present? %></li>
            <% list.people.each do |person| %>
              <li style="font-weight: lighter; padding-bottom: 10px;"><%= person.name if person.name.present? %><br>
              <span style="font-weight: normal;"><%= person.company.name if person.company.present? %></span></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %> 
<% end %>
