<% content_for :adminbar do %>
	<ul>
		<li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %><i class="icon-file"></i><br><p>New Page</p><% end %></li>
	</ul>
<% end %>

<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-new-page">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Page</h3>
    </div>
    <div class="modal-body center">
	  <%= form_for Page.new do |f| %>
	    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	</div>
    <div class="modal-footer">
	    <%= f.submit "Create new draft", :class => "btn btn-primary" %>
    </div>
	  <% end %>
  </div>
<% end %>

<% if ['drafts', 'my_drafts'].include?(params[:filter]) && can?(:create, Page) %>
	<div class="well">
	  <%= form_for Page.new do |f| %>
	    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page draft title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	    <%= f.submit "Create new page draft", :class => "btn btn-large pull-right" %>
	  <% end %>
	  <div style="clear: both;"></div>
	  <% if flash[:notice] %>
	     <br>
	     <div class="alert alert-error"><%= flash[:notice] %></div>
	   <% end %>
	</div>
<% end %>

<% if @pages.present? %>
	<% if params[:action] == 'index' %>
		<table class="table">
			<tr>
				<th class="span1">Category:<%= link_to(pages_path(:sort => 'Category')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
				<th class="span1">Owner:<%= link_to(pages_path(:sort => 'Owner')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
				<th class="span3">Name:<%= link_to(pages_path(:sort => 'Name')) do %> <i class="icon-resize-vertical"></i> <% end %></th>
				<th class="span1">Updated at:</th>
			</tr>
				<% @pages.each do |page| %>
				<tr>
					<th>
					<%if page.published == true %>
						<i class="icon-file" style="color: green;"></i>
					<% else %>
						<i class="icon-file" style="color: red;"></i>
					<% end %>
						<strong><%= link_to (page.tags.pluck(:name).present?) ? page.tags.pluck(:name).to_sentence : "None", page_path(page) %></strong>
					</th>
					<% if page.owner %> 
						<th>
							<%= form_for page, { :remote => true } do |f| %>
	    					<%= select_tag('owner', options_from_collection_for_select(@groups, "id", "name", page.owner.id), :include_blank => true, :class => 'submittable') %>
	    				<% end %>
	    			</th>
					<% else %>
						<th>
							<%= form_for page, { :remote => true } do |f| %>
	    					<%= select_tag('owner', options_from_collection_for_select(@groups, "id", "name"), :include_blank => true, :class => 'submittable') %>
	    				<% end %>
	    			</th>
    			<% end %>
					<th><%= link_to page.title.html_safe, page_path(page)  %></th>
					<th><strong><%= time_ago_in_words page.updated_at %> ago</strong></th>
				</tr>
				<% end %>
		</table>
	<% else %>
		<%= render @pages %>
	<% end %>
<% else %>
	<% if params[:filter] == 'drafts' %>
		<h1>There are not currently any page drafts. </h1><h2>Good job, everything is published! Or you need to get to work.</h2>
	<% elsif params[:filter] == 'my_drafts'%>
		<h1>You do not currently have any page drafts. </h1><h2>Good job, everything is published! Or you need to get to work.</h2>
	<% else %>
		<h1>There are not currently any active pages. </h1><h2>Lets make some pages!</h2>
	<% end %>
			
<% end %>