<% content_for :adminbar do %>
	<ul>
		<li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %><i class="icon-asterisk"></i><br><p>New Page</p><% end %></li>
	</ul>
<% end %>

<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-new-page">
    <div class="modal-header">
      <a href="#" class="close">×</a>
      <h3>New Page</h3>
    </div>
    <div class="modal-body center">
	  <%= form_for Page.new do |f| %>
	    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	</div>
    <div class="modal-footer">
	    <%= f.submit "Create new draft", :class => "btn btn-primary" %>
    </div>
	  <% end %>
  </div>
 <% end %>

<% if ['drafts', 'my_drafts'].include?(params[:filter]) && can?(:create, Page) %>
	<div class="well">
	  <%= form_for Page.new do |f| %>
	    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New page draft title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	    <%= f.submit "Create new page draft", :class => "btn btn-large pull-right" %>
	  <% end %>
	  <div style="clear: both;"></div>
	  <% if flash[:notice] %>
	     <br>
	     <div class="alert alert-error"><%= flash[:notice] %></div>
	   <% end %>
	</div>
<% end %>

<% if @pages.present? %>
	<%= render @pages %>
<% else %>
	<h1>You do not currently have any page drafts. </h1><h2>Good job, everything is published! Or you need to get to work.</h2>
<% end %>