<div id="document_header_wrapper">
  <div id="document_header">
    <a id="btn-add_comment" class="btn btn-primary hide pull-right" data-toggle="modal" href="#modal-add_comment">Add Comment</a>
    <h1><%= @document.title %></h1>
    
    <ul class="nav nav-pills">
      <li class="active"><a href="news-show.html">Full Document</a></li>
	  <li class="dropdown">
	      <a class="dropdown-toggle"
	         data-toggle="dropdown"
	         href="#">
	          Sections <span class="label"><%= @document.sections.length %></span>
	          <b class="caret"></b>
	        </a>
	      <ul class="dropdown-menu">
	        <%  @document.sections.each do |section| %>
			<li><a href="#<%= section[:title].parameterize %>"><%= section[:title] %></a></li>
			<% end %>
	      </ul>
	    </li>
      <li><%= link_to 'Edit', edit_document_path(@document) %></li>
      <li><a href="#">Permissions</a></li>
	  <li class="dropdown">
	      <a class="dropdown-toggle"
	         data-toggle="dropdown"
	         href="#">
	          Revisions <span class="label"><%= @document.versions.length %></span>
	          <b class="caret"></b>
	        </a>
	      <ul class="dropdown-menu">
	        <%  @document.versions.reverse.each do |version| %>
			<li><a href="#"><%= version.event.capitalize %> <%= " by " + Person.find(version.whodunnit).name if version.whodunnit %> (<%= time_ago_in_words(version.created_at) %>)</a></li>
			<% end %>
	      </ul>
	    </li>
      <li><a href="#">Comments <span class="label"><%= @document.comments.count %></span></a></li>
    </ul>
  </div>
</div>
<div id="document_content_border">
<div id="document_content">
	 <%= render_body @document %>  
</div>
</div>

<div class="modal hide fade" id="modal-add_comment">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Add Comment</h3>
  </div>
  <%= form_for Comment.new(:commentable => @document, :version => @document.versions.last) do |f| %>
  	<%= f.hidden_field :commentable_id %>
  	<%= f.hidden_field :commentable_type %>
  	<%= f.hidden_field :version_id %>
  	<%= f.hidden_field :quote %>
  <div class="modal-body center">
    <b>Quoted Text:</b><br /> <span id="add_comment_quote"></span><br /><br />
    <b>Comments:</b><br />
    <%= f.text_area :content, :cols => 60, :rows => 6, :class => 'span6' %>
  </div>
  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn-primary' %>
    <%= button_to 'Cancel', '#' %>
  </div>
  <% end %>
</div>