<div id="document_header_wrapper">
  <div id="document_header">
    <ul class="nav nav-tabs">
      <li class="active">
      <a href="news-show.html">View</a>
      </li>
      <li>  
        <%= link_to 'Edit', edit_document_path(@document) %>
      </li>
      <li><a href="#">Permissions</a></li>
      <li><a href="#">Revisions <span class="label"><%= @document.versions.length %></span></a></li>
      <li><a href="#">Comments <span class="label">0</span></a></li>
    </ul>
    <a id="btn-add_comment" class="btn btn-primary hide pull-right" data-toggle="modal" href="#modal-add_comment">Add Comment</a>
    <h1><%= @document.title %></h1>
    <p>
      By <b><%= @document.owner.name %></b> (about <%= time_ago_in_words @document.published_at %> ago)
    </p>
  </div>
</div>
<div id="document_content_border">
<div id="document_content">
  <%= render_body @document %>
</div>
</div>

<div class="modal hide fade" id="modal-add_comment">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Add Comment</h3>
  </div>
  <div class="modal-body center">
    <b>Quoted Text:</b><br /> <span id="add_comment_quote"></span><br /><br />
    <b>Comments:</b><br />
    <%= text_area(:comment, :body, :cols => 60, :rows => 6, :class => 'span6') %>
  </div>
  <div class="modal-footer">
    <%= button_to 'Submit Comment', '#', :class => 'btn-primary' %>
    <%= button_to 'Cancel', '#' %>
  </div>
</div>