<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :choice_a %><br />
    <%= f.text_area :choice_a %>
  </div>
  <div class="field">
    <%= f.label :choice_b %><br />
    <%= f.text_area :choice_b %>
  </div>
  <div class="field">
    <%= f.label :choice_c %><br />
    <%= f.text_area :choice_c %>
  </div>
  <div class="field">
    <%= f.label :choice_d %><br />
    <%= f.text_area :choice_d %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  
  <% unless params[:action] == 'edit' %>
    <%= f.hidden_field :polling_session_id, value: @polling_session.id %>
  <% end %>

  <% if false %>
  <div class="field">
    <%= f.label :polling_session_id %><br />
    <%= f.text_field :polling_session_id %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
