<head>
  <head>
    <meta http-equiv="refresh" content="10" />
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('text', 'Options');
        data.addColumn('number', 'count');
        data.addRows(<% @results %>);

        // Set chart options
        var options = {<% @poll.question %>,
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<p id="notice"><%= notice %></p>



<p>
  <b>Question:</b>
  <%= @report.question %>

</p>

<p>
  <b>Choice a:</b>
  <%= @report.choice_a %>
  :<%= Impression.where(impressionable_type: Poll, impressionable_id: @report.id, message: 'a').count%>
</p>

<p>
  <b>Choice b:</b>
  <%= @report.choice_b %>
  :<%= Impression.where(impressionable_type: Poll, impressionable_id: @report.id, message: 'b').count%>
</p>

<p>
  <b>Choice c:</b>
  <%= @report.choice_c %>
  :<%= Impression.where(impressionable_type: Poll, impressionable_id: @report.id, message: 'c').count%>
</p>

<p>
  <b>Choice d:</b>
  <%= @report.choice_d %>
  :<%= Impression.where(impressionable_type: Poll, impressionable_id: @report.id, message: 'd').count%>
</p>

<% if false %>
<p>
  <b>Polling session:</b>
  <%= @poll.polling_session %>
</p>

<div id="chart_div"></div>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<% end %>