<head>
  <meta http-equiv="refresh" content="10" />
  <%= stylesheet_link_tag "bootstrap_and_overrides" %>
  <%= stylesheet_link_tag "poll" %>
</head>

<% unless @poll %>
  <h1>
    There are no active polls at this time.
  </h1>
<% else %>
  <% if @impression %>
    <h1>
      You have voted in the current poll.
    </h1>
  <% else %>
  <div class="mobile">
    <div class="container"> 
      <div class="row">
        <div class="span11">
          </p><b>Question:</b>
          <%= @poll.question %></p><br>
        </div>
      </div>

      <div class="row">
          <p><b>A:</b>
          <%= @poll.choice_a %><br></p>
          <h1><%= link_to "A", pick_a_poll_path(@poll), class: "btn btn-large btn-info", style: "font-size: 60px; height: 20%; width: 100%;" %></h1>
      </div>

      <div class="row" style="width: 100%; margin-bottom: 5%;">
        <p><b>B:</b>
        <%= @poll.choice_b %><br></p>
        <h1><%= link_to "B", pick_b_poll_path(@poll), class: "btn btn-large btn-info", style: "font-size: 60px; height: 20%; width: 100%;" %></h1>
      </div>

      <div class="row" style="width: 100%; margin-bottom: 5%;">
        <p><b>C:</b>
        <%= @poll.choice_c %><br></p>
       <h1> <%= link_to "C", pick_c_poll_path(@poll), class: "btn btn-large btn-info", style: "font-size: 60px; height: 20%; width: 100%;" %></h1>
      </div>

      <div class="row" style="width: 100%; margin-bottom: 5%;">
        <p><b>D:</b>
        <%= @poll.choice_d %><br></p>
        <h1><%= link_to "D", pick_d_poll_path(@poll), class: "btn btn-large btn-info", style: "font-size: 60px; height: 20%; width: 100%;" %></h1>
      </div>
      <br>
      <br>
      <br><div></div>
    </div>
    </div>  
  <% end %>
<% end %>