<head>
  <meta http-equiv="refresh" content="10" />
</head>

<% unless @poll %>
  <h1>
    There are no active polls at this time.
  </h1>
<% else %>
  <% if @impression %>
    <h1>
      You have voted in the current poll.
    </h1>
  <% else %>
    <p>
      <b>Question:</b>
      <%= @poll.question %>
    </p>

    <p>
      <b>A:</b>
      <%= @poll.choice_a %><br>
      <%= link_to "A", pick_a_poll_path(@poll), class: "btn btn-large btn-info" %>
    </p>

    <p>
      <b>B:</b>
      <%= @poll.choice_b %><br>
      <%= link_to "B", pick_b_poll_path(@poll), class: "btn btn-large btn-info" %>
    </p>

    <p>
      <b>C:</b>
      <%= @poll.choice_c %><br>
      <%= link_to "C", pick_c_poll_path(@poll), class: "btn btn-large btn-info" %>
    </p>

    <p>
      <b>D:</b>
      <%= @poll.choice_d %><br>
      <%= link_to "D", pick_d_poll_path(@poll), class: "btn btn-large btn-info" %>
    </p>
  <% end %>
<% end %>