<head>
  <% if false %>
  <meta http-equiv="refresh" content="30" />
  <% end %>
</head>
<p id="notice"><%= notice %></p>
<container style='position:fixed;'>
  <div class="row-fluid" >
    <div class='pull-left' style='position:relative; top: -200px; left:-400px;'>
      <div id='chart'></div>
      <%= render_chart(@chart, 'chart') %>
    </div>
    <div class="" style='padding-top: 230px; position:relative; left:-1000px; width:140%; z-index:100;' >
      <h2 style='font-size: 38px;'>
        <%= @poll.question %>
      </h2><br>
      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'a').count%> Votes</span>
        <b>A:</b>
        <%= @poll.choice_a %>  
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'b').count%> Votes</span>
        <b>B:</b>
        <%= @poll.choice_b %>
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'c').count%> Votes</span>
        <b>C:</b>
        <%= @poll.choice_c %>
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'd').count%> Votes</span>
        <b>D:</b>
        <%= @poll.choice_d %> 
      </h2><br>
    </div>
  </div>

  <%= link_to 'Back to polling session', polling_session_path(@poll.polling_session) %>
</container>

<% if false %>
<p>
  <b>Polling session:</b>
  <%= @poll.polling_session %>
</p>



<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<% end %>