<head>
  <meta http-equiv="refresh" content="10" />
</head>
<p id="notice"><%= notice %></p>

<br>
<container>
  <div class="row-fluid">
    <h2 class='offset1'>
      <%= @poll.question %>
    </h2>
  </div>
  <div class="row-fluid">
    <div class='span4'>
      <div id='chart'></div>
      <%= render_chart(@chart, 'chart') %>
    </div>
    <div class='span5' style='padding-top: 80px;'>
      <p>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'a').count%> Votes</span>
        <b>A:</b>
        <%= @poll.choice_a %>
        
      </p>

      <p>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'b').count%> Votes</span>
        <b>B:</b>
        <%= @poll.choice_b %>
        
      </p>

      <p>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'c').count%> Votes</span>
        <b>C:</b>
        <%= @poll.choice_c %>
        
      </p>

      <p>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'd').count%> Votes</span>
        <b>D:</b>
        <%= @poll.choice_d %>
        
      </p>
    </div>
  </div>

  <%= link_to 'Back to polling session', polling_session_path(@poll.polling_session) %>
</container>

<% if false %>
<p>
  <b>Polling session:</b>
  <%= @poll.polling_session %>
</p>



<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<% end %>