<head>
  <meta http-equiv="refresh" content="30" />
</head>
<p id="notice"><%= notice %></p>

<br>
<container>
  <div class="row-fluid">
    <h2 class='offset1' style='font-size: 42px;'>
      <%= @poll.question %>
    </h2><br>
  </div>
  <div class="row-fluid">
    <div class='pull-left'>
      <div id='chart'></div>
      <%= render_chart(@chart, 'chart') %>
    </div>
    <div class='' style='padding-top: 80px;'>
      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'a').count%> Votes</span>
        <b>A:</b>
        <%= @poll.choice_a %>  
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'b').count%> Votes</span>
        <b>B:</b>
        <%= @poll.choice_b %>
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'c').count%> Votes</span>
        <b>C:</b>
        <%= @poll.choice_c %>
      </h2><br>

      <h2>
        <span class="label label-inverse"><%= Impression.where(impressionable_type: Poll, impressionable_id: @poll.id, message: 'd').count%> Votes</span>
        <b>D:</b>
        <%= @poll.choice_d %> 
      </h2><br>
    </div>
  </div>

  <%= link_to 'Back to polling session', polling_session_path(@poll.polling_session) %>
</container>

<% if false %>
<p>
  <b>Polling session:</b>
  <%= @poll.polling_session %>
</p>



<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<% end %>