

<p>
  <b>Question:</b>
  <%= @poll.question %>

</p>

<p>
  <b>A:</b>
  <%= @poll.choice_a %><br>
  <%= link_to "A", pick_a_poll_path(@poll), class: "btn btn-large btn-info", style: 'width: 150px; height: 25px;' %>
</p>

<p>
  <b>B:</b>
  <%= @poll.choice_b %><br>
  <%= link_to "B", pick_b_poll_path(@poll), class: "btn btn-large btn-info", style: 'width: 150px; height: 25px;' %>
</p>

<p>
  <b>C:</b>
  <%= @poll.choice_c %><br>
  <%= link_to "C", pick_c_poll_path(@poll), class: "btn btn-large btn-info", style: 'width: 150px; height: 25px;' %>
</p>

<p>
  <b>D:</b>
  <%= @poll.choice_d %><br>
  <%= link_to "D", pick_d_poll_path(@poll), class: "btn btn-large btn-info", style: 'width: 150px; height: 25px;' %>
</p>

<%= link_to 'Return to Polling Session', polling_session_path(@poll.polling_session) %>

<% if false %>
<p>
  <b>Polling session:</b>
  <%= @poll.polling_session %>
</p>



<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
<% end %>