<ul class="breadcrumb">
  <li><a href="#">Directory</a> <span class="divider">/</span></li>
  <li><a href="/companies">Companies</a> <span class="divider">/</span></li>
  <li class="active"><%= link_to @company.name, @company %></li>
</ul>
<% if @possible_highrises && can?(:manage, @company) %>
  <% @possible_highrises.each do |possible_highrise| %>
    <div class="alert alert-block alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>Highrise Match Detected!</h4>
         Is this company <%= possible_highrise.name %>?
         <br> <br>
         <%= link_to("Yes, link this company.", company_path(@person, company: {:highrise_id => possible_highrise.id }), :class => 'btn', :method => :put, :confirm => "Are you sure?") %>
    </div>
  <% end %>
<% end %>

<% if can? :manage, @company %>
  <div class="btn-group pull-right">
    <%= link_to('Highrise', highrise_url(@company), :class => 'btn') unless @company.highrise_id.blank? %>
    <%= link_to('Freshbooks', freshbooks_url(@company), :class => 'btn') unless @company.freshbooks_id.blank? %>
    <%= link_to raw('<i class="icon-pencil"></i>'), edit_company_url(@company), :class => 'btn' %>
    <%= link_to raw('<i class="icon-remove"></i>'), @company, :method => 'delete', :class => 'btn', :confirm => "Are you sure you want to delete #{@company.name}?" %>
  </div>
<% end %>

<h2><%= @company.name %></h2><span class="badge badge-inverse"><%= @company.level %></span> 
<% if @company.billing_status == 'active' %>
<span class="badge badge-success"><%= @company.billing_status %></span>
<% else %>
<span class="badge badge-error"><%= @company.billing_status %></span>
<% end %>
<span class="badge badge-inverse"><%= number_to_currency @company.balance %></span>
<hr />


<% if can? :manage, @subscriptions %>
  <h3><%= "Subscriptions for #{@company.name}"%></h3>

  <br>

  <table class="table table-bordered">
    <tr>
      <th class="span2">Subscription Holder</th>
      <th class="span2">Subscription Type</th>
      <th class="span2">Active?</th>
      <th class="span1"></th>
    </tr>

    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= @company.name %></td>
        <td><%= subscription.product %></td>
        <td><%= subscription.active %></td>
        <td style="text-align: center;"><%= link_to 'Update', edit_subscription_path(subscription), class: "btn btn-large", style: "padding-left:50px; padding-right:50px;" %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New Subscription', new_polymorphic_path([@company, :subscription]), class: "btn" %>
<% end %>

<hr> 


<h3><%= "Participants from #{@company.name}"%></h3>
<br>
<%= render :partial => 'people/list', :object => @people %>

<%= link_to 'Back', companies_path %>
