<ul class="breadcrumb">
  <li><a href="#">Directory</a> <span class="divider">/</span></li>
  <li><a href="/companies">Companies</a> <span class="divider">/</span></li>
  <li class="active"><%= link_to @company.name, @company %></li>
</ul>
<% if can? :manage, @company %>
	<div class="btn-group pull-right">
	  <%= link_to('Highrise', highrise_url(@company), :class => 'btn') unless @company.highrise_id.blank? %>
	  <%= link_to('Freshbooks', freshbooks_url(@company), :class => 'btn') unless @company.freshbooks_id.blank? %>
	  <%= link_to raw('<i class="icon-pencil"></i>'), edit_company_url(@company), :class => 'btn' %>
	  <%= link_to raw('<i class="icon-remove"></i>'), @company, :method => 'delete', :class => 'btn', :confirm => "Are you sure you want to delete #{@company.name}?" %>
	</div>
<% end %>

  <h2><%= @company.name %></h2><span class="badge badge-inverse"><%= @company.role %></span> 
  <% if @company.billing_status == 'active' %>
  <span class="badge badge-success"><%= @company.billing_status %></span>
  <% else %>
  <span class="badge badge-error"><%= @company.billing_status %></span>
  <% end %>
  <hr />

<%= render :partial => 'people/list', :object => @people %>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
