<%= form_for([@owner, @subscription]) do |f| %><br>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %>
    <% if @subscription.owner_type == "Company" %>
    <% subscription_types = [['Company Membership', 'company_member'], ['Leader Company', 'leadership']] %>
    <% else %>
    <% subscription_types = [['Pro', 'pro'], ['Individual Subscriber', 'individual_subscriber'], ['Individual Membership', 'individual_member']] %>
    <% end %>
    <%= select_tag('subscription[product]', options_for_select(subscription_types, :selected => @subscription.product), :include_blank => true) %>
  </div>
  <% if false %>
    <div class="field">
      <%= f.label :payment_method %>
      <%= f.text_field :payment_method %><br><br>
    </div>
    <div class="field">
      <%= f.label :payment_id %>
      <%= f.text_field :payment_id %><br><br>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %><br><br>
  </div>
  <div class="actions">
    <%= f.submit "Update Subscription", class: "btn" %>
  </div>
<% end %>
