<h1>Listing subscriptions <%= ' for ' + @owner.name if @owner %></h1><br>

<table class="table table-bordered">
  <tr>
    <th>Owner</th>
    <th>Owner type</th>
    <th>Product</th>
    <th>Payment method</th>
    <th>Payment</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.owner_id %></td>
    <td><%= subscription.owner_type %></td>
    <td><%= subscription.product %></td>
    <td><%= subscription.payment_method %></td>
    <td><%= subscription.payment_id %></td>
    <td><%= subscription.active %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to ' + @owner.name, @owner if @owner %> | <%= link_to 'New Subscription', new_polymorphic_path([@owner, :subscription]) %>