<div class="well">
  <%= form_for Survey.new do |f| %>
    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New survey title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= f.submit "Create new Survey", :class => "btn pull-right btn-large" %>
  <% end %>
</div>

<h2>REG</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><h1>Current surveys</h1></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <div class="btn-group pull-right">
            <button class="btn btn-large"><%= link_to 'Edit',  edit_survey_path(survey) %></button>
            <button class="btn dropdown-toggle btn-large" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Report', report_survey_path(survey) %></li>
              <li><%= link_to 'Delete', survey, :method => "delete", :confirm => "Are you sure?" %></li>
            </ul>
          </div>
          <h2><%= link_to survey.title, survey_path(survey) %></h2>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</content>
<br>
<br>

<% if false %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.title, edit_survey_path(survey) %> 
        <%= link_to survey, :method => "delete", :confirm => "Are you sure?" do %>
        <i class="icon-trash hide"></i>
        <% end %>
      </li>
    <% end %>
      <li>
        <%= form_for Survey.new do |f| %>
          <%= f.text_field :title %>
          <%= f.submit %>
        <% end %>
      </li>
  </ul>
<% end %>

