<% if can?(:edit, post) && params[:action] == 'show' %>
  <% if post.locked? && ['show', 'edit'].include?(params[:action]) %>
    <% if post.locker == current_user %>
      <span class="label">You are currently the editor of this post.</span>
    <% else %>
      <span class="label label-<%= (is_editing?) ? 'important' : 'warning'  %>">Warning: Post is currently being edited by <%= post.locker.name %></span>
    <% end %>
    <br><br>
  <% end %>
<% end %>
<% if @page %>
<div style="padding-left: 10px;">
  <%= link_to page_path(@page), class: 'btn' do %>
    <i class="icon-arrow-left"></i> Back to <%= @page.title %>
  <% end %>
</div>
  <br>
<% end %>
  <div class="page drop-shadow lifted <%= "watermark-draft" unless post.published? %>">
    <article id="post-<%= post.id %>">
        
        <% if post.level == 'basic' && params[:action] == 'index' %>
          <h1 class="ribbon-right ribbon-info ribbon-basic"><i class="icon-key icon-white icon-medium"></i> <%= post.level.capitalize %></h1>
        <% elsif post.level == 'pro' && params[:action] == 'index' %>
          <h1 class="ribbon-right ribbon-info"><i class="icon-key icon-white icon-medium"></i> <%= post.level.capitalize %></h1>
        <% elsif post.level == 'committee' && params[:action] == 'index' %>
          <h1 class="ribbon-right ribbon-info ribbon-member"><i class="icon-key icon-white icon-medium"></i> <%= post.level.capitalize %></h1>
        <% end %>
  
      <h1 class="post_title">
        <% if params[:action] == 'show' || ( params[:action]  == 'index' && params[:filter] == 'archive') %>
          <div id="post_title" class="mercury-region" style="min-width: 100px; margin-right: 10px;" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= post.title.html_safe %></div>
        <% else %>
          <%= link_to post.title.html_safe, post_path(post)  %>
        <% end %>
        <div class="post_date"><%= short_date(post) %></div>
      </h1>
      
      <h3 id="post_author">by <%= post.author.try(:name) %></h3>
      
      <% if params[:filter] == 'drafts' %>
          <% if params[:action] == 'index' && (post_counter >= 0 || cannot?(:read, post))  %>
            <div id="post_preview" class='drafts'>
              <%=raw post.body.split('[---MORE---]').first + " ..." %><b><%= link_to 'continued', post %></b>
            </div>
          <% else %>
            <div id="post_body" class="mercury-region" data-mercury="full" <%= 'contentEditable' if is_editing? %>><%= post.body.html_safe unless params[:action] == 'draft' %></div>
          <% end %>
      <% else %>
          <% if params[:action] == 'index' && (post_counter > 0 || cannot?(:read, post))  %>
            <div id="post_preview">
              <%=raw post.body.split('[---MORE---]').first + " ..." %><b><%= link_to 'continued', post %></b>
            </div>
          <% else %>
            <% if is_editing? %>
              <div id="post_body" class="mercury-region" data-mercury="full" contentEditable><%= post.body.html_safe unless params[:action] == 'draft' %></div>
            <% else %>
              <div id="post_body" class="mercury-region" data-mercury="full"><%= post.body.gsub('[---MORE---]', '').html_safe unless params[:action] == 'draft' %></div>
            <% end %>
          <% end %>
      <% end %>
        

      <div class="post-footer">
        <hr class="hr-small-margin">
          <p class="pull-right">
            <span class="post-footer-heading">Updated: </span>
            <strong><%= time_ago_in_words post.updated_at %> ago</strong>
          </p>
          <p>
            <span class="post-footer-heading">Category: </span>
            <strong><%= (post.tags.pluck(:name).present?) ? post.tags.pluck(:name).to_sentence : "None" %> </strong>
          </p>
        <hr class="hr-small-margin hr-dark">
      </div>
      <br />
    <div class="row">
      <% if can?(:edit, post) && (params[:action] == 'show' || (params[:action] == 'index' && params[:filter] != 'archive') ) %>
        <div id="post_management_controls" class="pull-right">
         <% if @post %><a data-toggle="modal" href="#modal-share_link">share</a> | <% end %><%= link_to "duplicate", duplicate_post_path(post) %> | <%= link_to "claim ", claim_post_path(post) %> | <%= link_to "archive", post_path(post), :method => 'delete', :confirm => "Are you sure?" %>
        </div>
      <% end %>
      <% if ( params[:action]  == 'index' && params[:filter] == 'archive' ) %>
          <%= link_to restore_post_path(post), class: 'btn pull-right' do %>
              <i class="icon-magic"></i> Restore Post
            <% end %>
        <% end %>
    </div>
    <div id="post_comments">
      <% if params[:action] == 'show' && post.commenting_enabled == true %>
          <h1 class="ribbon-left">Comments:</h1>
          <%= render :partial => 'shared/comment_hidden_form' %>
          <%= render :partial => 'shared/comment', :collection => post.comments.reverse %>
      <% end %>
    </div>
  </article>
</div>


<% if params[:action] == 'show' && post.author && post.author.respond_to?(:bio) && post.author.bio.present? %>
  <div id="about_author" class="">
    <div class="thumbnail pull-left" style="background-color: white; margin-right: 15px;">
      <%= avatar_for post.author %>
      <h5><%= post.author.name %></h5>
      <p><%= post.author.company.name %></p>
    </div>
    <h3>About the author</h3>
    <p><%= post.author.bio %></p>
    <div style="clear: both"></div> 
  </div>
  <% end %>