<% content_for :adminbar do %>
	<ul>
		<li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %><i class="icon-asterisk"></i><br><p>New Post</p><% end %></li>
	</ul>
<% end %>

<% content_for :modal_settings do %>
<div class="modal hide fade" id="modal-new-post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body center">
  <%= form_for Post.new do |f| %>
    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New post title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</div>
  <div class="modal-footer">
    <%= f.submit "Create new draft", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>

<% end %>

<% if @posts.present? %>
	<%= render @posts %>
<% else %>
	<h1>You do not currently have any blog posts or news items.</h1>
<% end %>