<% content_for :adminbar do %>
	<ul>
		<li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %><i class="icon-asterisk"></i><br><p>New<br>Post</p><% end %></li>
    <li><%= link_to submitted_posts_path() do %><i class="icon-inbox"></i><br><p>Submitted<br>Posts</p><% end %></li>
    <li><%= link_to draft_posts_path() do %><i class="icon-file"></i><br><p>Drafts</p><% end %></li>
    <li><%= link_to my_draft_posts_path() do %><i class="icon-paste"></i><br><p>My<br>Drafts</p><% end %></li>
    <li><%= link_to archive_posts_path() do %><i class="icon-hdd"></i><br><p>Archived<br>Posts</p><% end %></li>
	</ul>
<% end %>

<% unless @group %>
<% content_for :modal_settings do %>
<div class="modal hide fade" id="modal-new-post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body center">
  <%= form_for [@group, Post.new] do |f| %>
    <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New post title" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</div>
  <div class="modal-footer">
    <%= f.submit "Create new draft", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>

<% end %>
<% end %>

<% if @billboards %>
  <% @billboards.each do |billboard| %>
    <% if billboard.location == "blog index top" && billboard.group_id == (@group ? @group.id : nil) %>
      <div class="billboard" style="margin-top:0px; margin-bottom:20px; margin-left:10px; padding-right:0px;">
        <%= billboard.body.html_safe %>
        <% if false %>
          <% if current_user && current_user.admin? %>
            <div id="edit_billboard<%= billboard.id %>", class="hide billboard_edit_buton" style="text-align:center" >
              <%= link_to "Edit this billboard", edit_billboard_path(billboard), class: "btn btn-info", style: "width:80%; margin-top:10px;" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @posts.present? %>
	<%= render @posts %>
<% else %>
	<h1>You do not currently have any blog posts or news items.</h1>
<% end %>

<% if current_user && current_user.admin? %>
  <script>
    $(".billboard").mouseenter(function (event) {
      $('.billboard_edit_buton').removeClass('hide');
    });
    $(".billboard_edit_buton").mouseenter(function (event) {
      $('.billboard_edit_buton').removeClass('hide');
    });
    $(".billboard").mouseleave(function (event) {
      $('.billboard_edit_buton').addClass('hide');
    });
  </script>
<% end %>