<div class="row">
	<div class="well span8 offset2">
	<h1>CCRO User Registration</h1>
  <%= javascript_tag "var companies = #{ @companies.to_json };" %>

  <%= form_for(@person, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend>User Information</legend>
      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
        <%= f.text_field :email %>
        <p class="help-block">This will be your login username.</p>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %><br /><br />
          <%= f.password_field :password_confirmation %>
          <p class="help-block">Enter password and confirm by entering again.</p>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <%= f.submit nil, :class => 'btn' %> or <%= link_to 'back', :back %>
    </div>

  <% end %>
	</div>
</div>

