

<% if current_user %>
  
  <div id="contact" class="row-fluid">
    <div class="hero-unit span12">  
    <h1 style="margin-bottom: 30px;">Need help?</h1>
    <h2>Contact Danette Kuru at 281-825-4870 or <a href="mailto:danette.kuru@ccro.org">danette.kuru@ccro.org</a>.</h2>
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% else %>
      <p>You do not currently have access to <%= session[:url_return_to] %>.</p>
    <% end %>
    <%= link_to "Back", :back, class: 'btn btn-success btn-large', style: 'width: 100px; height:20px; margin-top:20px' %>
    </div> 
  </div>

<% else %>
<% if browser.ie8? || browser.ie7? %>
  <div class="container">
    <div id="login" class="" style="">
      <div id="login_tools" class="span3 offset4" style="padding:50px; background-color: #eeeeee; margin-bottom:20px;">  
        <h3 style="margin-bottom: 10px; color:#0088cc;"> Please Sign in</h3>
        <div style="margin-bottom:20px;">
          <%= form_tag  :sessions, :class => "form-inline" do %>
            <%= hidden_field_tag :remember_me, '1' %>
            email: <%= text_field_tag :email, '', :class => " ", :placeholder => "Email", style: "margin-bottom:10px;" %></br>
            password: <%= password_field_tag :password, '', :class => " ", :placeholder => "Password", style: "margin-bottom:10px;" %></br>
            <%= link_to 'Sign Up', register_path, class: "" %> | 
            <%= link_to 'Password Help', forgot_password_path, class: "" %>
            <%= submit_tag 'Sign in', :class => "btn brn-large pull-right", style: "" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="login" style="margin-left:50px;">
      <div id="login_tools" class="span3 offset4" style="text-align:center;">  
        <h3 style="margin-bottom: 10px; color:#0088cc;">Need help?</h3>
        <p>Contact Danette Kuru at 281-825-4870 or <a href="mailto:danette.kuru@ccro.org">danette.kuru@ccro.org</a>.</p>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div id="login" class="" style="">
      <div id="login_tools" class="span3 offset4" style="padding:50px; background-color: #eeeeee; margin-bottom:20px;">  
        <h3 style="margin-bottom: 10px; color:#0088cc;"> Please Sign in</h3>
        <div style="margin-bottom:20px;">
          <%= form_tag  :sessions, :class => "form-inline" do %>
            <%= hidden_field_tag :remember_me, '1' %>
            <%= text_field_tag :email, '', :class => "input-xlarge ", :placeholder => "Email", style: "margin-bottom:10px;" %></br>
            <%= password_field_tag :password, '', :class => "input-xlarge ", :placeholder => "Password", style: "margin-bottom:10px;" %></br>
            <%= link_to 'Sign Up', register_path, class: "" %> | 
            <%= link_to 'Password Help', forgot_password_path, class: "" %>
            <%= submit_tag 'Sign in', :class => "btn brn-large pull-right", style: "" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="login" style="margin-left:50px;">
      <div id="login_tools" class="span3 offset4" style="text-align:center;">  
        <h3 style="margin-bottom: 10px; color:#0088cc;">Need help?</h3>
        <p>Contact Danette Kuru at 281-825-4870 or <a href="mailto:danette.kuru@ccro.org">danette.kuru@ccro.org</a>.</p>
      </div>
    </div>
  </div>
<% end %>

  <% if false %>  
    <div id="signup" class="row-fluid">
      <div class="hero-unit span4 ">
        <h1>Basic (Free)</h1>
        <p>
          <ul>
            <li>Access to select articles and other content develop by the CCRO</li>
            <li>Monthly digest email</li>
            <li>Participate in selected CCRO sponsored surveys</li>
          </ul>
        <p><%= link_to "Get started &nbsp;&rarr;".html_safe, new_person_path,  :class => "btn btn-success btn-large" %></p>
      </div>

      <div class="hero-unit span6 ">
        <h1>Pro ($75/mo)</h1>
        <p>
        <ul>
          <li>All benefits included with basic subscriber access plus:</li>
          <li>Access to all articles and other content developed specifically for Pro subscribers</li>
          <li>Early access to select articles before released to the other subscribers</li>
          <li>Monthly Risk Chief newsletter - summarizing the CCRO’s priority topics</li>
          <li>Participate in and view real-time reports from CCRO sponsored surveys</li>
          <li>Discounted CCRO White Paper access</li>
        </ul>
        <p><%= link_to "Get started &nbsp;&rarr;".html_safe, pro_signups_path,  :class => "btn btn-success btn-large" %></p>
      </div>
    </div>
  <% end %>

    

    
  
<% end %>

<style>
body {
	background-color: #fff !important;
}

div#signup div.hero-unit {
	min-height: 400px !important;
	position: relative;
}

div#signup div.hero-unit .btn {
	position: absolute;
	bottom: 40px;
	right: 40px;
}
</style>
