<style>
  .redactor_editor { 
    background-color: #efefef;
  }

  .redactor_box {
    background-color:#efefef;
    margin-top: 50px;
  }

  .redactor_toolbar {
    top: -50px;
    position: absolute;
    min-width: 555px;
  }
</style>

<%= form_for(@billboard) do |f| %>
  <% if @billboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billboard.errors.count, "error") %> prohibited this billboard from being saved:</h2>

      <ul>
      <% @billboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @locations = [] %>
  <% @locations = "blog index top", "blog sidebar top", "blog sidebar after polls", "blog sidebar after menu", "group sidebar top", "group sidebar after first menu", "group sidebar after last menu"%>

  <div class="row-fluid">
    <div class="span4">
      <div class="field">
        <p> Title: <%= f.text_field :title, style: "width:500px;" %></p>
        </br>
      </div>
    </div>
  </div>

  <% if params[:action] == 'edit' %>

      <% if @billboard.location == "blog index top" %>
        <p> note: This billboard will be shown on the top of the front page. The width of this Billboard is 850px. The hight can be what ever you want. </p>

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:850px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "blog sidebar top" %>
        
        <p> note: This billboard will be shown on the top of the sidebar when viewing blog posts. The width of this Billboard is 270px. The hight can be what ever you want. </p>
      

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "blog sidebar after polls" %>
        
        <p> note: This billboard will be shown after the polls of the sidebar when viewing blog posts. The width of this Billboard is 270px. The hight can be what ever you want. </p>
      

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "blog sidebar after menu" %>
        
        <p> note: This billboard will be shown after the main menu of the sidebar when viewing blog posts. The width of this Billboard is 270px. The hight can be what ever you want. </p>
      

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "group sidebar top" %>
        
        <p> note: This billboard will be shown at the top of the sidebar when viewing a group. The width of this Billboard is 270px. The hight can be what ever you want. </p>

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "group sidebar after first menu" %>
        
        <p> note: This billboard will be shown after the first sidebar menu when viewing a group. The width of this Billboard is 270px. The hight can be what ever you want. </p>

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>

      <% if @billboard.location == "group sidebar after last menu" %>
        
        <p> note: This billboard will be shown after the last sidebar menu when viewing a group. The width of this Billboard is 270px. The hight can be what ever you want. </p>

        <div class="row-fluid">
          <div class="field">
            <div class="">
              <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px; width:270px;">
                <%= f.text_area :body, class: "redactor" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span4">
          <% if @billboard.location.nil? %>
            <p> Location <%= f.select :location, options_for_select(@locations), {:prompt => 'Select location for billboard'} %>
            <p> Group <%= f.select :group_id, Group.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select a group if needed'} %>
            </br> 
            <div class="actions">
              <%= f.submit "Create Billboard", class: "btn" %>
            </div> 
          <% else %>
            <div class="field">
              <p> Active: <%= f.check_box :active, style: "margin-top:-3px;" %></p>
            </div>

            <div class="field">
              <p> Archived: <%= f.check_box :archived, style: "margin-top:-3px;" %></p>
            </div>
            <br />

            <div class="actions">
              <%= f.submit "Update Billboard", class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <% else %>
    <p> Location <%= f.select :location, options_for_select(@locations), {:prompt => 'Select location for billboard'} %>
    <p> Group <%= f.select :group_id, Group.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select a group if needed'} %>
    </br>  
    <div class="actions">
      <%= f.submit "Create Billboard", class: "btn" %>
    </div>
  <% end %>
<% end %>
