<style>
  .redactor_editor {
    background-color: #efefef;
  }

  .redactor_box {
    background-color:#efefef;
    padding-left:15px;
    padding-right:15px;
  }
</style>

<%= form_for(@billboard) do |f| %>
  <% if @billboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billboard.errors.count, "error") %> prohibited this billboard from being saved:</h2>

      <ul>
      <% @billboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span4">
      <div class="field">
        <p> Title: <%= f.text_field :title %></p>
        <p> note: The width of the Billboard is 840px. The hight can be what ever you want.
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="field">
      <div class="span9">
        <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:10px; padding-right:10px;">
          <%= f.text_area :body, class: "redactor" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="field">
          <p> Active: <%= f.check_box :active, style: "margin-top:-3px;" %></p>
        </div>

        <div class="field">
          <p> Archived: <%= f.check_box :archived, style: "margin-top:-3px;" %></p>
        </div>
        <br />
        <% if params[:action] == 'edit' %>
          <div class="actions">
            <%= f.submit "Update Billboard", class: "btn" %>
          </div>
        <% else %>
          <div class="actions">
            <%= f.submit "Create Billboard", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
