<%= link_to 'New Billboard', new_billboard_path, class: "btn" %>

<h1>Active billboards</h1>

<% if @active_billboards.nil? %>
  <p> You have no active billboards at this time.
<% else %>
  <table class="table">
    <tr>
      <th class="span3">Title</th>
      <th class="span3">Location</th>
      <th class="span3">Group</th>
      <th class="span1"></th>
      <th class="span1"></th>
      <th class="span1"></th>
      <th class="span1"></th>
    </tr>

  <% @active_billboards.each do |billboard| %>
    <tr>
      <td><%= billboard.title %></td>
      <td><%= billboard.location %></td>
      <td><%= Group.find_by_id(billboard.group_id).name unless Group.find_by_id(billboard.group_id).nil? %></td>
      <td><%= link_to 'De-activate', deactivate_billboard_path(billboard) %></td>
      <td><%= link_to 'Show', billboard %></td>
      <td><%= link_to 'Edit', edit_billboard_path(billboard) %></td>
      <td><%= link_to 'Archive', archive_billboard_path(billboard) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

</br>
<h1>Inactive billboards</h1>
<% if @inactive_billboards ==  nil %>
  <p> You have no inactive billboards at this time.
<% else %>
  <table class="table">
    <tr>
      <th class="span3">Title</th>
      <th class="span3">Location</th>
      <th class="span3">Group</th>
      <th class="span1"></th>
      <th class="span1"></th>
      <th class="span1"></th>
      <th class="span1"></th>
    </tr>

  <% @inactive_billboards.each do |billboard| %>
    <tr>
      <td><%= billboard.title %></td>
      <td><%= billboard.location %></td>
      <td><%= Group.find_by_id(billboard.group_id).name unless Group.find_by_id(billboard.group_id).nil? %></td>
      <td><%= link_to 'Activate', activate_billboard_path(billboard) %></td>
      <td><%= link_to 'Show', billboard %></td>
      <td><%= link_to 'Edit', edit_billboard_path(billboard) %></td>
      <td><%= link_to 'Archive', archive_billboard_path(billboard) %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<br />

<%= link_to 'View archived billboards', archived_billboards_path %>
