<!DOCTYPE html>
<html>
<head>
  <title>CCRO - <%= params[:controller].capitalize %></title>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "messages", :media => 'all' if params[:controller] == 'messages' %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body id="<%= "%s_%s" % [controller_name, action_name] %>">
<% if browser.ie8? || browser.ie7? %>
  <% if current_user   %>
    <div style="margin-bottom:20px;">
      <div>
        <%= render 'shared/nav' %>
      </div>
    </div>
    <% if params[:action] == 'index' %>
      <div id="warning_message" style="margin-bottom: 20px;">
        <%= render 'shared/browser_warning' %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/public_nav' %>
  <% end %>
<% else %>
    <% if current_user   %>
      <div style margin-bottom: 100px;>
        <div style="margin-bottom: 100px;">
          <%= render 'shared/nav' %>
        </div>
          <% if params[:action] == 'index' %>
            <div id="warning_message" style="margin-bottom: 20px;">
              <%= render 'shared/browser_warning' %>
            </div>
          <% end %>
      </div>
  <% else %>
    <div margin-bottom:20px;>
      <%= render 'shared/public_nav' %>
    </div>
  <% end %>
<% end %>


	<div class="container">
		<div id="notices">
			<% flash.each do |key, msg| %>
	    	  <div id="notice_<%= key %>" class="alert alert-<%= key %>">
	          <a class="close" data-dismiss="alert">×</a>
	          <strong><%=  key.to_s.capitalize %>:</strong> <%= msg %>
	        </div>
			<% end %>
		</div>
<!--Body content (BEGIN)-->
<div class="row">
	<%= yield %>
</div>
<!--Body content (END)-->
<footer>
	<%= render 'shared/footer' %>
</footer>
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>



<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>