<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' %>
    <title><% @post.title if @post %></title>
  <% else %>
    <title>CCRO</title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "/posts.rss", :title => "CCRO RSS Feed") %>
  <%= auto_discovery_link_tag(:atom, "/posts.atom", :title => "CCRO Atom Feed") %>
</head>
<body id="blog">
<!--Body content (BEGIN)-->
  <% if browser.ie8? || browser.ie7? %>
    <% if current_user   %>
      <div style="margin-bottom:20px;">
        <div>
          <%= render 'shared/nav' %>
        </div>
      </div>
      <% if params[:action] == 'index' %>
        <div id="warning_message" style="margin-bottom: 20px;">
          <%= render 'shared/browser_warning' %>
        </div>
      <% end %>
    <% else %>
      <%= render 'shared/public_nav' %>
    <% end %>  

    <div class="container">
          <div style="width:22%; float:left;">
            <% unless params[:controller] == 'signups' %>  
              <aside class="span3">
              <%= link_to 'Survey: Vote on 2013 Meeting Dates', "/surveys/14", class: 'btn btn-info btn-large', style: 'margin-bottom: 20px; margin-left:0; padding-left: 25%; padding-right: 25%;' %>
                <ul class="nav nav-tabs nav-stacked">
                  <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                  <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                  <li><%= link_to 'CCRO Passport Implementation', "/pages/25" %></li>
                  <li><%= link_to 'Evaluating Risk and Renewables', "/pages/28" %></li>
                  <li><%= link_to 'Next Steps for Risk and Compliance under Dodd-Frank', "/pages/27" %></li>
                  <li><%= link_to 'CCRO Industry Survey: Risk Organizations', "/pages/29" %></li>
                  <li><%= link_to 'Risk Metrics Subcommittee', "/pages/31" %></li>
                  <li><%= link_to 'Credit Risk Practices with Increased Use of FCMs', "/pages/32" %></li>
                  <li><%= link_to 'CCRO Training Development Team', "/pages/33" %></li>
                  <li><%= link_to 'Updating Your Risk Policy', "/pages/34" %></li>
                </ul>
                <% if current_user && current_user.admin? %>
                  <%= image_tag "http://placehold.it/300x250" %><br><br>
                  <%= image_tag "http://placehold.it/300x600" %>
                <% end %>
              </aside>
            <% end %>
          </div>
          <div style="width:75%; float:right;">
            <%= yield %>
          </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% else %>

    <% if current_user   %>
      <div style margin-bottom: 100px;>
        <div style="margin-bottom: 100px;">
          <%= render 'shared/nav' %>
        </div>
          <% if params[:action] == 'index' %>
            <div id="warning_message" style="margin-bottom: 20px;">
              <%= render 'shared/browser_warning' %>
            </div>
          <% end %>
      </div>
    <% else %>
      <div margin-bottom:20px;>
      <%= render 'shared/public_nav' %>
    </div>
    <% end %>  

    <div class="container">
      <div class="row">
        <% unless params[:controller] == 'signups' %>  
        	<aside class="span3">
            <%= link_to 'Survey: Vote on 2013 Meeting Dates', "/surveys/14", class: 'btn btn-info btn-large', style: 'margin-bottom: 20px; margin-left:0; padding-left: 25%; padding-right: 25%;' %>
            <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                <li><%= link_to 'CCRO Passport Implementation', "/pages/25" %></li>
                <li><%= link_to 'Evaluating Risk and Renewables', "/pages/28" %></li>
                <li><%= link_to 'Next Steps for Risk and Compliance under Dodd-Frank', "/pages/27" %></li>
                <li><%= link_to 'CCRO Industry Survey: Risk Organizations', "/pages/29" %></li>
                <li><%= link_to 'Risk Metrics Subcommittee', "/pages/31" %></li>
                <li><%= link_to 'Credit Risk Practices with Increased Use of FCMs', "/pages/32" %></li>
                <li><%= link_to 'CCRO Training Development Team', "/pages/33" %></li>
                <li><%= link_to 'Updating Your Risk Policy', "/pages/34" %></li>
            </ul>
            <% if current_user %>
            <ul class="nav nav-tabs nav-stacked">
              <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">How do I:</li>
              <li><%= link_to 'How do I - Join a working group?', "/pages/57" %></li>
              <li><%= link_to 'How do I - Learn about working groups?', "/pages/59" %></li>
              <li><%= link_to 'How do I - Work with online files?', "/pages/60" %></li>
              <li><%= link_to 'How do I - For Chairs and Coordinators?', "/pages/57" %></li>
            </ul>
            <% end %>
            <% if current_user && current_user.admin? %>
              <%= image_tag "http://placehold.it/300x250" %><br><br>
              <%= image_tag "http://placehold.it/300x600" %>
            <% end %>
          </aside>
        <% end %>
        <section class="<%= (params[:controller] == 'signups') ? 'span12' : 'span9' %>">
          <%= yield %>
        </section>
      </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% end %>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>

<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>
