<!DOCTYPE html>
<html>
<br>
<head>
  <title>CCRO - <%= "CCRO Blog" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="blog">
<!--Body content (BEGIN)-->
<div class="container">
	<header>
    <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300'), root_path %>
    <div class="pull-right">
        <%= link_to "Home", blog_posts_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if current_user %>
          <%= link_to "Create a new blog post", new_blog_post_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
        <a href="#">About the CCRO</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <% if current_user %>
          <%= link_to "Logout " + current_user.name, logout_path %>
        <% else %>
          <%= link_to "Join/Register", register_path %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Login", login_path %>
        <% end %>
    </div>
  </header>
  <div class="row">
  	<section class="span9">
      <%= yield %>
    </section>
  	<aside class="span3">
  	  
    </aside>
  </div>
  <footer>
    &copy; 2012 CCRO
  </footer>
</div>
<!--Body content (END)-->
</body>
</html>
