<!DOCTYPE html>
<html>
<head>
  <title>CCRO - <%= "CCRO Blog" %></title>
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-wysihtml5", :media => "all" %>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "mercury" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://ccro.dev/posts.rss") %>
  <%= auto_discovery_link_tag(:atom, "http://ccro.dev/posts.atom") %>
</head>
<body id="blog">
<!--Body content (BEGIN)-->
  
  <header class="fatty <%='collapse' if params[:action] == 'show' || ['drafts', 'my_drafts'].include?(params[:filter]) %> ">
    <div id='fatty_basket' class="container">
      <div id='fatty_nav'class="row">
        <div id="logo" class="span3">
          <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300', :id => 'header_logo'), root_path %> 
        </div>
        <div class="span4">
          <ul id="nav_links">
            <li><%= link_to 'About', '#' %></li>
            <li><%= link_to 'Contact', '#' %></li>
            <li><%= link_to 'Subscribe', '#' %></li>
            <li><%= link_to 'Help', '#' %></li>
          </ul>
        </div>

        
          <% if current_user %>
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
                <% if can? :create, Post %>
                  <%= link_to blog_draft_posts_path, :class => 'btn' do %>  
                    <i class="icon-list-alt"></i> Manage drafts
                  <% end %>
                <% end %>
              </div>
              <div class="btn-group">
                <%= link_to current_user.name, current_user, :class => 'btn' %>
                <%= link_to logout_path, :class => 'btn' do %>
                  <i class="icon-off"></i>
                <% end %>
             </div>
            </div>
          <% else %>
            <div id="login_tools" class="span5">  
              <%= form_tag  :sessions, :class => "pull-right form-inline" do %>
                <%= hidden_field_tag :remember_me, '1' %>
                <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
                <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
                <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
              <% end %>
            </div> 
          <% end %>
        
      </div>

      <div id="header_expanded" class="row">
        <div id="promo_video" class="span8">
          <iframe id="video" src="http://player.vimeo.com/video/40555402?title=0&amp;byline=0&amp;portrait=0" width="770" height="432" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="header_promo" class="span4">
          <h1>Committee of Chief Risk Officers:</h1>
          <p>Advancing Best Practices for Energy Companies</p>
          <p>
            <% unless params[:controller] == 'signups' %>  
              <%= link_to 'Learn more', signups_path, class: "btn btn-primary btn-large" %>
            <% end %> 
          </p>
        </div>
      </div>
    </div>
  </header>
  

  <div class="container">
    <div class="row">
      <% unless params[:controller] == 'signups' %>  
      	<aside class="span3">
          <ul class="nav nav-tabs nav-stacked">
              <li><%= link_to "Home", blog_posts_path %></li>
              <li><a href="http://ccro.org/about/237">About the CCRO</a></li>
          </ul>
            
          <ul class="nav nav-tabs nav-stacked" style="padding-top: 15px;">
              <% if can? :create, Post %>
                <li><a href="http://blog.ccro.org/posts/19-introduction-to-blog-content-creation">How create new blog posts</a></li>
                <li><%= link_to 'Manage my drafts', blog_my_draft_posts_path() %></li>
              <% end %>
          </ul>
        </aside>
      <% end %>

      <section class="<%= (params[:controller] == 'signups') ? 'span12' : 'span9' %>">
            <%= yield %>
      </section>
    </div>  
      <footer>
        &copy; 2012 CCRO
      </footer>
  </div>
<!--Body content (END)-->
<%= render :partial => 'blog/ga' if Rails.env.production? %>
</body>
</html>
