<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' %>
    <title><% @post.title if @post %></title>
  <% else %>
    <title>CCRO</title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "/posts.rss", :title => "CCRO RSS Feed") %>
  <%= auto_discovery_link_tag(:atom, "/posts.atom", :title => "CCRO Atom Feed") %>

  <style>
    .survey_btn {
      margin-bottom: 20px;
      margin-left: 0;
      padding-left: 20%;
      padding-right: 20%;
      font-size: 15px;
    }

    a:hover {
      text-decoration:none;
    }
  </style>
</head>
<body id="blog">
<!--Body content (BEGIN)-->
  <% if browser.ie8? || browser.ie7? %>
    <% if current_user   %>
      <div style="margin-bottom:20px;">
        <div>
          <%= render 'shared/nav' %>
        </div>
      </div>
      <% if params[:action] == 'index' %>
        <div id="warning_message" style="margin-bottom: 20px;">
          <%= render 'shared/browser_warning' %>
        </div>
      <% end %>
    <% else %>
      <%= render 'shared/public_nav' %>
    <% end %>  

    <div class="container">
          <div style="width:22%; float:left;">
            <% unless params[:controller] == 'signups' %>  
              <aside class="span3">
                <% if @billboards %>
                  <% @billboards.each do |billboard| %>
                    <% if billboard.location == "blog sidebar top"%>
                      <div class="billboard" style="margin-top:0px; margin-bottom:20px; padding-left:15px; padding-right:15px;">
                        <%= billboard.body.html_safe %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>

                <% if current_user && current_user.committee? %>
                  <% @surveys.each do |survey| %>
                    <%= link_to "Poll: #{survey.title}", survey, class: "btn btn-info btn-large survey_btn" %>
                  <% end %>
                <% end %>

                <% if current_user %>
                  <% if @my_groups.length > 0%>
                    <ul class="nav nav-tabs nav-stacked">
                      <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">My CCRO Working Groups</li>
                      <% @my_groups.each do |group| %>
                        <li><%= link_to group.name, group %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <% if @other_groups.length > 0%>
                    <ul class="nav nav-tabs nav-stacked">
                      <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                      <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                      <% @other_groups.each do |group| %>
                        <li><%= link_to group.name, page_path(Page.find(group.overview_page)) %></li>
                      <% end %>
                    </ul>
                  <% end %>

                  <%= link_to "http://ccro.org/pages/76" do %>
                    <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/112/Screen_Shot_2013-04-10_at_2.03.52_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                    <div style="background-color:#A1A0BB;">
                     <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Michael Prokop</p>
                   </div>
                    
                  <% end %>
                  <%= link_to "http://ccro.org/pages/76" do %>
                    <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/111/Screen_Shot_2013-04-10_at_1.56.33_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                    <div style="background-color:#A1A0BB">
                    <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Enrique Mejorada</p>
                     </div>
                  <% end %>
                  <%= link_to "http://ccro.org/pages/76" do %>
                    <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/110/Screen_Shot_2013-04-10_at_1.55.07_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                    <div style="background-color:#A1A0BB">
                    <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Glen Mackey</p>
                     </div>
                  <% end %>
              
                  <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">How do I:</li>
                    <li><%= link_to 'How do I - Join a working group?', "/pages/57" %></li>
                    <li><%= link_to 'How do I - Conference calls?', "pages/66" %></li>
                    <li><%= link_to 'How do I - Learn about working groups?', "/pages/59" %></li>
                    <li><%= link_to 'How do I - Work with online files?', "/pages/60" %></li>
                    <li><%= link_to 'How do I - For Chairs and Coordinators?', "/pages/61" %></li>
                  </ul>
                <% else %>
                  <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                    <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                    <% @groups.each do |group| %>
                      <% group_overview_page = Page.find(group.overview_page)%>
                      <li><%= link_to group.name, page_path(group_overview_page) %></li>
                    <% end %>
                  </ul>
                <% end %>

                <% if current_user && current_user.admin? %>
                  <%= image_tag "http://placehold.it/300x250" %><br><br>
                  <%= image_tag "http://placehold.it/300x600" %>
                <% end %>
              </aside>
            <% end %>
          </div>
          <div style="width:75%; float:right;">
            <%= yield %>
          </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% else %>

    <% if current_user   %>
      <div style margin-bottom: 100px;>
        <div style="margin-bottom: 100px;">
          <%= render 'shared/nav' %>
        </div>
          <% if params[:action] == 'index' %>
            <div id="warning_message" style="margin-bottom: 20px;">
              <%= render 'shared/browser_warning' %>
            </div>
          <% end %>
      </div>
    <% else %>
      <div margin-bottom:20px;>
      <%= render 'shared/public_nav' %>
    </div>
    <% end %>  

    <div class="container">
      <div class="row">
        <% unless params[:controller] == 'signups' %>  
        	<aside class="span3">
            <% if @billboards %>
              <% @billboards.each do |billboard| %>
                <% if billboard.location == "blog sidebar top"%>
                  <div class="billboard blog-sidebar-top" style="margin-top:0px; margin-bottom:20px; padding-left:0px; padding-right:0px;">
                    <%= billboard.body.html_safe %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
           
            <% if current_user && current_user.committee? %>
              <% if current_user && current_user.committee? %>
                <% @surveys.each do |survey| %>
                  <%= link_to "Poll: #{survey.title}", survey, class: "btn btn-info btn-large survey_btn" %>
                <% end %>
              <% end %>
            <% end %>

            <% if current_user %>
              <% if @my_groups && @my_groups.length > 0%>
                <ul class="nav nav-tabs nav-stacked">
                  <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">My CCRO Working Groups</li>
                  <% @my_groups.each do |group| %>
                    <li><%= link_to group.name, group %></li>
                  <% end %>
                </ul>
              <% end %>
              <% if @other_groups && @other_groups.length > 0%>
                <ul class="nav nav-tabs nav-stacked">
                  <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                  <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                  <% @other_groups.each do |group| %>
                    <li><%= link_to group.name, page_path(Page.find(group.overview_page)) %></li>
                  <% end %>
                </ul>
              <% end %>

              <%= link_to "http://ccro.org/pages/76" do %>
                <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/112/Screen_Shot_2013-04-10_at_2.03.52_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                <div style="background-color:#A1A0BB;">
                 <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Michael Prokop</p>
               </div>
                
              <% end %>
              <%= link_to "http://ccro.org/pages/76" do %>
                <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/111/Screen_Shot_2013-04-10_at_1.56.33_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                <div style="background-color:#A1A0BB">
                <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Enrique Mejorada</p>
                 </div>
              <% end %>
              <%= link_to "http://ccro.org/pages/76" do %>
                <%= image_tag "https://s3.amazonaws.com/ccromembers_assets/redactor_assets/pictures/110/Screen_Shot_2013-04-10_at_1.55.07_PM.png", style: "border-style:solid; border-width:1px; border-color:lightgray; width: 99%;" %>
                <div style="background-color:#A1A0BB">
                <p style="margin-bottom:20px; text-align:center; color:white; padding:2px;">Summit Interview: Glen Mackey</p>
                 </div>
              <% end %>

              <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">How do I:</li>
                <li><%= link_to 'How do I - Join a working group?', "/pages/57" %></li>
                <li><%= link_to 'How do I - Conference calls?', "pages/66" %></li>
                <li><%= link_to 'How do I - Learn about working groups?', "/pages/59" %></li>
                <li><%= link_to 'How do I - Work with online files?', "/pages/60" %></li>
                <li><%= link_to 'How do I - For Chairs and Coordinators?', "/pages/61" %></li>
              </ul>
            <% else %>
              <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                <% @groups.each do |group| %>
                  <% group_overview_page = Page.find(group.overview_page)%>
                  <li><%= link_to group.name, page_path(group_overview_page) %></li>
                <% end %>
              </ul>
            <% end %>

              


            <% if current_user && current_user.admin? %>
              <%= image_tag "http://placehold.it/300x250" %><br><br>
              <%= image_tag "http://placehold.it/300x600" %>
            <% end %>
          </aside>
        <% end %>
        <section class="<%= (params[:controller] == 'signups') ? 'span12' : 'span9' %>">
          <%= yield %>
        </section>
      </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% end %>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>

<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>
