<!DOCTYPE html>
<html>
<br>
<head>
  <title>CCRO - <%= "CCRO Blog" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "mercury" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://ccro.dev/posts.rss") %>
  <%= auto_discovery_link_tag(:atom, "http://ccro.dev/posts.atom") %>
</head>
<body id="blog">
<!--Body content (BEGIN)-->
<div class="container">
  <div class="row">
      <header class="span12">
        <div class="pull-right">
          <div class="btn-toolbar">
            <div class="btn-group">
              <% if can? :create, Post %>
                <%= link_to draft_blog_posts_path, :class => 'btn' do %>  
                  <i class="icon-list-alt"></i> Manage drafts
                <% end %>
              <% end %>
            </div>
            <div class="btn-group">
               <% if current_user %>
                <%= link_to current_user.name, current_user, :class => 'btn' %>
                <%= link_to logout_path, :class => 'btn' do %>
                  <i class="icon-off"></i>
                <% end %>
              <% end %>
           </div>
          </div>
        </div>
        <% unless current_user %>
          <div class="pull-right">
          <%= form_tag  :sessions, :class => "form-inline" do %>
            <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
            <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
            <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
          <% end %>
          <%= link_to "I don't have an account, but ...", register_path, :class => 'pull-right' %>
          </div>
        <% end %>
        <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300'), root_path %>
      </header>
  </div>
     	<div class="row">
    	  <aside class="span3">
          <ul class="nav nav-tabs nav-stacked">
              <li><%= link_to "Home", blog_posts_path %></li>
              <li><a href="#">About the CCRO</a></li>
          </ul>
          <!--
          <ul class="nav nav-tabs nav-stacked">
              <li><a href="#">Credit Risk</a></li>
              <li><a href="#">Compliance</a></li>
              <li><a href="#">FERC Order No. 741</a></li>
              <li><a href="#">Blah Blah</a></li>
              <li><a href="#">Avatar Postings</a></li>
          </ul>
          <form class="form-search">
            <input type="text" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
          </form>
          -->
          <center><%= image_tag "http://placehold.it/200x150&text=Future%20Ad" %><br><br><%= image_tag "http://placehold.it/200x450&text=Future%20Ad" %></center>
        </aside>
        <section class="span9">
              <%= yield %>
        </section>
      </div>  
      <footer>
        &copy; 2012 CCRO
      </footer>
    </div>
  </div>
</div>
<!--Body content (END)-->
<%= render :partial => 'blog/ga' if Rails.env.production? %>
</body>
</html>
