<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' %>
    <title><% @post.title if @post %></title>
  <% else %>
    <title>CCRO</title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "/posts.rss", :title => "CCRO RSS Feed") %>
  <%= auto_discovery_link_tag(:atom, "/posts.atom", :title => "CCRO Atom Feed") %>
</head>
<body id="blog">

<% if current_user   %>
  <div style margin-bottom: 100px;>
    <div style="margin-bottom: 100px;">
      <%= render 'shared/nav' %>
    </div>
      <% if params[:action] == 'index' %>
        <div id="warning_message" style="margin-bottom: 20px;">
          <%= render 'shared/browser_warning' %>
        </div>
      <% end %>
  </div>
<% else %>


  <%= render 'shared/public_nav' %>
<% end %>  
<!--Body content (BEGIN)-->
  <% if browser.ie8? %>
    <div class="container">
          <div style="width:30%; float:left;">
            <% unless params[:controller] == 'signups' %>  
              <aside class="span3">
                <ul class="nav nav-tabs nav-stacked">
                  <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                  <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                  <li><%= link_to 'CCRO Passport Implementation', "/pages/25" %></li>
                  <li><%= link_to 'Evaluating Risk and Renewables', "/pages/28" %></li>
                  <li><%= link_to 'Next Steps for Risk and Compliance under Dodd-Frank', "/pages/27" %></li>
                  <li><%= link_to 'CCRO Industry Survey: Risk Organizations', "/pages/29" %></li>
                  <li><%= link_to 'Risk Metrics Subcommittee', "/pages/31" %></li>
                  <li><%= link_to 'Credit Risk Practices with Increased Use of FCMs', "/pages/32" %></li>
                  <li><%= link_to 'CCRO Training Development Team', "/pages/33" %></li>
                  <li><%= link_to 'Updating Your Risk Policy', "/pages/34" %></li>
                </ul>
                <% if current_user && current_user.admin? %>
                  <%= image_tag "http://placehold.it/300x250" %><br><br>
                  <%= image_tag "http://placehold.it/300x600" %>
                <% end %>
              </aside>
            <% end %>
          </div>
          <div style="width:65%; float:right;">
            <%= yield %>
          </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% else %>

    <div class="container">
      <div class="row">
        <% unless params[:controller] == 'signups' %>  
        	<aside class="span3">
            <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header" style="color:white; background-color: #A1A0BB; text-shadow: 0 0px 0;">CCRO Working Groups</li>
                <li><%= link_to 'Working Groups Overview', "/pages/23" %></li>
                <li><%= link_to 'CCRO Passport Implementation', "/pages/25" %></li>
                <li><%= link_to 'Evaluating Risk and Renewables', "/pages/28" %></li>
                <li><%= link_to 'Next Steps for Risk and Compliance under Dodd-Frank', "/pages/27" %></li>
                <li><%= link_to 'CCRO Industry Survey: Risk Organizations', "/pages/29" %></li>
                <li><%= link_to 'Risk Metrics Subcommittee', "/pages/31" %></li>
                <li><%= link_to 'Credit Risk Practices with Increased Use of FCMs', "/pages/32" %></li>
                <li><%= link_to 'CCRO Training Development Team', "/pages/33" %></li>
                <li><%= link_to 'Updating Your Risk Policy', "/pages/34" %></li>
            </ul>
            <% if current_user && current_user.admin? %>
              <%= image_tag "http://placehold.it/300x250" %><br><br>
              <%= image_tag "http://placehold.it/300x600" %>
            <% end %>
          </aside>
        <% end %>
        <section class="<%= (params[:controller] == 'signups') ? 'span12' : 'span9' %>">
          <%= yield %>
        </section>
      </div>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  <% end %>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>

<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>
