<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' && @group.name.present? %>
    <title>CCRO - Group - <%= @group.name.html_safe %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "group", :media => "all" %>
  <%= stylesheet_link_tag "messages", :media => "all" if params[:controller] == 'messages' %>
  <%= stylesheet_link_tag "blog", :media => "all" if params[:controller] == 'posts' %>
  <%= stylesheet_link_tag "page", :media => "all" if params[:controller] == 'pages' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://ccro.dev/posts.rss") %>
  <%= auto_discovery_link_tag(:atom, "http://ccro.dev/posts.atom") %>
</head>
<body id="web_group">
<!--Body content (BEGIN)-->
<% if browser.ie8? || browser.ie7? %>
  <div style="margin-bottom:-80px">
    <% if current_user %>
        <div>
          <%= render 'shared/nav' %>
        </div>
        <% if params[:action] == 'index' %>
          <div id="warning_message">
            <%= render 'shared/browser_warning' %>
          </div>
        <% end %>
      </div>
    <% else %>
    <div style="padding-bottom:0px;">
      <%= render 'shared/public_nav' %>
    </div>
    <% end %>
  </div>

  <div class="container" style="margin-top:100px">
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :groups_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row group">
      <section class="<%= (params[:controller] == 'signups') || (params[:controller] == 'groups' && params[:action] == 'index') ? '' : 'span9' %>"
              style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">
              <% if @group %>
                <div style="background-color: #fff; padding: 10px; border: 1px solid grey; "> <h2><%= @group.name %> </h2></div><br>
              <%end %>
        <% unless ['posts', 'messages'].include? params[:controller] %>
        <div style="width:75%; float:left; margin-top:-0px">
          <div style="background-color: #fff; padding: 10px; border: 1px solid grey; box-shadow: 2px 2px 6px lightgrey;"><%= yield %></div>
        </div>
        <% else %>
          <div style="width:75%; float:left; margin-top:-25px">
            <%= yield %>
          </div>
        <% end %>
      </section>

      <% unless params[:controller] == 'signups' %>  
        <div style="width:22%; float:right;">

          <% if ((params[:action] == 'index' && (params[:controller] == 'posts' || params[:controller] == 'memberships')) || 
                 ((params[:action] == 'new' || 'edit') && params[:controller] == 'messages')) || params[:action] == 'show_activity' %>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:action] == 'show'%>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:action] == 'permissions'%>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:controller] == 'attachments'%>
            <%= render :partial => 'groups/sidebar' %>
           <% end %>
          
        </div>
      <% end %>
    </div>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
<% else %>
  <% if current_user   %>
      <div style="margin-bottom: 100px;">
        <%= render 'shared/nav' %>
      </div>
      <% if params[:action] == 'index' %>
        <div id="warning_message" style="margin-bottom: 20px;">
          <%= render 'shared/browser_warning' %>
        </div>
      <% end %>
    </div>
  <% else %>
  <div style="padding-bottom:0px;">
    <%= render 'shared/public_nav' %>
  </div>
  <% end %>


  <div class="container">
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :groups_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row group">
      <section class="<%= (params[:controller] == 'signups') || (params[:controller] == 'groups' && params[:action] == 'index') ? '' : 'span9' %>"
              style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">
              <% if @group %>
                <div style="background-color: #fff; padding: 10px; border: 1px solid grey; box-shadow: 2px 2px 6px lightgrey;"> <h2><%= @group.name %> </h2></div><br>
              <%end %>
        <% unless ['posts', 'messages'].include? params[:controller] %>
          <div style="background-color: #fff; padding: 10px; border: 1px solid grey; box-shadow: 2px 2px 6px lightgrey;"><%= yield %></div>
        <% else %>
          <%= yield %>
        <% end %>
      </section>

      <% unless params[:controller] == 'signups' %>  
        <aside class="pull-right span3">

          <% if ((params[:action] == 'index' && (params[:controller] == 'posts' || params[:controller] == 'memberships')) || 
                 ((params[:action] == 'new' || 'edit') && params[:controller] == 'messages')) || params[:action] == 'show_activity' %>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:action] == 'show'%>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:action] == 'permissions'%>
            <%= render :partial => 'groups/sidebar' %>
          <% elsif params[:controller] == 'attachments'%>
            <%= render :partial => 'groups/sidebar' %>
           <% end %>
          
        </aside>
      <% end %>
    </div>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

    <% end %>

    <% if params[:action] == 'show' || (params[:controller] == 'memberships' && params[:action] == 'index') || (params[:controller] == 'posts' && params[:action] == 'index') || params[:controller] == 'attachments'%>
      <% if current_user %>
        <div>
          <% if current_user.role == 'admin' || @group.people.include?(current_user) %>
            <% if current_user.role == 'admin' %>
              <div class="navbar navbar-fixed-bottom" style="margin-bottom: 92px; width: 100%; background-color: black;">
            <% else %>
              <div class="navbar navbar-fixed-bottom" style="background-color: black;">
            <% end %>
                <ul class="nav pull-left">
              <% if(can? :edit, @post) && @post %>
                  <li><%= link_to edit_polymorphic_path([@group, @post]), id: "edit_link", data: {save_url: polymorphic_path([@group, @post]) + '/mercury_update'} do %>Edit Article<% end %></li>
                  <li class="divider-vertical"></li>
              <% end %>
              <% if(can? :publish, @post) && @post %>
                  <li><%= link_to polymorphic_path([@group, @post]), method: 'delete', :confirm => "Are you sure?" do %>Delete Article<% end %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "#modal-settings", 'data-toggle' => "modal" do %>Article Settings<% end %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "#modal-share_link", 'data-toggle' => "modal" do %><p>Share Article</p><% end %></li>
                  <li class="divider-vertical"></li>
              <% end %>
                </ul>
                <ul class="nav pull-left">
              <% if(can? :edit, @message) && @message %>
                  <li><%= link_to edit_polymorphic_path([@group, @message])  do %> Edit Discussion <% end %></li>
                  <li class="divider-vertical"></li>
              <% end %>
              <% if(can? :publish, @message) && @message %>
                  <li><%= link_to polymorphic_path([@group, @message]), method: 'delete', :confirm => "Are you sure?" do %>Delete Discussion<% end %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "#modal-settings", 'data-toggle' => "modal" do %>Discussion Settings<% end %></li>
                  <li class="divider-vertical"></li>
              <% end %>
              </ul>
              <ul class="nav pull-right">
                <% if current_user.role == 'admin' %>
                  <li class="divider-vertical"></li>
                  <li><%= link_to 'New Document', new_group_document_path(@group) %></li>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "#modal-new-page", 'data-toggle' => "modal" do %>New Page<% end %></li>
                  
                <% end %>
                <% if can? :create_in, @group %>
                  <li class="divider-vertical"></li>
                  <li><%= link_to "#modal-new-post", 'data-toggle' => "modal" do %>New Update or News Item<% end %></li>
                <% end %>
                <% if can? :create_in, @group %>
                  <li class="divider-vertical"></li>
                  <li><%= link_to 'New Discussions', new_group_message_path(@group) %></li>
                <% end %>
                <% if can? :create_in, @group %>
                  <li class="divider-vertical"></li>
                  <li><%= link_to 'New File Upload ', new_group_attachment_path(@group) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>  
        </div>
      <% end %>
    <% end %>

    <% if params[:action] == 'edit' && params[:controller] == 'posts' %>
      <% if current_user %>
        <div>
          <% if current_user.role == 'admin' || @group.people.include?(current_user) %>
            <% if current_user.role == 'admin' %>
              <div class="navbar navbar-fixed-bottom" style="margin-bottom: 92px; width: 100%; background-color: black;">
            <% else %>
              <div class="navbar navbar-fixed-bottom" style="background-color: black;">
            <% end %>
              <ul class="nav pull-left">
                <% if(can? :edit, @post) && @post %>
                  <li><%= link_to "Save Article", "javascript:document.getElementById(\"edit_post_#{@post.id}\").submit();" %></li>
                  <li class="divider-vertical"></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>

<% unless params[:action] == 'new' %>
  <% if can? :create_in, @group %>
      <div class="modal hide fade" id="modal-settings">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>group Settings</h3>
        </div>
        <div class="modal-body center">
          <table cellpadding="10">
          </table>
        </div>
        <div class="modal-footer">
           <%= button_to 'Back to group', @group %>
        </div>
      </div>

      <div class="modal hide fade" id="modal-new-page">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>New Page for Group</h3>
        </div>
        <div class="modal-body center">
        <%= form_for [@group, Page.new] do |f| %>
            <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New group page name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <%= f.submit "Create new page", :class => "btn btn-primary" %>
          <% end %>
        </div>
        <div class="modal-footer">
           <%= button_to 'Back to group', @group %>
        </div>
      </div>

      <div class="modal hide fade" id="modal-new-post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>New Article for Group</h3>
        </div>
        <div class="modal-body center">
        <%= form_for [@group, Post.new] do |f| %>
            <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New group article name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
            <%= f.submit "Create new Article", :class => "btn btn-primary" %>  
          <% end %>
        </div>
        <div class="modal-footer">
           <%= button_to 'Back to group', @group %>
        </div>
      </div>
  <% end %>
<% end %>

</html>

<script>

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>


