<% content_for :modal_settings do %>
  <div class="modal hide fade" id="modal-settings">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>group Settings</h3>
    </div>
    <div class="modal-body center">
      <table cellpadding="10">
      </table>
    </div>
    <div class="modal-footer">
       <%= button_to 'Back to group', @group %>
    </div>
  </div>

  <div class="modal hide fade" id="modal-new-page">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Page for Group</h3>
    </div>
    <div class="modal-body center">
    <%= form_for [@group, Page.new] do |f| %>
        <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New group page name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= f.submit "Create new page", :class => "btn btn-primary" %>
      <% end %>
    </div>
    <div class="modal-footer">
       <%= button_to 'Back to group', @group %>
    </div>
  </div>

  <div class="modal hide fade" id="modal-new-post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Article for Group</h3>
    </div>
    <div class="modal-body center">
    <%= form_for [@group, Post.new] do |f| %>
        <%= f.text_field :title, :class => "input-xlarge focused pull-left", :placeholder => "New group article name" %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
        <%= f.submit "Create new Article", :class => "btn btn-primary" %>  
      <% end %>
    </div>
    <div class="modal-footer">
       <%= button_to 'Back to group', @group %>
    </div>
  </div>

<% end %>

<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' && @group.name.present? %>
    <title>CCRO - Group - <%= @group.name.html_safe %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "group", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://ccro.dev/posts.rss") %>
  <%= auto_discovery_link_tag(:atom, "http://ccro.dev/posts.atom") %>
</head>
<body id="web_group">

  <%= render 'shared/nav' %>

<!--Body content (BEGIN)-->
<%= render 'shared/browser_warning' %>
  <header class="fatty <%='collapse' if params[:action] == 'show' || ['drafts', 'my_drafts'].include?(params[:filter]) %> ">
    <div id='fatty_basket' class="container">
      <div id='fatty_nav'class="row">
        <% unless current_user %>
          <div id="login_tools" class="span5">  
            <%= form_tag  :sessions, :class => "pull-right form-inline" do %>
              <%= hidden_field_tag :remember_me, '1' %>
              <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
              <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
              <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
            <% end %>
          </div>
          <div id="login-subtext" class="pull-right">
              <%= link_to 'register', new_person_path %> | <%= link_to 'forgot password', forgot_password_path %>
           </div> 
        <% end %>
      </div>
    </div>
  </header>

  
  
  <div class="container">
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :groups_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row group">
      <section class="<%= (params[:controller] == 'signups') ? '' : 'span9' %>"
               style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">
        <div style="background-color: #fff; padding: 10px; border: 1px solid grey; box-shadow: 2px 2px 6px lightgrey;"><%= yield %></div>
      </section>

      <% unless params[:controller] == 'signups' %>  
        <aside class="pull-right span3">

          <% if params[:action] == 'index' %>
            
          <% end %>

          <% if params[:action] == 'show'%>
            <%= render :partial => 'groups/sidebar' %>
          <% end %>
          
        </aside>
      <% end %>
    </div> 

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </div>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>


