<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' && @page.title.present? %>
    <title>CCRO - <%= @page.title.html_safe %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "page", :media => "all" %>
  <%= stylesheet_link_tag "signup", :media => "all" if params[:controller] == 'signups' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="web_page">

<% if can? :read, Page, {level: 'committee', :published => true}   %>
  <%= render 'shared/nav' %>
<% end %>

<!--Body content (BEGIN)-->
<%= render 'shared/browser_warning' %>
  <header class="fatty <%='collapse' if params[:action] == 'show' || ['drafts', 'my_drafts'].include?(params[:filter]) %> ">
    <div id='fatty_basket' class="container">
      <div id='fatty_nav'class="row">
        <div id="logo" class="span3">
          <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300', :id => 'header_logo'), root_path %> 
        </div>
        <div class="span4">
          <ul id="nav_links">
            <li><%= link_to 'Home', posts_path %></li>
            <li><%= link_to 'About', "/pages/2-about-the-ccro-who-we-are" %></li>
            <li><%= link_to 'Store', 'http://www.amazon.com/gp/browse.html?ie=UTF8&marketplaceID=ATVPDKIKX0DER&me=A3OWOTQ4UZUTOZ' %></li>
            <li><%= link_to 'CCRO Working Groups', '/pages/23-about-ccro-working-groups' %></li>
          </ul>
        </div>

        
          <% if current_user %>
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
                <% if can? :create, Page %>
                  <%= link_to draft_pages_path, :class => 'btn' do %>  
                    <i class="icon-list-alt"></i> Manage Page drafts
                  <% end %>
                <% end %>
              </div>
              <div class="btn-group">
                <%= link_to current_user.name, current_user, :class => 'btn' %>
                <%= link_to logout_path, :class => 'btn' do %>
                  <i class="icon-off"></i>
                <% end %>
             </div>
            </div>
          <% else %>
            <div id="login_tools" class="span5">  
              <%= form_tag  :sessions, :class => "pull-right form-inline" do %>
                <%= hidden_field_tag :remember_me, '1' %>
                <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
                <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
                <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
              <% end %>
            </div>
            <div id="login-subtext" class="pull-right">
                <%= link_to 'register', new_person_path %> | <%= link_to 'forgot password', forgot_password_path %>
             </div> 
          <% end %>
      </div>
    </div>
  </header>

  
  
  <div class="container">
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :pages_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row page">
      <section class="<%= (params[:controller] == 'signups') ? '' : 'span9' %>"
               style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">
        <%= yield %>
      </section>

      <% unless params[:controller] == 'signups' %>  
        <aside class="pull-right" style="width: 22%">

          <% if params[:action] == 'index' %>
            <ul class="nav nav-tabs nav-stacked">
              <li><%= link_to 'All Pages', pages_path() %></li>
              <li><%= link_to 'Active Pages', active_pages_path() %></li>
              <li><%= link_to 'Draft Pages', draft_pages_path() %></li>
            </ul>
          <% end %>

          <% if params[:action] == 'show'%>
            <%= yield :aside %>
          <% end %>
          
        </aside>
      <% end %>
    </div> 

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </div>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>
