
<!DOCTYPE html>
<html>
<head>
  <% if params[:action] == 'show' && @page.title.present? %>
    <title><%= strip_tags(@page.title) %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag "page", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    #page_body .redactor_toolbar {
      z-index: 1;
    }

    .floating_bar {
      width: 35px;
      height: 650px !important;
      position: absolute;
      border: solid;
      border-color: darkgray;
    }
    
  </style>
</head>
<body id="web_page">
<!--Body content (BEGIN)-->
<% if browser.ie8? || browser.ie7? %>
  <% if current_user   %>
    <div style="margin-bottom: 20px;">
      <%= render 'shared/nav' %>
    </div>
    <% if params[:action] == 'index' %>
      <div id="warning_message" style="margin-bottom: 20px;">
        <%= render 'shared/browser_warning' %>
      </div>
    <% end %>
  </div>
  <% else %>
    <%= render 'shared/public_nav' %>
  <% end %>

  <% if current_user %>
      <div class="container" >
    <% else %>
      <div class="container" style="margin-top: 70px;" >
    <% end %>
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :pages_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row page">
      <% unless params[:controller] == 'signups' %>  
        <div style="float:right; width: 22%">

          <% if params[:action] == 'index' %>
            <ul class="nav nav-tabs nav-stacked">
              <li><%= link_to 'All Pages', pages_path() %></li>
              <li><%= link_to 'Active Pages', active_pages_path() %></li>
              <li><%= link_to 'Draft Pages', draft_pages_path() %></li>
            </ul>
          <% end %>

          <% if params[:action] == 'show' || params[:action] == 'edit' %>
            <%= yield :aside %>
          <% end %>
          
        </div>
      <% end %>
      <% if @page.stretch %>
        <div style="width:100%; float:left;">
          <%= yield %>
        </div>
      <% else %>
        <div style="width:75%; float:left;">
          <%= yield %>
        </div>
      <% end %>
    </div> 

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </div>

<% else %>
  <% if current_user %>
  <div style margin-bottom: 100px;>
    <div style="margin-bottom: 100px;">
      <%= render 'shared/nav' %>
    </div>
    <% if params[:action] == 'index' %>
      <div id="warning_message" style="margin-bottom: 20px;">
        <%= render 'shared/browser_warning' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div margin-bottom:20px;>
      <%= render 'shared/public_nav' %>
    </div>
<% end %>

  <div class="container" style="margin-top: 70px;">
    <div class="row">
      <% unless params[:controller] == 'signups' %>
        <section>
          <%= yield :pages_header_image %>
        </section>
      <% end %>
    </div>

    <div class="row page">
      <% unless @page.nil? %>
          <section class="<%= (params[:controller] == 'signups') ? '' : @page.stretch ? 'span12' : 'span9' %>"
                   style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">
      <% else %>
          <section class="<%= (params[:controller] == 'signups') ? '' : 'span9' %>"
                  style="<%= (params[:controller] == 'signups') ? '' : 'margin-left: 0px;' %>">   
      <% end %>
        <%= yield %>
      </section>

      <% unless params[:controller] == 'signups' %> 
        <% if params[:action] == 'edit' %>
          <% if @page.stretch %>
          <aside class="page_aside pull-right" style="height: 362px; overflow: auto; position: fixed; margin-left:1190px; border-style:solid; border-width:1px; border-color: lightgray;">
          <% else %>
          <aside class="page_aside pull-right" style="height: 362px; overflow: auto; position: fixed; margin-left:880px; border-style:solid; border-width:1px; border-color: lightgray;">
          <% end %>
            <% @people.each do |person| %>
              <%= link_to '#', class: "insert_sticker", 'data-person' => person.id do %>
                <%= sticker_for(person,link: false) %>
              <% end %>
            <% end %>
          </aside> 
        <% else %>
          <aside class="page_aside pull-right" style="width: 22%">

            <% if params[:action] == 'index' %>
              <ul class="nav nav-tabs nav-stacked">
                <li><%= link_to 'All Pages', pages_path() %></li>
                <li><%= link_to 'Active Pages', active_pages_path() %></li>
                <li><%= link_to 'Draft Pages', draft_pages_path() %></li>
              </ul>
            <% end %>

            <% if params[:action] == 'show' %>
              <%= yield :aside %>
            <% end %>

            
          </aside>
        <% end %>
      <% end %>
    </div> 

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </div>
<% end %>

<!--Body content (END)-->
<%= render :partial => 'shared/ga' if Rails.env.production? %>
</body>
</html>

<% unless @page.nil? %>
  <% if @page.stretch %>
    <script>
      $('#widget').hide();
    </script>
  <% else %>
    <script>
      $('#widget').show();
    </script>
  <% end %>
<% end %>

<script>
  $('#stretch_button').click(function() {
    $('#widget').toggle();
    $('#widget .submittable').prop('checked', false);
  });

  $("#warning_close").click(function () {
  $("#warning_message").toggle(['slow']);
  });

</script>

<% if params[:action] == 'edit' %>
    <script>
      $(".insert_sticker").click(function (event) {
        event.preventDefault();
        $('#redactor_body').insertHtml('<img src="https://s3.amazonaws.com/ccromembers_assets/person-stickers/' + $(this).data("person") + '-sticker.png">');
      });
    </script>
<% end %>












