<!DOCTYPE html>
<html>
<head>
  <% if @survey %>
    <title><%= @survey.title %></title>
  <% else %>
    <title>CCRO - <%= "CCRO Surveys" %></title>
  <% end %>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= stylesheet_link_tag    "page", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "surveys", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "surveys" %>
  <script src='http://www.google.com/jsapi'></script>
  <%= csrf_meta_tags %>
</head>

<!--Body content (BEGIN)-->
<div class="container">
  <div class="add_blog_css">
    <% if current_user %>
      <% if browser.ie8? || browser.ie7? %>
        <div>
          <div>
            <div style="padding-top: 40px;">
              <%= render 'shared/nav' %>
            <div>
          </div>
        </div>
      <% else %>
        <div style margin-bottom: 100px;>
          <div style="margin-bottom: 100px;">
            <%= render 'shared/nav' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div margin-bottom:20px;>
        <%= render 'shared/public_nav' %>
      </div>
    <% end %>
  </div>
  <div class="survey_body">    
    <div class="row">
      <div class="container asdf" style="padding-left: 30px;">
        <div id="notices">
    			<% flash.each do |key, msg| %>
  	    	  <div id="notice_<%= key %>" class="alert alert-<%= key %>">
  	          <a class="close" data-dismiss="alert">×</a>
  	          <strong><%=  key.to_s.capitalize %>:</strong> <%= msg %>
  	        </div>
    			<% end %>
        </div> 
        <%= yield %>
      </div>
    </div>
    <br><br>  
    <footer>
      &copy; 2012 CCRO
    </footer>
  </div>
</div>

<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Loading...</h3>
  </div>
  <div class="modal-body center">
      <%= image_tag "loading.gif" %>
  </div>
  <div class="modal-footer">&nbsp;</div>
</div>

<!--Body content (END)-->
</body>
</html>

