<!DOCTYPE html>
<html>
<head>
  <title>CCRO - <%= "CCRO Surveys" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "surveys" %>
  <%= csrf_meta_tags %>
</head>
<body id="surveys">
<!--Body content (BEGIN)-->
<div class="container">
  <div class="row">
      <header class="span12">
        <div class="pull-right">
          <div class="btn-toolbar">
            <div class="btn-group">
               <% if current_user %>
                <%= link_to current_user.name, current_user, :class => 'btn' %>
                <%= link_to logout_path, :class => 'btn' do %>
                  <i class="icon-off"></i>
                <% end %>
              <% end %>
           </div>
          </div>
        </div>
        <% unless current_user %>
          <div class="pull-right">
          <%= form_tag  :sessions, :class => "form-inline" do %>
            <%= text_field_tag :email, '', :class => "span2 input-small", :placeholder => "Email" %>
            <%= password_field_tag :password, '', :class => "span2 input-small", :placeholder => "Password" %>
            <%= submit_tag 'Sign in', :class => "btn", :placeholder => "Email" %>
          <% end %>
          <%= link_to "I don't have an account, but ...", register_path, :class => 'pull-right' %>
          </div>
        <% end %>
        <%= link_to image_tag(asset_path('ccro_long.png'), :width => '300'), surveys_path %>
      </header>
  </div>
     	<div class="row">
        <div class="container center">
          <div id="notices">
      			<% flash.each do |key, msg| %>
      	    	  <div id="notice_<%= key %>" class="alert alert-<%= key %>">
      	          <a class="close" data-dismiss="alert">×</a>
      	          <strong><%=  key.to_s.capitalize %>:</strong> <%= msg %>
      	        </div>
      			<% end %>
      		</div>
      		
              <%= yield %>
        </div>
      </div>
      <br><br>  
      <footer>
        &copy; 2012 CCRO
      </footer>
    </div>
  </div>
</div>
<!--Body content (END)-->
</body>
</html>
